<!DOCTYPE html>
<html th:replace="~{layoutExtend/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">
<section>
	<div class="auto-group-nemd-yBD">
    	<div class="content-yPV">
			<div class="row-hhh">
				<div class="card-cYw" th:each="game : ${gameList}">
					<div class="head-xMu">
						<div class="center-pf1">
							<p class="kik-company-9xB" th:text="${game.gameName}">게임 이름</p>
						</div>
          			</div>
          			<div class="content-DBM">
			            <div class="project-L15">
							<div class="left-Fdq">
			                	<p class="open-projects--YN3">히트 포인트:</p>
			                </div>
			              	<p class="item-8-5cs" th:text="${game.hitPoint}">10</p>
			            </div>
			            <div class="project-L15">
			              	<div class="left-Fdq">
			                	<p class="open-projects--YN3">실패 포인트:</p>
			              	</div>
			              	<p class="item-8-5cs" th:text="${game.missPoint}">10</p>
			            </div>
						<div class="project-L15">
						    <div class="left-Fdq">
						      <p class="open-projects--YN3">게임 시간:</p>
						    </div>
						    <p class="item-8-5cs" th:text="${game.gameTime}" >100</p>초
						</div>
						<input class="button-nqM" type="button" value="Play" th:onclick="|location.href='@{/pvp/{gameId} (gameId=${game.gameId})}'|"/>
          			</div>
          			<div class="foot-xMu">
						<div class="game-foot">
						</div>
					</div>
        		</div>
      		</div>
    	</div>
    </div>
</section>
</html>