
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120rem;
}.clients-1200-ehD {
  flex-direction: column;
  background-color: #f7f8fa;
  padding-bottom: 3rem;
  width: 100%;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  position: relative;
  align-items: center;

  .navigate-La3 {
    padding: 2.5rem;
    width: 100%;
    height: 10rem;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;
    margin-bottom: 3rem;
    box-sizing: border-box;

    .content-5Gj {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-q11 {
        margin-right: 10.55rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button-P2X {
          margin-right: 3.5rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
        }
        .constructor-umZ {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .menu-2bH {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 1.25rem 11.75rem 1.25rem 0rem;
        height: calc(100% - 2.5rem);

        .dashboard-LM5 {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
        }
        .about-us-rKR {
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
        }
        .news-zAj {
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .user-policy-XAf {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
        }
        .contacts-4Ab {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
        }
        .icon-C1u {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.6rem;
          height: 0.4rem;
        }
      }
      .right-X4B {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .user-UEK {
          height: calc(100% - 2.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 1.25rem 3rem 1.25rem 0rem;

          .icon-QNs {
            margin-right: 2rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .clayton-santos-Yjy {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
            color: #6b7a99;
          }
        }
        .control-4yD {
          display: flex;
          column-gap: 1rem;
          align-items: center;
          flex-shrink: 0;
          height: 100%;

          .button-DLK {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
          }
          .notification-9Us {
            height: 5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 5rem;
          }
          .button-VHq {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .content-oZR {
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
    flex-shrink: 0;
    margin: 0rem 2.5rem 0rem 4.5rem;
    align-items: center;
    box-sizing: border-box;
    width: calc(100% - 7rem);
    border: solid 0.2rem #edeff2;

    .head-vtw {
      box-sizing: border-box;
      padding-left: 4rem;
      width: 100%;
      height: 8rem;
      border: solid 0.1rem #edeff2;
      flex-shrink: 0;

      .icon-tab-g7R {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .tab-qFD {
          border: solid 0.2rem #3360ff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3rem 1rem 3rem 0.5rem;
          height: 100%;
          display: flex;
          align-items: center;

          .icon-Zwu {
            margin-right: 1rem;
            width: 2rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .tab-J8o {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #3360ff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-yw1r-p79 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.5rem 0rem 0.5rem 2.6rem;
          height: 100%;
          display: flex;
          align-items: center;

          .tab-XXM {
            margin: 2.5rem 70.5rem 2.5rem 0rem;
            height: calc(100% - 5rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .icon-41V {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.1rem;
              width: 1.8rem;
              height: 1.8rem;
            }
            .tab-aVd {
              flex-shrink: 0;
              text-align: center;
              font-size: 1.2rem;
              font-weight: 900;
              line-height: 1.6666666667;
              color: #7d8fb3;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-s8zm-WeB {
            margin-bottom: 1.5rem;
            box-sizing: border-box;
            padding-top: 1.5rem;
            width: 16.4rem;
            height: 5.5rem;
            flex-shrink: 0;

            .button-SXq {
              height: 100%;
              font-size: 1.2rem;
              font-weight: 900;
              white-space: nowrap;
              justify-content: center;
              border: solid 0.2rem #3360ff;
              margin-right: 4rem;
              text-align: center;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              display: flex;
              box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
              border-radius: 2rem;
              width: 12.4rem;
              line-height: 1.6666666667;
              align-items: center;
              box-sizing: border-box;
              background-color: #3360ff;
            }
          }
        }
      }
    }
    .auto-group-rbfu-3Xd {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 3.5rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .head-zBy {
        box-sizing: border-box;
        display: flex;
        column-gap: 12.9rem;
        align-items: center;
        margin: 0rem 2rem 6rem 0rem;
        padding: 2rem 4rem;
        height: 8rem;
        border: solid 0.1rem #edeff2;
        flex-shrink: 0;

        .clients-46-companies-JCf {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2.1428571429;
          color: #6b7a99;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .center-qCb {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          align-items: center;

          .group-button-bBm {
            margin-right: 2rem;
            width: 8.6rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .input-X5R {
            display: flex;
            box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
            border-radius: 3rem;
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1rem 11.1rem 1rem 1.98rem;
            height: 100%;
            align-items: center;

            .icon-rdV {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.556rem 0.075rem 0rem;
              width: 1.3639rem;
              height: 1.3647rem;
              object-fit: contain;
            }
            .text-mVZ {
              font-weight: 900;
              line-height: 2;
              color: #7d8fb3;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
            }
          }
        }
        .sort-Srb {
          column-gap: 2.3rem;
          align-items: center;
          flex-shrink: 0;
          margin: 1rem 0;
          height: calc(100% - 2rem);
          display: flex;

          .sort-by--wYT {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .name-swu {
            line-height: 1.6666666667;
            color: #3360ff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 900;
          }
          .budget-ps9 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
          }
          .projects-mXV {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .tasks-iSj {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #6b7a99;
          }
        }
      }
      .table-RM9 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 5.5rem 0rem 3.5rem;
        width: calc(100% - 9rem);

        .row-LU7 {
          margin: 0rem 0rem 4rem 2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .logo-fFV {
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .name-company-CFR {
            margin-right: 18.05rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .open-projects-izT {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.55rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
          }
          .members-dbd {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.25rem;
          }
          .open-tasks-N3R {
            flex-shrink: 0;
            margin-right: 5.35rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .budget-gpo {
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .controls-pg7 {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .row-Mvw {
          width: 100%;
          height: 9rem;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          margin-bottom: 1.5rem;
          padding: 2.5rem 3.5rem 2.5rem 3.3rem;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;

          .cell-5M9 {
            margin-right: 5.3rem;
            width: 2.4rem;
            height: 2.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-crs {
            margin: 1rem 14.65rem 1rem 0rem;
            height: calc(100% - 2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .apple-company-MZZ {
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.6rem;
              font-size: 1.2rem;
              font-weight: 700;
            }
            .electronic-VQs {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
            }
          }
          .item-8-ogT {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 12.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-4-wXm {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.95rem;
          }
          .item-12-UXh {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.8rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-556600-DEP {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .cell-8cF {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-S79 {
          display: flex;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          height: 9rem;
          background-color: #ffffff;
          flex-shrink: 0;
          padding: 2.5rem 3.5rem 2.5rem 2.75rem;
          width: 100%;

          .cell-k7q {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 4.75rem 0rem 0rem;
            width: 3.5001rem;
            height: 3.5rem;
          }
          .frame-4uD {
            margin: 1rem 8.45rem 1rem 0rem;
            height: calc(100% - 2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .bmw-motors-company-QTH {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.6rem;
            }
            .auto-buelding-k1M {
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
          }
          .item-8-g9u {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 12.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-4-Ce3 {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.95rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-12-wLj {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.8rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .item-556600-gJK {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.2rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .cell-otj {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-Wo9 {
          margin-bottom: 1.5rem;
          padding: 2.5rem 3.5rem 2.5rem 2.113rem;
          width: 100%;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          height: 9rem;
          display: flex;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

          .cell-1ju {
            flex-shrink: 0;
            margin: 0rem 4.113rem 0rem 0rem;
            width: 4.7745rem;
            height: 1.7331rem;
            object-fit: contain;
            vertical-align: top;
          }
          .frame-jvo {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 1rem 14.85rem 1rem 0rem;
            height: calc(100% - 2rem);

            .tinder-company-5Us {
              flex-shrink: 0;
              margin-right: 1.6rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .web-site-DLB {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .item-8-Lvb {
            flex-shrink: 0;
            margin-right: 12.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-4-5dH {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.95rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-12-pKy {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.8rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-556600-9t3 {
            margin-right: 9.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .cell-Gxf {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-z7y {
          margin-bottom: 1.5rem;
          display: flex;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 2.5rem 3.5rem 2.5rem 1.952rem;
          width: 100%;
          height: 9rem;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;

          .cell-hHH {
            width: 5.0964rem;
            height: 0.7462rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 3.952rem 0rem 0rem;
          }
          .frame-QhV {
            flex-shrink: 0;
            margin: 1rem 7.25rem 1rem 0rem;
            height: calc(100% - 2rem);
            display: flex;
            align-items: center;

            .samsung-company-wSX {
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.6rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
            .electronic-company-Tvf {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item-8-oDq {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 12.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-4-jdH {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.95rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-12-5BM {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.8rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-556600-D2f {
            flex-shrink: 0;
            margin-right: 9.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .cell-LNB {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-eNs {
          margin-bottom: 1.5rem;
          padding: 2.5rem 3.5rem 2.5rem 2.05rem;
          background-color: #ffffff;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          height: 9rem;
          display: flex;
          align-items: center;

          .cell-x8f {
            margin: 0rem 4.05rem 0rem 0rem;
            width: 4.9rem;
            height: 3.4297rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-g4f {
            margin: 1rem 6.05rem 1rem 0rem;
            height: calc(100% - 2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .salesforce-company-Coh {
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.6rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
            .application-software-8hM {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
            }
          }
          .item-8-efh {
            flex-shrink: 0;
            margin-right: 12.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-4-zDm {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.95rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-12-KWw {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.8rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-556600-2gF {
            flex-shrink: 0;
            margin-right: 9.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .cell-ks9 {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-TFm {
          margin-bottom: 1.5rem;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.5rem 3.5rem 2.5rem 2.814rem;
          width: 100%;
          height: 9rem;
          display: flex;
          background-color: #ffffff;

          .cell-M6F {
            margin: 0rem 4.814rem 0rem 0rem;
            width: 3.3712rem;
            height: 3.8513rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-5H9 {
            align-items: center;
            flex-shrink: 0;
            margin: 1rem 12.25rem 1rem 0rem;
            height: calc(100% - 2rem);
            display: flex;

            .shell-corporation-bmH {
              flex-shrink: 0;
              margin-right: 1.6rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .oil-company-iqu {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item-8-knb {
            margin-right: 12.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-4-ggF {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.95rem;
            font-size: 1.2rem;
          }
          .item-12-DRH {
            flex-shrink: 0;
            margin-right: 7.8rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-556600-ws5 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .cell-skj {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-BWX {
          height: 9rem;
          display: flex;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 100%;
          padding: 2.5rem 3.5rem 2.5rem 2.239rem;
          align-items: center;
          background-color: #ffffff;
          box-sizing: border-box;

          .cell-GwH {
            margin: 0rem 4.239rem 0rem 0rem;
            width: 4.5222rem;
            height: 1.3854rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .frame-18B {
            flex-shrink: 0;
            margin: 1rem 10.05rem 1rem 0rem;
            height: calc(100% - 2rem);
            display: flex;
            align-items: center;

            .fedex-company-jps {
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 1.6rem;
              font-size: 1.2rem;
            }
            .delivery-company-fiX {
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
            }
          }
          .item-8-o43 {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 12.3rem;
          }
          .item-4-Xkj {
            flex-shrink: 0;
            margin-right: 11.95rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-12-GTR {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.8rem;
            font-size: 1.2rem;
          }
          .item-556600-zuD {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.2rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .cell-X8T {
            flex-shrink: 0;
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
    }
  }
}
