
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120rem;
}.clients-1200-Pod {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  box-sizing: border-box;
  padding-bottom: 3rem;
  width: 100%;
  overflow: hidden;

  .navigate-H8K {
    height: 10rem;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 100%;

    .content-QCw {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-kXh {
        align-items: center;
        flex-shrink: 0;
        margin-right: 10.55rem;
        height: 100%;
        display: flex;

        .button-gw9 {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
          margin-right: 3.5rem;
        }
        .constructor-cK1 {
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
        }
      }
      .menu-WQP {
        flex-shrink: 0;
        margin: 1.25rem 11.75rem 1.25rem 0rem;
        height: calc(100% - 2.5rem);
        display: flex;
        align-items: center;

        .dashboard-E5V {
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .about-us-XqH {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
        }
        .news-fAo {
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
        }
        .user-policy-PsV {
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
        }
        .contacts-LGw {
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.3rem;
          font-weight: 700;
        }
        .icon-UP9 {
          width: 1.6rem;
          height: 0.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .right-cET {
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .user-Mxj {
          align-items: center;
          flex-shrink: 0;
          margin: 1.25rem 3rem 1.25rem 0rem;
          height: calc(100% - 2.5rem);
          display: flex;

          .icon-JNB {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
          }
          .clayton-santos-SjH {
            line-height: 1.9230769231;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
          }
        }
        .control-n2T {
          height: 100%;
          display: flex;
          column-gap: 1rem;
          align-items: center;
          flex-shrink: 0;

          .button-8MD {
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .notification-4kf {
            vertical-align: top;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            position: relative;
            object-fit: contain;
          }
          .button-1A7 {
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
          }
        }
      }
    }
  }
  .content-KRh {
    padding-bottom: 3rem;
    width: 155.6rem;
    border: solid 0.2rem #edeff2;
    border-radius: 2rem;
    flex-shrink: 0;
    margin-left: 4.5rem;
    box-sizing: border-box;

    .head-eis {
      height: 8rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #edeff2;
      margin: 0rem 44.6rem 3rem 0rem;
      box-sizing: border-box;
      padding: 2rem;
      width: calc(100% - 44.6rem);

      .breadcrumbs-ZL3 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 68.45rem;

        .item-iCw {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-right: 3.2rem;
          height: 100%;

          .button-fP5 {
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 4rem;
            height: 4rem;
          }
          .companies-nCo {
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .item-i6T {
          height: calc(100% - 1.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0.75rem 0;

          .navigation-arrowforward-rTZ {
            height: 1.5185rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.892rem 0.082rem 0rem;
            width: 1.5583rem;
          }
          .sallie-chandler-y2P {
            text-align: center;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
      }
      .button-6co {
        height: 100%;
        text-align: center;
        background-color: #3360ff;
        box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
        flex-shrink: 0;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        box-sizing: border-box;
        line-height: 1.6666666667;
        color: #ffffff;
        justify-content: center;
        border-radius: 2rem;
        border: solid 0.2rem #3360ff;
        width: 9.1rem;
        font-size: 1.2rem;
        font-weight: 900;
        display: flex;
      }
    }
    .content-83h {
      width: calc(100% - 3rem);
      height: 87rem;
      display: flex;
      align-items: center;
      margin-left: 3rem;

      .profile-enj {
        margin-right: 2rem;
        width: 27.5rem;
        height: 100%;
        flex-direction: column;
        box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
        border-radius: 1rem;
        box-sizing: border-box;
        padding-bottom: 3.3rem;
        align-items: center;
        display: flex;
        background-color: #ffffff;
        flex-shrink: 0;

        .auto-group-jwl7-nP9 {
          box-sizing: border-box;
          padding: 3rem 3rem 0rem 3rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .head-uyZ {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 3.9567rem;
            width: 100%;

            .button-fhq {
              flex-shrink: 0;
              margin-right: 13.5rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
            }
            .button-zk7 {
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
            }
          }
          .avatar-jBu {
            margin: 0 5.05rem;
            width: calc(100% - 10.1rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .logo-sJ7 {
              margin: 0rem 0rem 4.457rem 0rem;
              width: 5.3695rem;
              height: 6.5865rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .text-Q39 {
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .sallie-chandler-A2K {
                margin-bottom: 2rem;
                font-size: 1.3rem;
                font-weight: 900;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: center;
                line-height: 1.9230769231;
                white-space: nowrap;
              }
              .account-manager-59H {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
        .content-zn3 {
          width: 100%;
          border: solid 0.2rem #f5f6f7;
          flex-shrink: 0;
          margin-bottom: 3.5rem;
          box-sizing: border-box;
          align-items: center;
          display: flex;
          flex-direction: column;
          padding: 3.5rem 4.141rem 3.5rem 3.5rem;
          row-gap: 2.5rem;

          .company-7Ls {
            width: 100%;
            height: 2rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .left-4mu {
              margin-right: 6.2rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .social-domain-ozP {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.5rem;
                width: 2rem;
                height: 1.8rem;
                object-fit: contain;
              }
              .fed-ex-company-jt3 {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #6b7a99;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
            }
            .navigation-chevronright-Gd5 {
              flex-shrink: 0;
              margin-bottom: 0.0834rem;
              width: 0.6585rem;
              height: 1.1166rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .mail-Bzw {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 2rem;

            .left-k2T {
              margin-right: 4.9rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .content-mail-teT {
                width: 2rem;
                height: 1.6rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.5rem;
              }
              .schandlergmailcom-Dwd {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #6b7a99;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .navigation-chevronright-LFZ {
              margin-bottom: 0.0834rem;
              width: 0.6585rem;
              height: 1.1166rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .phone-SpP {
            margin-left: 0.1rem;
            width: calc(100% - 0.1rem);
            height: 2rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .left-a9u {
              align-items: center;
              flex-shrink: 0;
              margin-right: 4.5rem;
              height: 100%;
              display: flex;

              .maps-localphone-8BR {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 2.604rem 0.004rem 0rem;
                width: 1.7964rem;
                height: 1.7964rem;
                object-fit: contain;
              }
              .item-1-345-556-2248-ST1 {
                line-height: 1.6666666667;
                color: #6b7a99;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
              }
            }
            .navigation-chevronright-xAT {
              margin-bottom: 0.0834rem;
              width: 0.6585rem;
              height: 1.1166rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .site-4zB {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-left: 0.1rem;
            width: calc(100% - 0.1rem);
            height: 2rem;

            .left-Qo9 {
              flex-shrink: 0;
              margin-right: 3.5rem;
              height: 100%;
              display: flex;
              align-items: center;

              .social-icshare2-mNo {
                margin: 0rem 2.6rem 0.1rem 0rem;
                width: 1.8rem;
                height: 1.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .http-schandlercom-tCX {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #6b7a99;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
            }
            .navigation-chevronright-cPR {
              margin-bottom: 0.0834rem;
              width: 0.6585rem;
              height: 1.1166rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .address-8cf {
            margin-left: 0.3rem;
            width: calc(100% - 0.3rem);
            height: 2rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .left-fsV {
              margin-right: 2.9rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .content-flag-Du1 {
                margin: 0.1rem 2.7rem 0rem 0rem;
                width: 1.5rem;
                height: 1.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .henderson-park-8m5 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #6b7a99;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .navigation-chevronright-rwy {
              margin-bottom: 0.0834rem;
              width: 0.6585rem;
              height: 1.1166rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .social-m3M {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 4.141rem 0rem 3.3rem;
          width: calc(100% - 7.4415rem);
          align-items: center;
          display: flex;

          .auto-group-vhsx-gAK {
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 0rem 2.3rem 0.2rem;
            width: 100%;
            align-items: flex-end;
            display: flex;

            .messenger-C8f {
              margin-bottom: 2.4876rem;
              width: 100%;
              height: 2.0124rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-vqM {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 4.5rem;

                .social-icons-icmessenger--HA7 {
                  margin-right: 2.5rem;
                  width: 2rem;
                  height: 2.0124rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-1-345-556-2248-D3m {
                  margin-bottom: 0.0124rem;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-chevronright-WHm {
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0958rem;
              }
            }
            .facebook-ddH {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 2.5rem 0.6rem;
              width: calc(100% - 0.6rem);

              .left-9Lj {
                margin-right: 6.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-icons-icfacebook-JUX {
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 3rem;
                  width: 0.9rem;
                }
                .sallie-chandler-qUT {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
              .navigation-chevronright-NUP {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
              }
            }
            .skype-J79 {
              margin: 0rem 0rem 2.5rem 0.025rem;
              width: calc(100% - 0.0246rem);
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-DV1 {
                margin-right: 2.9rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-icons-icslype-xxP {
                  flex-shrink: 0;
                  margin: 0.001rem 2.53rem 0rem 0rem;
                  width: 1.9457rem;
                  height: 1.974rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .sallie-chandler-skyp-gdV {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-chevronright-QpP {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
              }
            }
            .telegram-w3d {
              width: calc(100% - 0.1116rem);
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 2.5rem 0.112rem;

              .left-Fq1 {
                margin-right: 4.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-icons-ictelegram-cfZ {
                  width: 1.6315rem;
                  height: 1.3676rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.172rem 2.757rem 0rem 0rem;
                }
                .item-1-345-556-2248-Kps {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
              .navigation-chevronright-qoD {
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
              }
            }
            .whatsapp-aF1 {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;

              .left-KyH {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 4.5rem;
                height: 100%;

                .social-icons-icwhatsapp-5Bm {
                  margin: 0rem 2.5rem 0.001rem 0rem;
                  width: 2rem;
                  height: 1.9994rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-1-345-556-2248-zZd {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
              .navigation-chevronright-Wns {
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
              }
            }
          }
          .viber-327 {
            width: 100%;
            height: 2.4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .left-zCF {
              align-items: center;
              flex-shrink: 0;
              margin-right: 4.5rem;
              height: 100%;
              display: flex;

              .social-icons-icviber-jvX {
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.3rem;
              }
              .item-1-345-556-2248-smq {
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
            }
            .navigation-chevronright-PkB {
              margin-bottom: 0.0834rem;
              width: 0.6585rem;
              height: 1.1166rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .base-fhh {
        padding-bottom: 4rem;
        width: 123.1rem;
        height: 100%;
        border: solid 0.2rem #edeff2;
        border-radius: 1rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .head-1Fm {
          padding-left: 14.1rem;
          width: 100%;
          height: 8rem;
          border: solid 0.2rem #edeff2;
          margin-bottom: 4rem;
          box-sizing: border-box;

          .icon-tab-LYw {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .tab-hPV {
              align-items: center;
              border: solid 0.2rem #3360ff;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 3rem 1rem 3rem 0.5rem;
              height: 100%;
              display: flex;

              .icon-cFZ {
                width: 2rem;
                height: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1rem;
              }
              .tab-kMm {
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #3360ff;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .auto-group-hewr-G5D {
              column-gap: 3.5rem;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 3rem 62.7rem 3rem 3rem;
              width: 98.1rem;
              height: 100%;
              display: flex;

              .tab-km5 {
                flex-shrink: 0;
                height: 100%;
                display: flex;
                align-items: center;

                .icon-6pw {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.5rem;
                  width: 1rem;
                  height: 1.6rem;
                  object-fit: contain;
                }
                .tab-RsD {
                  font-size: 1.2rem;
                  font-weight: 900;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                }
              }
              .tab-xcF {
                align-items: center;
                flex-shrink: 0;
                height: 100%;
                display: flex;

                .icon-ibR {
                  margin: 0rem 0.941rem 0.041rem 0rem;
                  width: 2.0593rem;
                  height: 1.3592rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .tab-dyH {
                  font-size: 1.2rem;
                  font-weight: 900;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                }
              }
              .tab-Zrw {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .icon-iE3 {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.941rem 0.041rem 0rem;
                  width: 2.0593rem;
                  height: 1.3592rem;
                }
                .tab-31R {
                  text-align: center;
                  font-size: 1.2rem;
                  font-weight: 900;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
        .content-x8P {
          row-gap: 2.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          margin-left: 4.5rem;
          width: 66.5rem;

          .row-f2o {
            display: flex;
            column-gap: 2.5rem;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 8rem;

            .input-zKy {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-k4F {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
              }
              .input-GHV {
                box-sizing: border-box;
                padding: 1.5rem 3.6rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;

                .icon-Q8o {
                  width: 2rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.5rem;
                }
                .text-jwm {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .input-3Bm {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-PmR {
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
              }
              .input-iHu {
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 9.6rem 1.5rem 2rem;

                .icon-3qy {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.441rem 0.041rem 0rem;
                  width: 2.0593rem;
                  height: 1.3592rem;
                }
                .text-mmy {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
            .input-URV {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-2hu {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
              }
              .input-kto {
                padding: 1.5rem 3.8rem 1.5rem 2.1rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;

                .icon-VbV {
                  height: 1.7964rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.604rem 0.004rem 0rem;
                  width: 1.7964rem;
                }
                .text-RV9 {
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .row-vB1 {
            flex-shrink: 0;
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2.5rem;
            align-items: center;

            .input-f8b {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-p1V {
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
              .input-Xgb {
                box-sizing: border-box;
                padding: 1.5rem 3.8rem 1.5rem 2.1rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;

                .icon-GPH {
                  margin: 0rem 1.6rem 0.1rem 0rem;
                  width: 1.8rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-BFM {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .input-4a3 {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-Q87 {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
              }
              .input-XTd {
                box-sizing: border-box;
                padding: 1.5rem 2.9rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;

                .icon-FPd {
                  flex-shrink: 0;
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .text-y4j {
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
            }
            .input-GZd {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-QQw {
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
              }
              .input-Kno {
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 6.6rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;

                .icon-S6j {
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-jbd {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .input-BiX {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .label-uuR {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
            }
            .input-zfy {
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              background-color: #ffffff;
              border-radius: 0.5rem;
              flex-shrink: 0;
              box-sizing: border-box;
              align-items: center;
              display: flex;
              padding: 1.5rem 38.5rem 1.5rem 2.3rem;
              width: 100%;

              .icon-goh {
                margin: 0.1rem 1.7rem 0rem 0rem;
                width: 1.5rem;
                height: 1.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .text-Py1 {
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
              }
            }
          }
          .row-tPy {
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2.5rem;
            align-items: center;
            flex-shrink: 0;

            .input-Qt7 {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-wt3 {
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
              }
              .input-GQX {
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 12.6rem 1.5rem 2.6rem;
                width: 100%;
                display: flex;

                .icon-BnP {
                  flex-shrink: 0;
                  margin-right: 2rem;
                  width: 0.9rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .text-vEB {
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
            }
            .input-Dyy {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-NM5 {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-6H5 {
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 10.1rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;

                .icon-PX5 {
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.5rem;
                  width: 2rem;
                }
                .text-vG7 {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .input-cPq {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-MMR {
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
              .input-US3 {
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 10.1rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

                .icon-CN3 {
                  margin: 0rem 1.5rem 0rem 0rem;
                  width: 1.9998rem;
                  height: 1.9998rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-Jfy {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
          }
          .row-osd {
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2.5rem;
            align-items: center;
            flex-shrink: 0;

            .input-kH5 {
              height: 100%;
              flex-shrink: 0;
              width: 20.5rem;

              .label-W1M {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-Ru1 {
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 10.1rem 1.5rem 2.1rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;

                .icon-N3Z {
                  width: 1.8rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.1rem 1.6rem 0rem 0rem;
                }
                .text-6ET {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .input-bS7 {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-LPh {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-G2T {
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 10.1rem 1.5rem 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;

                .icon-nmV {
                  margin: 0rem 1.402rem 0.016rem 0rem;
                  width: 2.1985rem;
                  height: 1.3836rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-v71 {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .input-1eF {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-mNX {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
              }
              .input-Hrf {
                box-sizing: border-box;
                padding: 1.4rem 10.1rem 1.4rem 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;

                .icon-2JT {
                  margin-right: 1.4rem;
                  width: 2.2rem;
                  height: 2.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-ZZH {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
          .row-TPm {
            flex-shrink: 0;
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2.5rem;
            align-items: center;

            .input-BqZ {
              flex-shrink: 0;
              width: 20.5rem;
              height: 100%;

              .label-91h {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-ez3 {
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 12.6rem 1.488rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;

                .icon-Bj5 {
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 2.0124rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-7sd {
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.0124rem;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
            }
            .input-pX9 {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-mhH {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-h59 {
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 12.6rem 1.5rem 2.1rem;
                width: 100%;
                display: flex;

                .icon-2dD {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 1.8rem;
                  height: 1.8rem;
                }
                .text-mKu {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .input-4Zu {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-DSo {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-wtb {
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 10.1rem 1.5rem 2.025rem;
                width: 100%;
                display: flex;
                align-items: center;

                .icon-5zo {
                  margin: 0.001rem 1.53rem 0rem 0rem;
                  width: 1.9457rem;
                  height: 1.974rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-QXH {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
          }
          .row-i2B {
            flex-shrink: 0;
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2.5rem;
            align-items: center;

            .input-qcb {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-CCF {
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
              }
              .input-85u {
                padding: 1.5rem 9.9rem 1.5rem 2.112rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;

                .icon-epw {
                  height: 1.3676rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.172rem 1.757rem 0rem 0rem;
                  width: 1.6315rem;
                }
                .text-Nkw {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .input-psq {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-ARu {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-5om {
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 3.8rem 1.5rem 2rem;

                .icon-D9H {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.5rem 0.001rem 0rem;
                  width: 2rem;
                  height: 1.9994rem;
                  object-fit: contain;
                }
                .text-ibq {
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
            }
            .input-QzT {
              width: 20.5rem;
              height: 100%;
              flex-shrink: 0;

              .label-Muh {
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
              }
              .input-5Ku {
                padding: 1.3rem 3.8rem 1.3rem 1.8rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;

                .icon-oWo {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.3rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                }
                .text-Wg7 {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
          }
        }
      }
    }
  }
}
