
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76.8rem;
}.clients-768-7aP {
  background-color: #f7f8fa;
  box-sizing: border-box;
  padding-bottom: 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .navigate-cX9 {
    width: 100%;
    height: 10rem;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 2.5rem;

    .content-Yfh {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;

      .logo-6x7 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 14.9rem;
        height: 100%;

        .button-eyd {
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
          margin-right: 3.5rem;
          width: 5rem;
          height: 5rem;
        }
        .constructor-ym1 {
          font-weight: 700;
          line-height: 1.6666666667;
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
        }
      }
      .right-VzF {
        align-items: center;
        flex-shrink: 0;
        height: 100%;
        display: flex;

        .user-es9 {
          margin: 1.25rem 3rem 1.25rem 0rem;
          height: calc(100% - 2.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-yPd {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
          }
          .clayton-santos-7Ew {
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
          }
        }
        .control-dyy {
          display: flex;
          column-gap: 1rem;
          align-items: center;
          flex-shrink: 0;
          height: 100%;

          .button-Mf5 {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
          }
          .notification-JKR {
            width: 5rem;
            height: 5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .button-RQ3 {
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
          }
          .button-xes {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .content-sG3 {
    align-items: center;
    box-sizing: border-box;
    border-radius: 3rem;
    width: 113rem;
    display: flex;
    flex-direction: column;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;
    margin-left: 4rem;

    .head-bxj {
      box-sizing: border-box;
      padding-left: 4.5rem;
      width: 100%;
      height: 8rem;
      border: solid 0.1rem #edeff2;
      flex-shrink: 0;

      .icon-tab-Ysy {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .tab-i1m {
          margin: 3rem 3rem 3rem 0rem;
          height: calc(100% - 6rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-STZ {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2rem;
            height: 1.8rem;
          }
          .tab-mkj {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .tab-JEs {
          box-sizing: border-box;
          padding: 3rem 1rem 3rem 0.6rem;
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.2rem #3360ff;
          flex-shrink: 0;

          .icon-EPR {
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1.1rem;
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
          }
          .tab-yM1 {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #3360ff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .auto-group-yagp-HsV {
          box-sizing: border-box;
          padding: 0.5rem 46rem 0.5rem 24rem;
          width: 85.9rem;
          height: 100%;
          flex-shrink: 0;

          .auto-group-tcfq-oaw {
            margin-bottom: 1.5rem;
            box-sizing: border-box;
            padding: 1.5rem 0rem 0rem 3.5rem;
            width: 100%;
            height: 5.5rem;

            .button-KZH {
              font-weight: 900;
              display: flex;
              align-items: center;
              height: 100%;
              font-size: 1.2rem;
              color: #ffffff;
              white-space: nowrap;
              box-sizing: border-box;
              background-color: #3360ff;
              border-radius: 2rem;
              text-align: center;
              line-height: 1.6666666667;
              font-family: Roboto, 'Source Sans Pro';
              border: solid 0.2rem #3360ff;
              width: 100%;
              justify-content: center;
              box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
            }
          }
        }
      }
    }
    .auto-group-69pj-w4s {
      box-sizing: border-box;
      padding-bottom: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .head-Gsq {
        margin-bottom: 4.5rem;
        padding: 2rem 4rem;
        align-items: center;
        border: solid 0.1rem #edeff2;
        box-sizing: border-box;
        height: 8rem;
        display: flex;
        column-gap: 3.6rem;
        flex-shrink: 0;

        .clients-46-companies-PhZ {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2.1428571429;
          color: #6b7a99;
          font-family: Roboto, 'Source Sans Pro';
        }
        .center-KbD {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-button-ggf {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 8.6rem;
          }
          .input-2Ej {
            box-sizing: border-box;
            height: 100%;
            box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
            border-radius: 3rem;
            padding: 1rem 11.1rem 1rem 1.98rem;
            display: flex;
            align-items: center;
            background-color: #ffffff;
            flex-shrink: 0;

            .icon-Yym {
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 1.556rem 0.075rem 0rem;
              width: 1.3639rem;
              height: 1.3647rem;
              object-fit: contain;
            }
            .text-fYb {
              font-weight: 900;
              line-height: 2;
              color: #7d8fb3;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
            }
          }
        }
        .button-MAX {
          padding: 1rem 2.417rem 1rem 2rem;
          height: 100%;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 2rem;

          .button-gyV {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.34rem;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
          }
          .icon-dNw {
            margin-top: 0.0546rem;
            width: 1.043rem;
            height: 0.6146rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .table-gMD {
        margin-left: 2rem;
        width: 65rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .row-CqM {
          margin: 0rem 2.4rem 4rem 2rem;
          width: calc(100% - 4.4rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .logo-Kuy {
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.4rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .name-company-4Mm {
            flex-shrink: 0;
            margin-right: 10rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .open-projects-b6o {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.45rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
          }
          .members-7aw {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 7.25rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
          }
          .open-tasks-eKy {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.05rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
          }
          .budget-NWs {
            margin-right: 3.55rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .controls-7UT {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
          }
        }
        .row-3su {
          padding: 2rem 3rem 0.5rem 2rem;
          display: flex;
          background-color: #ffffff;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          width: 100%;
          align-items: center;

          .avatar-image-xzs {
            flex-shrink: 0;
            margin: 0rem 2rem 1.5rem 0rem;
            width: 5rem;
            background-color: rgba(255, 203, 51, 0.3000000119);
            border-radius: 300rem;

            .auto-group-ye7q-WFh {
              vertical-align: top;
              width: 5rem;
              height: 5rem;
              position: relative;
              object-fit: contain;
            }
          }
          .left-R7m {
            margin: 0rem 3.4rem 1.5rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .carrie-alexander-9ZZ {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
            }
            .account-manager-4Aj {
              font-weight: 700;
              line-height: 2;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
            }
          }
          .bmw-company-aes {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 5.4rem 1.5rem 0rem;
            max-width: 5.1rem;
          }
          .zomaomazaibgov-HpB {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0.5rem 4.4rem 0rem 0rem;
            max-width: 6.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .item-840-574-8039-CRM {
            margin: 0rem 3.8rem 1.5rem 0rem;
            max-width: 6.5rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .item-10-72X {
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .cell-phd {
            margin-bottom: 1.5rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-iY7 {
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          padding: 2rem 3rem 0.5rem 2rem;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;

          .avatar-image-duy {
            flex-shrink: 0;
            margin: 0rem 2rem 1.5rem 0rem;
            width: 5rem;
            background-color: rgba(136, 51, 255, 0.200000003);
            border-radius: 300rem;

            .auto-group-1znp-mmH {
              object-fit: contain;
              vertical-align: top;
              width: 5rem;
              height: 5rem;
              position: relative;
            }
          }
          .left-tb1 {
            flex-shrink: 0;
            margin: 0rem 4.5rem 1.5rem 0rem;
            display: flex;
            flex-direction: column;

            .gabriel-hart-doV {
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .account-manager-meo {
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              line-height: 2;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .fed-ex-company-um1 {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 5.4rem 1.5rem 0rem;
            max-width: 5.1rem;
            font-size: 1.2rem;
          }
          .zomaomazaibgov-cvK {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0.5rem 4.4rem 0rem 0rem;
            max-width: 6.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .item-840-574-8039-7cB {
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
            max-width: 6.5rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-10-ozo {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .cell-8GP {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
          }
        }
        .row-puu {
          padding: 2rem 3rem 0.5rem 2rem;
          display: flex;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          flex-shrink: 0;

          .avatar-image-wjd {
            margin: 0rem 2rem 1.5rem 0rem;
            width: 5rem;
            background-color: rgba(40, 204, 56, 0.200000003);
            border-radius: 300rem;
            flex-shrink: 0;

            .auto-group-fmkt-gSK {
              width: 5rem;
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .left-o19 {
            flex-shrink: 0;
            margin: 0rem 2.8rem 1.5rem 0rem;
            display: flex;
            flex-direction: column;

            .virginia-roberson-LFy {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
            }
            .account-manager-TrP {
              line-height: 2;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
            }
          }
          .tinder-company-17D {
            flex-shrink: 0;
            margin: 0rem 5.4rem 1.5rem 0rem;
            max-width: 5.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .zomaomazaibgov-7vw {
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0.5rem 4.4rem 0rem 0rem;
            max-width: 6.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-840-574-8039-duH {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
            max-width: 6.5rem;
          }
          .item-10-Loh {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
            font-size: 1.2rem;
          }
          .cell-U9D {
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
          }
        }
        .row-m8K {
          display: flex;
          background-color: #ffffff;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          padding: 2rem 3rem 0.5rem 2rem;
          width: 100%;

          .avatar-image-5Pu {
            flex-shrink: 0;
            margin: 0rem 2rem 1.5rem 0rem;
            width: 5rem;
            background-color: rgba(204, 116, 40, 0.3000000119);
            border-radius: 300rem;

            .auto-group-th9h-c8w {
              vertical-align: top;
              width: 5rem;
              height: 5rem;
              position: relative;
              object-fit: contain;
            }
          }
          .left-87H {
            margin: 0rem 4.3rem 1.5rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .sallie-chandler-TvF {
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
            }
            .account-manager-oDR {
              line-height: 2;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
            }
          }
          .samsung-company-jMy {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 5.4rem 1.5rem 0rem;
            max-width: 5.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .zomaomazaibgov-3Nf {
            flex-shrink: 0;
            margin: 0.5rem 4.4rem 0rem 0rem;
            max-width: 6.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-840-574-8039-kXy {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
            max-width: 6.5rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-10-FUj {
            margin: 0rem 3.8rem 1.5rem 0rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .cell-aX1 {
            margin-bottom: 1.5rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-5Tm {
          margin-bottom: 1.5rem;
          padding: 2rem 3rem 0.5rem 2rem;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          flex-shrink: 0;

          .avatar-image-CYP {
            width: 5rem;
            background-color: rgba(51, 97, 255, 0.3000000119);
            border-radius: 300rem;
            flex-shrink: 0;
            margin: 0rem 2rem 1.5rem 0rem;

            .auto-group-c2sr-joD {
              width: 5rem;
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .left-SxX {
            flex-shrink: 0;
            margin: 0rem 4.5rem 1.5rem 0rem;
            display: flex;
            flex-direction: column;

            .esther-bates-b4j {
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
            }
            .account-manager-vMu {
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              line-height: 2;
            }
          }
          .kik-company-Fuy {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 5.4rem 1.5rem 0rem;
            max-width: 5.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .zomaomazaibgov-Njh {
            max-width: 6.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0.5rem 4.4rem 0rem 0rem;
          }
          .item-840-574-8039-hGB {
            max-width: 6.5rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
          }
          .item-10-CTq {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .cell-KoM {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            width: 4rem;
            height: 4rem;
          }
        }
        .row-E9d {
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 2rem 3rem 0.5rem 2rem;
          background-color: #ffffff;

          .avatar-image-wZq {
            margin: 0rem 2rem 1.5rem 0rem;
            width: 5rem;
            background-color: rgba(230, 46, 46, 0.5);
            border-radius: 300rem;
            flex-shrink: 0;

            .auto-group-y5af-FKd {
              width: 5rem;
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .left-iyu {
            margin: 0rem 4.5rem 1.5rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .mabel-obrien-EBZ {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
            }
            .account-manager-uoV {
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              line-height: 2;
            }
          }
          .fedex-company-pvT {
            flex-shrink: 0;
            margin: 0rem 5.4rem 1.5rem 0rem;
            max-width: 5.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .zomaomazaibgov-Y5m {
            margin: 0.5rem 4.4rem 0rem 0rem;
            max-width: 6.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .item-840-574-8039-FF5 {
            margin: 0rem 3.8rem 1.5rem 0rem;
            max-width: 6.5rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .item-10-x9V {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
            font-size: 1.2rem;
          }
          .cell-U7q {
            margin-bottom: 1.5rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-m6w {
          border-radius: 0.5rem;
          padding: 2rem 3rem 0.5rem 2rem;
          align-items: center;
          background-color: #ffffff;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          display: flex;

          .avatar-image-GZV {
            margin: 0rem 2rem 1.5rem 0rem;
            width: 5rem;
            background-color: rgba(51, 190, 255, 0.3000000119);
            border-radius: 300rem;
            flex-shrink: 0;

            .auto-group-hrp9-zkP {
              object-fit: contain;
              vertical-align: top;
              width: 5rem;
              height: 5rem;
              position: relative;
            }
          }
          .left-7a7 {
            margin: 0rem 4.5rem 1.5rem 0rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .brent-cruz-rGo {
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .account-manager-bEP {
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              line-height: 2;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .samsung-company-jLb {
            flex-shrink: 0;
            margin: 0rem 5.4rem 1.5rem 0rem;
            max-width: 5.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .zomaomazaibgov-Eo9 {
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0.5rem 4.4rem 0rem 0rem;
            max-width: 6.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-840-574-8039-xDM {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
            max-width: 6.5rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-10-4nB {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 3.8rem 1.5rem 0rem;
          }
          .cell-ny5 {
            vertical-align: top;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
          }
        }
      }
    }
  }
}
