
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76.8rem;
}.clients-768-JD5 {
  padding-bottom: 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  box-sizing: border-box;

  .navigate-k55 {
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 100%;
    height: 10rem;

    .content-3ps {
      align-items: center;
      width: 100%;
      height: 100%;
      display: flex;

      .logo-nnT {
        margin-right: 14.9rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button-97D {
          border-radius: 10rem;
          flex-shrink: 0;
          margin-right: 3.5rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
        }
        .constructor-Ttb {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .right-aCX {
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .user-XNf {
          margin: 1.25rem 3rem 1.25rem 0rem;
          height: calc(100% - 2.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-Ens {
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 2rem;
          }
          .clayton-santos-N8P {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .control-ges {
          display: flex;
          column-gap: 1rem;
          align-items: center;
          flex-shrink: 0;
          height: 100%;

          .button-d4K {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
          }
          .notification-Mm1 {
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
          }
          .button-hK5 {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
          }
          .button-qAP {
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
          }
        }
      }
    }
  }
  .content-Lcw {
    width: 127.45rem;
    border: solid 0.2rem #edeff2;
    border-radius: 2rem;
    flex-shrink: 0;
    margin-left: 4rem;
    box-sizing: border-box;
    padding-bottom: 2.5rem;

    .head-GmV {
      padding: 2rem;
      width: calc(100% - 58.45rem);
      height: 8rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #edeff2;
      margin: 0rem 58.45rem 2.5rem 0rem;
      box-sizing: border-box;

      .breadcrumbs-yfu {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 11.9rem;
        height: 100%;

        .item-XSX {
          margin-right: 2.5rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .button-UsZ {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 4rem;
          }
          .companies-QFR {
            line-height: 1.9230769231;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
          }
        }
        .item-jHh {
          margin-right: 3.2rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .button-gCw {
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
          }
          .employees-p4F {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
        }
        .item-9cK {
          flex-shrink: 0;
          margin: 0.75rem 0;
          height: calc(100% - 1.5rem);
          display: flex;
          align-items: center;

          .navigation-arrowforward-hdq {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.842rem 0.082rem 0rem;
            width: 1.5583rem;
            height: 1.5185rem;
          }
          .sallie-chandler-Q2T {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .button-7xT {
        font-weight: 900;
        border: solid 0.2rem #3360ff;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
        background-color: #3360ff;
        color: #ffffff;
        white-space: nowrap;
        font-family: Roboto, 'Source Sans Pro';
        justify-content: center;
        border-radius: 2rem;
        flex-shrink: 0;
        height: 100%;
        text-align: center;
        line-height: 1.6666666667;
        display: flex;
        width: 9.1rem;
        font-size: 1.2rem;
      }
    }
    .content-wgb {
      margin-left: 2.5rem;
      width: 124.95rem;

      .profile-Vi7 {
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        padding-bottom: 3.3rem;
        width: 64rem;
        display: flex;
        box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
        background-color: #ffffff;
        border-radius: 1rem;
        margin-bottom: 2rem;

        .head-pkP {
          width: 100%;
          height: 11rem;
          border: solid 0.2rem #f5f6f7;
          margin-bottom: 3.5rem;
          box-sizing: border-box;
          padding: 2.5rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .avatar-Zhy {
            flex-shrink: 0;
            margin-right: 20.8rem;
            height: 100%;
            display: flex;
            align-items: center;

            .avatar-image-ias {
              width: 6rem;
              height: 100%;
              background-color: rgba(136, 51, 255, 0.200000003);
              border-radius: 300rem;
              flex-shrink: 0;
              margin-right: 3rem;

              .auto-group-wweb-GMV {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                width: 6rem;
                height: 6rem;
              }
            }
            .text-NvK {
              height: calc(100% - 3.5rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 1.75rem 0;

              .sallie-chandler-vgw {
                color: #4d5e80;
                flex-shrink: 0;
                text-align: center;
                font-weight: 900;
                line-height: 1.9230769231;
                white-space: nowrap;
                margin-right: 1.5rem;
                font-size: 1.3rem;
                font-family: Roboto, 'Source Sans Pro';
              }
              .account-manager-qou {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .control-ALP {
            margin: 1rem 0;
            height: calc(100% - 2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .button-JhV {
              border-radius: 10rem;
              flex-shrink: 0;
              margin-right: 1rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
            }
            .button-39H {
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
            }
          }
        }
        .content-9y1 {
          margin: 0rem 8.641rem 0rem 7.8rem;
          width: calc(100% - 16.4415rem);
          height: 24.7rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .column-4q5 {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 7.6415rem;
            width: 20.0585rem;
            height: 100%;

            .auto-group-lrbr-CwH {
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0rem 0rem 2.3rem 0.2rem;
              width: 100%;
              row-gap: 2.5rem;

              .company-7HZ {
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .left-rW3 {
                  margin-right: 5.7rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .social-domain-1Nw {
                    margin-right: 2.5rem;
                    width: 2rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .fed-ex-company-jpj {
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.6666666667;
                    color: #6b7a99;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .navigation-chevronright-UGX {
                  height: 1.1166rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0834rem;
                  width: 0.6585rem;
                }
              }
              .phone-o3u {
                align-items: center;
                flex-shrink: 0;
                margin-left: 0.1rem;
                width: calc(100% - 0.1rem);
                height: 2rem;
                display: flex;

                .left-8by {
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 4.5rem;
                  height: 100%;

                  .maps-localphone-VSX {
                    margin: 0rem 2.604rem 0.004rem 0rem;
                    width: 1.7964rem;
                    height: 1.7964rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .item-1-345-556-2248-cGF {
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.6666666667;
                    color: #6b7a99;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .navigation-chevronright-6hD {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0834rem;
                  width: 0.6585rem;
                  height: 1.1166rem;
                }
              }
              .address-RUb {
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-left: 0.3rem;
                width: calc(100% - 0.3rem);

                .left-mHZ {
                  margin-right: 2.9rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .content-flag-7cK {
                    margin: 0.1rem 2.7rem 0rem 0rem;
                    width: 1.5rem;
                    height: 1.7rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .henderson-park-q2X {
                    color: #6b7a99;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.6666666667;
                  }
                }
                .navigation-chevronright-ZUK {
                  margin-bottom: 0.0834rem;
                  width: 0.6585rem;
                  height: 1.1166rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .facebook-5xT {
                align-items: center;
                flex-shrink: 0;
                margin-left: 0.6rem;
                width: calc(100% - 0.6rem);
                height: 2rem;
                display: flex;

                .left-2Mu {
                  margin-right: 6.5rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .social-icons-icfacebook-aPR {
                    margin-right: 3rem;
                    width: 0.9rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .sallie-chandler-WXy {
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.6666666667;
                    color: #7d8fb3;
                  }
                }
                .navigation-chevronright-327 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0834rem;
                  width: 0.6585rem;
                  height: 1.1166rem;
                  object-fit: contain;
                }
              }
              .telegram-ZWF {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-left: 0.1116rem;
                width: calc(100% - 0.1116rem);
                height: 2rem;

                .left-Hx3 {
                  margin-right: 4.5rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .social-icons-ictelegram-eGo {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0.172rem 2.757rem 0rem 0rem;
                    width: 1.6315rem;
                    height: 1.3676rem;
                    object-fit: contain;
                  }
                  .item-1-345-556-2248-jZ9 {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.6666666667;
                    color: #7d8fb3;
                    font-family: Roboto, 'Source Sans Pro';
                  }
                }
                .navigation-chevronright-d8j {
                  margin-bottom: 0.0834rem;
                  width: 0.6585rem;
                  height: 1.1166rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .viber-WTR {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2.4rem;

              .left-3TM {
                flex-shrink: 0;
                margin-right: 4.5rem;
                height: 100%;
                display: flex;
                align-items: center;

                .social-icons-icviber-PGK {
                  margin-right: 2.3rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-1-345-556-2248-Wrj {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .navigation-chevronright-dwM {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
              }
            }
          }
          .column-xCw {
            flex-direction: column;
            flex-shrink: 0;
            width: 19.8585rem;
            align-items: flex-end;
            display: flex;

            .mail-tMV {
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 2.5rem;
              width: 100%;
              height: 2rem;
              display: flex;

              .left-qGj {
                align-items: center;
                flex-shrink: 0;
                margin-right: 2.6rem;
                height: 100%;
                display: flex;

                .content-mail-ak7 {
                  width: 2rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.5rem;
                }
                .schandlergmailcom-X9Z {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #6b7a99;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
              .navigation-chevronright-T3D {
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .site-nLP {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 2.5rem 0.1rem;
              width: calc(100% - 0.1rem);
              height: 2rem;

              .left-uR1 {
                flex-shrink: 0;
                margin-right: 3.5rem;
                height: 100%;
                display: flex;
                align-items: center;

                .social-icshare2-ThR {
                  width: 1.8rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.6rem 0.1rem 0rem;
                }
                .http-schandlercom-BdR {
                  color: #6b7a99;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
              .navigation-chevronright-XBV {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
              }
            }
            .messenger-FNP {
              margin-bottom: 2.4876rem;
              width: 100%;
              height: 2.0124rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-PDh {
                margin-right: 4.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-icons-icmessenger--wW7 {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.5rem;
                  width: 2rem;
                  height: 2.0124rem;
                }
                .item-1-345-556-2248-4qd {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.0124rem;
                }
              }
              .navigation-chevronright-NrK {
                margin-bottom: 0.0958rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .skype-Vvw {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 2.5rem 0.025rem;
              width: calc(100% - 0.0246rem);
              height: 2rem;

              .left-RJo {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 2.9rem;

                .social-icons-icslype-B35 {
                  width: 1.9457rem;
                  height: 1.974rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.001rem 2.53rem 0rem 0rem;
                }
                .sallie-chandler-skyp-5eF {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
              .navigation-chevronright-1no {
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .whatsapp-wgT {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-trb {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 4.5rem;
                height: 100%;

                .social-icons-icwhatsapp-r2j {
                  flex-shrink: 0;
                  margin: 0rem 2.5rem 0.001rem 0rem;
                  width: 2rem;
                  height: 1.9994rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .item-1-345-556-2248-m9h {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
              .navigation-chevronright-H83 {
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
              }
            }
          }
        }
      }
      .content-YJs {
        border-radius: 1rem;
        box-sizing: border-box;
        padding-bottom: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.2rem #edeff2;

        .head-HGT {
          flex-shrink: 0;
          margin-bottom: 3rem;
          box-sizing: border-box;
          padding-left: 15.95rem;
          width: 100%;
          height: 8rem;
          border: solid 0.2rem #edeff2;

          .icon-tab-RdZ {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100%;

            .tab-aFZ {
              display: flex;
              align-items: center;
              border: solid 0.2rem #3360ff;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 3rem 1rem 3rem 0.5rem;
              height: 100%;

              .icon-uod {
                width: 2rem;
                height: 2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1rem;
              }
              .tab-RGB {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #3360ff;
              }
            }
            .auto-group-pucs-vyd {
              box-sizing: border-box;
              padding: 3rem 77.9rem 3rem 3rem;
              width: 100.8rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .tab-2Fy {
                margin-right: 3.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .icon-NKq {
                  margin-right: 1.5rem;
                  width: 1rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .tab-72X {
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 1.2rem;
                  font-weight: 900;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .tab-qDR {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .icon-Nz3 {
                  margin: 0rem 0.941rem 0.041rem 0rem;
                  width: 2.0593rem;
                  height: 1.3592rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .tab-uDH {
                  font-size: 1.2rem;
                  font-weight: 900;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                }
              }
            }
          }
        }
        .content-cNb {
          width: 58rem;
          row-gap: 2.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-left: 3rem;

          .row-igX {
            flex-shrink: 0;
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2rem;
            align-items: center;

            .input-4Eb {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-cG7 {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
              }
              .input-wJP {
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 4.3rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

                .icon-GrT {
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.5rem;
                  width: 2rem;
                }
                .text-1Z9 {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .input-7MH {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-4nK {
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
              .input-nTR {
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 1.1rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;

                .icon-iby {
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-4A3 {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .input-koZ {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-7PD {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
              }
              .input-qa7 {
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 2.9rem 1.5rem 2.1rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;

                .icon-Na3 {
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 1.8rem;
                }
                .text-i87 {
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
          .row-R2X {
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2rem;
            align-items: center;
            flex-shrink: 0;

            .input-Ysq {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-WJs {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-duH {
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 2.3rem 1.5rem 2rem;
                width: 100%;
                display: flex;

                .icon-mVh {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 1.6rem;
                }
                .text-iQw {
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .input-DMh {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-mPD {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
              }
              .input-HsM {
                padding: 1.5rem 2.3rem 1.5rem 2.1rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;

                .icon-Rif {
                  height: 1.7964rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.604rem 0.004rem 0rem;
                  width: 1.7964rem;
                }
                .text-wwu {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .input-roy {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-DPd {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-8mV {
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 2.6rem 1.5rem 2.1rem;
                width: 100%;

                .icon-U4f {
                  margin: 0rem 1.6rem 0.1rem 0rem;
                  width: 1.8rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-PxK {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
            }
          }
          .input-6rj {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-42s {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
            }
            .input-mxs {
              align-items: center;
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;
              display: flex;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              border-radius: 0.5rem;
              padding: 1.5rem 38.9rem 1.5rem 2.3rem;
              width: 100%;

              .icon-v55 {
                height: 1.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.1rem 1.7rem 0rem 0rem;
                width: 1.5rem;
              }
              .text-3fV {
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
            }
          }
          .row-jYK {
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2rem;
            align-items: center;
            flex-shrink: 0;

            .input-seX {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-ppf {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-kTR {
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 4.3rem 1.5rem 2.6rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

                .icon-gM5 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2rem;
                  width: 0.9rem;
                  height: 1.8rem;
                  object-fit: contain;
                }
                .text-2Qw {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
            }
            .input-Kuq {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-gkP {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-Cij {
                box-sizing: border-box;
                padding: 1.5rem 4.3rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;

                .icon-YGo {
                  width: 2rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.5rem;
                }
                .text-5Gj {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .input-Nmd {
              height: 100%;
              flex-shrink: 0;
              width: 18rem;

              .label-XeX {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-FqR {
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 4.3rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;

                .icon-zo1 {
                  margin: 0rem 1.5rem 0rem 0rem;
                  width: 1.9998rem;
                  height: 1.9998rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-88X {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
            }
          }
          .row-EST {
            flex-shrink: 0;
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2rem;
            align-items: center;

            .input-NYf {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-vaB {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-rij {
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 4.3rem 1.5rem 2.1rem;

                .icon-nMV {
                  margin: 0.1rem 1.6rem 0rem 0rem;
                  width: 1.8rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-uh1 {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .input-cbR {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-yRy {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
              }
              .input-uKd {
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 4.3rem 1.5rem 1.9rem;

                .icon-Eco {
                  width: 2.1985rem;
                  height: 1.3836rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.402rem 0.016rem 0rem;
                }
                .text-Z9H {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .input-TEf {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-Ci3 {
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
              .input-8bh {
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.4rem 4.3rem 1.4rem 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

                .icon-s3V {
                  margin-right: 1.4rem;
                  width: 2.2rem;
                  height: 2.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-PXd {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
          }
          .row-V4s {
            height: 8rem;
            display: flex;
            column-gap: 2rem;
            align-items: center;
            flex-shrink: 0;
            width: 100%;

            .input-pcw {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-aMD {
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
              }
              .input-WEs {
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 2.3rem 1.488rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

                .icon-SPR {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 2.0124rem;
                  object-fit: contain;
                }
                .text-B67 {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.0124rem;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
            }
            .input-gHm {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-qRZ {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
              }
              .input-m4K {
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 2.3rem 1.5rem 2.1rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

                .icon-VFD {
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.6rem;
                  width: 1.8rem;
                }
                .text-dMR {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
            }
            .input-vrK {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-V8j {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
              }
              .input-cj9 {
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 4.6rem 1.5rem 2.025rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

                .icon-Ysh {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.001rem 1.53rem 0rem 0rem;
                  width: 1.9457rem;
                  height: 1.974rem;
                  object-fit: contain;
                }
                .text-sQB {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
            }
          }
          .row-Nbq {
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2rem;
            align-items: center;
            flex-shrink: 0;

            .input-7JX {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-faw {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-bUb {
                padding: 1.5rem 2.3rem 1.5rem 2.112rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;

                .icon-8UX {
                  margin: 0.172rem 1.757rem 0rem 0rem;
                  width: 1.6315rem;
                  height: 1.3676rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-r9d {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
            }
            .input-jz7 {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-u7u {
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
              .input-EAB {
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 2.3rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

                .icon-Zy9 {
                  height: 1.9994rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.5rem 0.001rem 0rem;
                  width: 2rem;
                }
                .text-rST {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .input-xVV {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-6rb {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-d5q {
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.3rem 2.3rem 1.3rem 1.8rem;

                .icon-x87 {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.3rem;
                  width: 2.4rem;
                  height: 2.4rem;
                }
                .text-V83 {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
