
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76.8rem;
}.clients-768-bkK {
  background-color: #f7f8fa;
  box-sizing: border-box;
  padding-bottom: 3rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  .navigate-uFD {
    flex-shrink: 0;
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 100%;
    height: 10rem;
    border: solid 0.2rem #edeff2;

    .content-dBD {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-Neb {
        margin-right: 14.9rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button-7s5 {
          margin-right: 3.5rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
        }
        .constructor-3Vq {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          color: #4d5e80;
        }
      }
      .right-wr7 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .user-u2F {
          height: calc(100% - 2.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 1.25rem 3rem 1.25rem 0rem;

          .icon-otK {
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 2rem;
          }
          .clayton-santos-9BV {
            line-height: 1.9230769231;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
          }
        }
        .control-UDm {
          display: flex;
          column-gap: 1rem;
          align-items: center;
          flex-shrink: 0;
          height: 100%;

          .button-CvT {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
          }
          .notification-LWs {
            width: 5rem;
            height: 5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .button-Ftj {
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
          }
          .button-BnP {
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
          }
        }
      }
    }
  }
  .content-V2P {
    box-sizing: border-box;
    padding-bottom: 2.5rem;
    width: 119.85rem;
    border: solid 0.2rem #edeff2;
    border-radius: 2rem;
    flex-shrink: 0;
    margin-left: 4rem;

    .head-DUB {
      width: calc(100% - 50.85rem);
      height: 8rem;
      display: flex;
      align-items: center;
      border: solid 0.1rem #edeff2;
      margin: 0rem 50.85rem 2.5rem 0rem;
      box-sizing: border-box;
      padding: 2rem;

      .breadcrumbs-8LF {
        margin-right: 26.45rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .item-rvT {
          margin-right: 3.2rem;
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .button-QBH {
            border-radius: 10rem;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 4rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .companies-vfR {
            line-height: 1.9230769231;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
          }
        }
        .item-TvF {
          flex-shrink: 0;
          margin: 0.75rem 0;
          height: calc(100% - 1.5rem);
          display: flex;
          align-items: center;

          .navigation-arrowforward-D8j {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.892rem 0.082rem 0rem;
            width: 1.5583rem;
            height: 1.5185rem;
            object-fit: contain;
          }
          .sallie-chandler-8Fh {
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
        }
      }
      .button-THy {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        color: #ffffff;
        border: solid 0.2rem #3360ff;
        background-color: #3360ff;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 900;
        width: 9.1rem;
        height: 100%;
        line-height: 1.6666666667;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
        border-radius: 2rem;
      }
    }
    .content-GmD {
      margin-left: 2.5rem;
      width: 117.35rem;

      .profile-c4P {
        margin-bottom: 2rem;
        box-sizing: border-box;
        padding-bottom: 3.3rem;
        align-items: center;
        display: flex;
        background-color: #ffffff;
        border-radius: 1rem;
        width: 64rem;
        flex-direction: column;
        box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

        .head-94K {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin-bottom: 3.5rem;
          box-sizing: border-box;
          width: 100%;
          padding: 3.5rem 2.5rem 3.5rem 4.038rem;
          height: 11rem;
          border: solid 0.2rem #f5f6f7;

          .avatar-rzK {
            height: calc(100% - 0.413rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0.206rem 20.8rem 0.206rem 0rem;

            .logo-bS7 {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 4.5379rem;
              width: 2.9243rem;
              height: 3.587rem;
            }
            .text-8S3 {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.544rem 0rem 0.544rem 0rem;
              height: calc(100% - 1.087rem);

              .sallie-chandler-TjD {
                text-align: center;
                font-size: 1.3rem;
                line-height: 1.9230769231;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 1.5rem;
                font-weight: 900;
                flex-shrink: 0;
              }
              .account-manager-ySf {
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
              }
            }
          }
          .control-VA7 {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .button-Sr3 {
              margin-right: 1rem;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
            }
            .button-PFV {
              flex-shrink: 0;
              width: 4rem;
              height: 4rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
            }
          }
        }
        .content-rum {
          align-items: flex-start;
          flex-shrink: 0;
          margin: 0rem 8.641rem 0rem 7.8rem;
          width: calc(100% - 16.4415rem);
          height: 24.7rem;
          display: flex;

          .column-BBM {
            flex-shrink: 0;
            margin-right: 7.6415rem;
            width: 20.0585rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;

            .auto-group-7dvh-WUX {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 0rem 0rem 2.3rem 0.2rem;
              width: 100%;
              row-gap: 2.5rem;
              align-items: flex-end;
              display: flex;

              .company-oyR {
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .left-m9Z {
                  flex-shrink: 0;
                  margin-right: 5.7rem;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .social-domain-umZ {
                    width: 2rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 2.5rem;
                  }
                  .fed-ex-company-3sm {
                    color: #6b7a99;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.6666666667;
                  }
                }
                .navigation-chevronright-AxP {
                  margin-bottom: 0.0834rem;
                  width: 0.6585rem;
                  height: 1.1166rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .phone-6b9 {
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-left: 0.1rem;
                width: calc(100% - 0.1rem);

                .left-dLB {
                  flex-shrink: 0;
                  margin-right: 4.5rem;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .maps-localphone-Bcb {
                    margin: 0rem 2.604rem 0.004rem 0rem;
                    width: 1.7964rem;
                    height: 1.7964rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .item-1-345-556-2248-JSK {
                    color: #6b7a99;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.6666666667;
                  }
                }
                .navigation-chevronright-chu {
                  margin-bottom: 0.0834rem;
                  width: 0.6585rem;
                  height: 1.1166rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .address-wkB {
                flex-shrink: 0;
                margin-left: 0.3rem;
                width: calc(100% - 0.3rem);
                height: 2rem;
                display: flex;
                align-items: center;

                .left-HZ9 {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 2.9rem;
                  height: 100%;
                  display: flex;

                  .content-flag-e8o {
                    width: 1.5rem;
                    height: 1.7rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0.1rem 2.7rem 0rem 0rem;
                  }
                  .henderson-park-kBq {
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.6666666667;
                    color: #6b7a99;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .navigation-chevronright-5E7 {
                  flex-shrink: 0;
                  margin-bottom: 0.0834rem;
                  width: 0.6585rem;
                  height: 1.1166rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .facebook-oR1 {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-left: 0.6rem;
                width: calc(100% - 0.6rem);
                height: 2rem;

                .left-jZZ {
                  margin-right: 6.5rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .social-icons-icfacebook-Hb5 {
                    flex-shrink: 0;
                    margin-right: 3rem;
                    width: 0.9rem;
                    height: 1.8rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .sallie-chandler-22s {
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.6666666667;
                    color: #7d8fb3;
                  }
                }
                .navigation-chevronright-wQj {
                  height: 1.1166rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0834rem;
                  width: 0.6585rem;
                }
              }
              .telegram-sJP {
                width: calc(100% - 0.1116rem);
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-left: 0.1116rem;

                .left-CLf {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 4.5rem;
                  height: 100%;
                  display: flex;

                  .social-icons-ictelegram-MUT {
                    flex-shrink: 0;
                    margin: 0.172rem 2.757rem 0rem 0rem;
                    width: 1.6315rem;
                    height: 1.3676rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .item-1-345-556-2248-fk3 {
                    font-size: 1.2rem;
                    font-weight: 700;
                    line-height: 1.6666666667;
                    color: #7d8fb3;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .navigation-chevronright-ac7 {
                  width: 0.6585rem;
                  height: 1.1166rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0834rem;
                }
              }
            }
            .viber-JY7 {
              flex-shrink: 0;
              width: 100%;
              height: 2.4rem;
              display: flex;
              align-items: center;

              .left-rZd {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 4.5rem;
                height: 100%;

                .social-icons-icviber-cHu {
                  flex-shrink: 0;
                  margin-right: 2.3rem;
                  width: 2.4rem;
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .item-1-345-556-2248-k9D {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
              .navigation-chevronright-fX5 {
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .column-PCB {
            width: 19.8585rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .mail-Wnb {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 2.5rem;

              .left-TSw {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 2.6rem;
                height: 100%;

                .content-mail-Qd5 {
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.5rem;
                  width: 2rem;
                }
                .schandlergmailcom-MHR {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #6b7a99;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-chevronright-5jD {
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
              }
            }
            .site-DaX {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 2.5rem 0.1rem;
              width: calc(100% - 0.1rem);
              height: 2rem;

              .left-k4f {
                margin-right: 3.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-icshare2-W3q {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.6rem 0.1rem 0rem;
                  width: 1.8rem;
                }
                .http-schandlercom-pqD {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #6b7a99;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
              .navigation-chevronright-xgX {
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .messenger-623 {
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 2.4876rem;
              width: 100%;
              height: 2.0124rem;
              display: flex;

              .left-2RV {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 4.5rem;

                .social-icons-icmessenger--BJP {
                  margin-right: 2.5rem;
                  width: 2rem;
                  height: 2.0124rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-1-345-556-2248-i3R {
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.0124rem;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
              .navigation-chevronright-RiX {
                margin-bottom: 0.0958rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .skype-9uR {
              margin: 0rem 0rem 2.5rem 0.025rem;
              width: calc(100% - 0.0246rem);
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-gPZ {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 2.9rem;

                .social-icons-icslype-qGT {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.001rem 2.53rem 0rem 0rem;
                  width: 1.9457rem;
                  height: 1.974rem;
                }
                .sallie-chandler-skyp-x6B {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
              .navigation-chevronright-VM1 {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
              }
            }
            .whatsapp-cAj {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-YKH {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 4.5rem;

                .social-icons-icwhatsapp-gAb {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.5rem 0.001rem 0rem;
                  width: 2rem;
                  height: 1.9994rem;
                  object-fit: contain;
                }
                .item-1-345-556-2248-yfV {
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
              .navigation-chevronright-tGf {
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .content-Ys1 {
        border-radius: 1rem;
        box-sizing: border-box;
        padding-bottom: 3rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.2rem #edeff2;

        .head-VnF {
          width: 100%;
          height: 8rem;
          border: solid 0.2rem #edeff2;
          flex-shrink: 0;
          margin-bottom: 3rem;
          box-sizing: border-box;
          padding-left: 8.35rem;

          .icon-tab-qbD {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100%;

            .tab-nWT {
              box-sizing: border-box;
              padding: 3rem 1rem 3rem 0.5rem;
              height: 100%;
              display: flex;
              align-items: center;
              border: solid 0.2rem #3360ff;
              flex-shrink: 0;

              .icon-if1 {
                height: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 2rem;
              }
              .tab-Few {
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #3360ff;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
            }
            .auto-group-n7nw-yaw {
              height: 100%;
              display: flex;
              column-gap: 3.5rem;
              align-items: center;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 3rem 62.7rem 3rem 3rem;
              width: 98.1rem;

              .tab-U1u {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .icon-E15 {
                  margin-right: 1.5rem;
                  width: 1rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .tab-YGf {
                  font-weight: 900;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 1.2rem;
                }
              }
              .tab-UAK {
                align-items: center;
                flex-shrink: 0;
                height: 100%;
                display: flex;

                .icon-Cs1 {
                  margin: 0rem 0.941rem 0.041rem 0rem;
                  width: 2.0593rem;
                  height: 1.3592rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .tab-vHD {
                  text-align: center;
                  font-size: 1.2rem;
                  font-weight: 900;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .tab-4PR {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .icon-DXD {
                  margin: 0rem 0.941rem 0.041rem 0rem;
                  width: 2.0593rem;
                  height: 1.3592rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .tab-kGF {
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 1.2rem;
                  font-weight: 900;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
          }
        }
        .content-TwM {
          width: 58rem;
          row-gap: 2.5rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-left: 3rem;

          .row-Aas {
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2rem;
            align-items: center;
            flex-shrink: 0;

            .input-tmm {
              height: 100%;
              flex-shrink: 0;
              width: 18rem;

              .label-3ef {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-AUP {
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 4.7rem 1.5rem 2rem;
                width: 100%;

                .icon-tvB {
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-Ej9 {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .input-Xy9 {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-gr3 {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
              }
              .input-R2w {
                padding: 1.5rem 7.1rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;

                .icon-kqu {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.441rem 0.041rem 0rem;
                  width: 2.0593rem;
                  height: 1.3592rem;
                }
                .text-V2o {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .input-yyZ {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-YFy {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-fbV {
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 1.3rem 1.5rem 2.1rem;
                width: 100%;
                display: flex;
                align-items: center;

                .icon-CLX {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.604rem 0.004rem 0rem;
                  width: 1.7964rem;
                  height: 1.7964rem;
                  object-fit: contain;
                }
                .text-ipf {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
            }
          }
          .row-DWX {
            display: flex;
            column-gap: 2rem;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 8rem;

            .input-GDu {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-Dew {
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
              .input-LjZ {
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 1.3rem 1.5rem 2.1rem;
                width: 100%;

                .icon-UKy {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.6rem 0.1rem 0rem;
                  width: 1.8rem;
                }
                .text-bfV {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .input-6s9 {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-f9Z {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-yvw {
                padding: 1.5rem 2.7rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;

                .icon-v5V {
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-f35 {
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .input-ZPM {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-ui7 {
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
              .input-EkP {
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 4.1rem 1.5rem 2rem;
                width: 100%;
                display: flex;
                align-items: center;

                .icon-n1D {
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-ivT {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
            }
          }
          .input-RK5 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-BZ9 {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
            }
            .input-hnP {
              width: 100%;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.5rem 30rem 1.5rem 2.3rem;
              display: flex;
              align-items: center;
              background-color: #ffffff;
              border-radius: 0.5rem;

              .icon-SV5 {
                width: 1.5rem;
                height: 1.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.1rem 1.7rem 0rem 0rem;
              }
              .text-Zpb {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
          .row-GDD {
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2rem;
            align-items: center;
            flex-shrink: 0;

            .input-1Ao {
              flex-shrink: 0;
              width: 18rem;
              height: 100%;

              .label-ku5 {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-gGw {
                box-sizing: border-box;
                padding: 1.5rem 10.1rem 1.5rem 2.6rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;

                .icon-1q1 {
                  margin-right: 2rem;
                  width: 0.9rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-9gK {
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .input-FzF {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-DAP {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
              }
              .input-943 {
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 7.6rem 1.5rem 2rem;
                width: 100%;

                .icon-GuM {
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-DZh {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
            }
            .input-7uy {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-5M1 {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-CgX {
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 7.6rem 1.5rem 2rem;
                width: 100%;
                display: flex;

                .icon-Xyh {
                  width: 1.9998rem;
                  height: 1.9998rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.5rem 0rem 0rem;
                }
                .text-TsM {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
          }
          .row-y51 {
            display: flex;
            column-gap: 2rem;
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 8rem;

            .input-Waj {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-fTd {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-bcB {
                padding: 1.5rem 7.6rem 1.5rem 2.1rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;

                .icon-XVq {
                  margin: 0.1rem 1.6rem 0rem 0rem;
                  width: 1.8rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-dom {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
            }
            .input-9GK {
              height: 100%;
              flex-shrink: 0;
              width: 18rem;

              .label-W6s {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-RUj {
                box-sizing: border-box;
                padding: 1.5rem 7.6rem 1.5rem 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;

                .icon-MNP {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.402rem 0.016rem 0rem;
                  width: 2.1985rem;
                  height: 1.3836rem;
                  object-fit: contain;
                }
                .text-fts {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
            .input-NYP {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-8XZ {
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .input-riT {
                box-sizing: border-box;
                padding: 1.4rem 7.6rem 1.4rem 1.9rem;
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;

                .icon-Bkj {
                  height: 2.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.4rem;
                  width: 2.2rem;
                }
                .text-j1Z {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
          }
          .row-d6w {
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2rem;
            align-items: center;
            flex-shrink: 0;

            .input-A6s {
              flex-shrink: 0;
              width: 18rem;
              height: 100%;

              .label-iPH {
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
              .input-3RZ {
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 10.1rem 1.488rem 2rem;
                width: 100%;
                display: flex;

                .icon-Nij {
                  margin-right: 1.5rem;
                  width: 2rem;
                  height: 2.0124rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-Wa3 {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.0124rem;
                  font-size: 1.2rem;
                }
              }
            }
            .input-DDZ {
              flex-shrink: 0;
              width: 18rem;
              height: 100%;

              .label-Aeb {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-h8j {
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 10.1rem 1.5rem 2.1rem;
                width: 100%;
                display: flex;
                align-items: center;

                .icon-pz3 {
                  margin-right: 1.6rem;
                  width: 1.8rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-ZRq {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
            }
            .input-Gr3 {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-dwV {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .input-yEf {
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 7.6rem 1.5rem 2.025rem;
                width: 100%;
                display: flex;

                .icon-WVV {
                  height: 1.974rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.001rem 1.53rem 0rem 0rem;
                  width: 1.9457rem;
                }
                .text-2ij {
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
            }
          }
          .row-vp7 {
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 8rem;
            display: flex;
            column-gap: 2rem;

            .input-3tj {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-1af {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
              }
              .input-8vB {
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 7.4rem 1.5rem 2.112rem;
                width: 100%;
                display: flex;

                .icon-5Kd {
                  margin: 0.172rem 1.757rem 0rem 0rem;
                  width: 1.6315rem;
                  height: 1.3676rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .text-b35 {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
            }
            .input-VeF {
              width: 18rem;
              height: 100%;
              flex-shrink: 0;

              .label-T5H {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
              }
              .input-mLs {
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.5rem 1.3rem 1.5rem 2rem;

                .icon-W3Z {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 1.5rem 0.001rem 0rem;
                  width: 2rem;
                  height: 1.9994rem;
                }
                .text-ppw {
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
            }
            .input-u5h {
              height: 100%;
              flex-shrink: 0;
              width: 18rem;

              .label-SrK {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                margin: 0rem 0rem 1rem 2rem;
                font-size: 1.2rem;
              }
              .input-aBq {
                width: 100%;
                display: flex;
                align-items: center;
                box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
                background-color: #ffffff;
                border-radius: 0.5rem;
                box-sizing: border-box;
                padding: 1.3rem 1.3rem 1.3rem 1.8rem;

                .icon-hnF {
                  height: 2.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.3rem;
                  width: 2.4rem;
                }
                .text-SE3 {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
            }
          }
        }
      }
    }
  }
}
