
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.clients-360-zR5 {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  width: 100%;

  .navigate-hKV {
    padding: 2.5rem;
    width: 100%;
    height: 10rem;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    box-sizing: border-box;

    .content-Dod {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-mq9 {
        align-items: center;
        flex-shrink: 0;
        margin-right: 7.9rem;
        height: 100%;
        display: flex;

        .button-L7Z {
          margin-right: 3.5rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
        }
        .constructor-FEX {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          color: #4d5e80;
        }
      }
      .right-kh5 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 5rem;
        height: 5rem;
      }
    }
  }
  .content-g4w {
    flex-shrink: 0;
    margin-left: 1.5rem;
    box-sizing: border-box;
    padding-bottom: 1.5rem;
    width: 71.2rem;
    border: solid 0.2rem #edeff2;
    border-radius: 1rem;

    .head-bxb {
      border: solid 0.1rem #edeff2;
      margin: 0rem 38.2rem 1.5rem 0rem;
      box-sizing: border-box;
      padding: 2rem;
      width: calc(100% - 38.2rem);
      height: 8rem;
      display: flex;
      align-items: center;

      .sallie-chandler-X5Z {
        margin-right: 10.8rem;
        font-size: 1.2rem;
        font-weight: 900;
        line-height: 1.6666666667;
        color: #4d5e80;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .button-eAB {
        width: 9.9rem;
        text-align: center;
        border: solid 0.2rem #3360ff;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 900;
        color: #ffffff;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
        border-radius: 2rem;
        height: 100%;
        line-height: 1.6666666667;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        justify-content: center;
        background-color: #3360ff;
      }
    }
    .content-GST {
      width: 69.7rem;
      margin-left: 1.5rem;

      .profile-QHm {
        width: 30rem;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
        border-radius: 1rem;
        box-sizing: border-box;
        padding-bottom: 2.5rem;
        background-color: #ffffff;
        margin-bottom: 2rem;
        display: flex;

        .head-j59 {
          box-sizing: border-box;
          height: 8rem;
          display: flex;
          align-items: center;
          border: solid 0.2rem #f5f6f7;
          flex-shrink: 0;
          margin-bottom: 2.5rem;
          padding: 2rem;
          width: 100%;

          .left-fjV {
            margin-right: 4.9rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .avatar-image-dAX {
              background-color: rgba(136, 51, 255, 0.200000003);
              border-radius: 300rem;
              flex-shrink: 0;
              margin-right: 2rem;
              width: 4rem;
              height: 100%;

              .auto-group-uejy-a5m {
                width: 4rem;
                height: 4rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .text-5HR {
              flex-shrink: 0;
              width: 8.1rem;
              height: 100%;

              .sallie-chandler-1wm {
                white-space: nowrap;
                width: 100%;
                text-align: center;
                font-size: 1rem;
                font-weight: 900;
                line-height: 2;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
              .account-manager-9HH {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                width: 100%;
                text-align: center;
                font-size: 1rem;
                font-weight: 900;
                line-height: 2;
                color: #7d8fb3;
              }
            }
          }
          .control-sUB {
            margin: 0.5rem 0;
            height: calc(100% - 1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .button-osd {
              margin-right: 1rem;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
            }
            .button-LsZ {
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
              width: 3rem;
              height: 3rem;
            }
          }
        }
        .content-qpK {
          margin: 0rem 3.141rem 0rem 2.3rem;
          width: calc(100% - 5.4415rem);
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-wdnp-y9q {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 0rem 1.8rem 0.2rem;
            width: 100%;
            row-gap: 2rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;

            .company-UMV {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-oef {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 10.2rem;
                height: 100%;

                .social-domain-9iX {
                  flex-shrink: 0;
                  margin-right: 2.5rem;
                  width: 2rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .fed-ex-company-HZq {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
              .navigation-chevronright-DTV {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
              }
            }
            .phone-Lo1 {
              flex-shrink: 0;
              margin-left: 0.1rem;
              width: calc(100% - 0.1rem);
              height: 2rem;
              display: flex;
              align-items: center;

              .left-5Vh {
                align-items: center;
                flex-shrink: 0;
                margin-right: 9rem;
                height: 100%;
                display: flex;

                .maps-localphone-qUs {
                  flex-shrink: 0;
                  margin: 0rem 2.604rem 0.004rem 0rem;
                  width: 1.7964rem;
                  height: 1.7964rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .item-1-345-556-2248-jaF {
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
              .navigation-chevronright-3qq {
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .address-yDh {
              width: calc(100% - 0.3rem);
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 0.3rem;

              .left-QyD {
                margin-right: 7.4rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .content-flag-xzj {
                  margin: 0.1rem 2.7rem 0rem 0rem;
                  width: 1.5rem;
                  height: 1.7rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .henderson-park-gfq {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-chevronright-cJb {
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .mail-jPD {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-gpF {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 7.1rem;
                height: 100%;

                .content-mail-EKy {
                  margin-right: 2.5rem;
                  width: 2rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .schandlergmailcom-xFy {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
              .navigation-chevronright-sdq {
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .site-o1h {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 0.1rem;
              width: calc(100% - 0.1rem);
              height: 2rem;

              .left-iuM {
                flex-shrink: 0;
                margin-right: 8rem;
                height: 100%;
                display: flex;
                align-items: center;

                .social-icshare2-sGT {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.6rem 0.1rem 0rem;
                  width: 1.8rem;
                }
                .http-schandlercom-n8X {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-chevronright-hmH {
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
              }
            }
            .facebook-pb1 {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 0.6rem;
              width: calc(100% - 0.6rem);
              height: 2rem;

              .left-97V {
                align-items: center;
                flex-shrink: 0;
                margin-right: 11rem;
                height: 100%;
                display: flex;

                .social-icons-icfacebook-Tts {
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 3rem;
                  width: 0.9rem;
                }
                .sallie-chandler-ayV {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
              .navigation-chevronright-WMM {
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .telegram-dRy {
              margin-left: 0.1116rem;
              width: calc(100% - 0.1116rem);
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-9v7 {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 9rem;

                .social-icons-ictelegram-J2K {
                  margin: 0.172rem 2.757rem 0rem 0rem;
                  width: 1.6315rem;
                  height: 1.3676rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-1-345-556-2248-1SX {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-chevronright-7VZ {
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .viber-dio {
            align-items: center;
            flex-shrink: 0;
            width: 100%;
            height: 2.4rem;
            display: flex;

            .left-ATq {
              margin-right: 9rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .social-icons-icviber-7dy {
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.3rem;
              }
              .item-1-345-556-2248-dsD {
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
              }
            }
            .navigation-chevronright-kS3 {
              margin-bottom: 0.0834rem;
              width: 0.6585rem;
              height: 1.1166rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-zzhy-g4o {
            width: 100%;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 1.8rem 0rem 0rem 0.2rem;

            .messenger-afy {
              flex-shrink: 0;
              margin-bottom: 1.9876rem;
              width: 100%;
              height: 2.0124rem;
              display: flex;
              align-items: center;

              .left-KNf {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 9rem;

                .social-icons-icmessenger--rtP {
                  height: 2.0124rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.5rem;
                  width: 2rem;
                }
                .item-1-345-556-2248-P7d {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  margin-bottom: 0.0124rem;
                }
              }
              .navigation-chevronright-tq5 {
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0958rem;
              }
            }
            .skype-DMZ {
              margin: 0rem 0rem 2rem 0.025rem;
              width: calc(100% - 0.0246rem);
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-Xt3 {
                flex-shrink: 0;
                margin-right: 7.4rem;
                height: 100%;
                display: flex;
                align-items: center;

                .social-icons-icslype-HMR {
                  margin: 0.001rem 2.53rem 0rem 0rem;
                  width: 1.9457rem;
                  height: 1.974rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .sallie-chandler-skyp-arK {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
              .navigation-chevronright-utb {
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .whatsapp-3E7 {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-Br7 {
                margin-right: 9rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-icons-icwhatsapp-9H9 {
                  margin: 0rem 2.5rem 0.001rem 0rem;
                  width: 2rem;
                  height: 1.9994rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-1-345-556-2248-TYj {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .navigation-chevronright-adM {
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .content-ET1 {
        flex-direction: column;
        border: solid 0.2rem #edeff2;
        border-radius: 1rem;
        box-sizing: border-box;
        padding-bottom: 2rem;
        width: 100%;
        display: flex;

        .head-NJK {
          border: solid 0.2rem #edeff2;
          flex-shrink: 0;
          margin-bottom: 2rem;
          box-sizing: border-box;
          padding-left: 4.7rem;
          width: 100%;
          height: 6rem;

          .tab-uZ9 {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .tab-GPh {
              font-weight: 900;
              line-height: 1.6666666667;
              color: #3360ff;
              display: flex;
              box-sizing: border-box;
              flex-shrink: 0;
              width: 3.7rem;
              height: 100%;
              text-align: center;
              font-size: 1.2rem;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.2rem #3360ff;
              align-items: center;
              justify-content: center;
            }
            .auto-group-d183-YMD {
              padding-left: 3rem;
              height: 100%;
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;

              .tab-FmR {
                white-space: nowrap;
                margin: 2rem 3rem 0rem 0rem;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #7d8fb3;
                text-align: center;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .tab-a31 {
                text-align: center;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin: 2rem 0.4rem 0rem 0rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #7d8fb3;
                white-space: nowrap;
                font-size: 1.2rem;
              }
              .tab-gbq {
                margin-right: 5rem;
                font-size: 1.2rem;
                font-weight: 900;
                flex-shrink: 0;
                text-align: center;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .tab-zcX {
                flex-shrink: 0;
                margin-right: 5rem;
                line-height: 1.6666666667;
                font-weight: 900;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
                font-size: 1.2rem;
              }
              .tab-7x3 {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 5rem;
                color: #7d8fb3;
                line-height: 1.6666666667;
              }
              .tab-eSB {
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 5rem;
                text-align: center;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-size: 1.2rem;
                white-space: nowrap;
              }
              .tab-AfR {
                text-align: center;
                font-size: 1.2rem;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 5rem;
                font-weight: 900;
                line-height: 1.6666666667;
                white-space: nowrap;
              }
              .tab-6JB {
                flex-shrink: 0;
                margin-right: 5rem;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                text-align: center;
              }
              .tab-R5Z {
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
              }
            }
          }
        }
        .content-LCX {
          flex-direction: column;
          flex-shrink: 0;
          margin-left: 2rem;
          width: 26rem;
          row-gap: 2.5rem;
          align-items: center;
          display: flex;

          .input-3Mq {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .label-CEj {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
            }
            .input-hxB {
              box-sizing: border-box;
              padding: 1.5rem 12.3rem 1.5rem 2rem;
              width: 100%;
              border-radius: 0.5rem;
              flex-shrink: 0;
              display: flex;
              align-items: center;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              background-color: #ffffff;

              .icon-EBR {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.5rem;
                width: 2rem;
                height: 2rem;
                object-fit: contain;
              }
              .text-MWw {
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
            }
          }
          .input-F6X {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .label-15h {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
            }
            .input-Ks5 {
              box-sizing: border-box;
              align-items: center;
              background-color: #ffffff;
              border-radius: 0.5rem;
              flex-shrink: 0;
              padding: 1.5rem 9.1rem 1.5rem 2rem;
              width: 100%;
              display: flex;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

              .icon-qKd {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.5rem;
                width: 2rem;
                height: 1.8rem;
              }
              .text-wtT {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
            }
          }
          .input-qU3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-PEf {
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
            }
            .input-hm9 {
              padding: 1.5rem 10.9rem 1.5rem 2.1rem;
              width: 100%;
              display: flex;
              align-items: center;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              background-color: #ffffff;
              box-sizing: border-box;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .icon-qcT {
                height: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.6rem;
                width: 1.8rem;
              }
              .text-mm1 {
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
            }
          }
          .input-GBy {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .label-cWj {
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
            .input-vnK {
              width: 100%;
              display: flex;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.5rem 10.3rem 1.5rem 2rem;
              align-items: center;
              background-color: #ffffff;
              border-radius: 0.5rem;

              .icon-eyD {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.5rem;
                width: 2rem;
                height: 1.6rem;
                object-fit: contain;
              }
              .text-BTM {
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
            }
          }
          .input-g9D {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;

            .label-ERd {
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
            .input-kes {
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              background-color: #ffffff;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.5rem 10.3rem 1.5rem 2.1rem;
              width: 100%;
              align-items: center;
              display: flex;
              border-radius: 0.5rem;

              .icon-6Cw {
                margin: 0rem 1.604rem 0.004rem 0rem;
                width: 1.7964rem;
                height: 1.7964rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .text-D2f {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .input-J47 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-3nP {
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
            .input-AMD {
              box-sizing: border-box;
              padding: 1.5rem 10.6rem 1.5rem 2.1rem;
              display: flex;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              background-color: #ffffff;
              width: 100%;
              align-items: center;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .icon-VPV {
                height: 1.5rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.6rem 0.1rem 0rem;
                width: 1.8rem;
              }
              .text-R2F {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .input-7fm {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-s99 {
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .input-zDm {
              padding: 1.5rem 6.9rem 1.5rem 2.3rem;
              width: 100%;
              align-items: center;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              box-sizing: border-box;
              display: flex;
              background-color: #ffffff;
              border-radius: 0.5rem;
              flex-shrink: 0;

              .icon-ivT {
                flex-shrink: 0;
                margin: 0.1rem 1.7rem 0rem 0rem;
                width: 1.5rem;
                height: 1.7rem;
                object-fit: contain;
                vertical-align: top;
              }
              .text-SrT {
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
              }
            }
          }
          .input-woD {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-J7y {
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
            .input-dAF {
              padding: 1.5rem 12.3rem 1.5rem 2.6rem;
              width: 100%;
              background-color: #ffffff;
              border-radius: 0.5rem;
              box-sizing: border-box;
              display: flex;
              align-items: center;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              flex-shrink: 0;

              .icon-9uH {
                margin-right: 2rem;
                width: 0.9rem;
                height: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .text-63q {
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
  }
}
