
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.clients-360-mdR {
  flex-direction: column;
  background-color: #f7f8fa;
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .navigate-Gq5 {
    width: 100%;
    height: 10rem;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    padding: 2.5rem;

    .content-1Xm {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-Mbd {
        margin-right: 7.9rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button-ud9 {
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
          margin-right: 3.5rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
        }
        .constructor-SNB {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .right-FqR {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .content-NQF {
    flex-direction: column;
    margin-left: 1.5rem;
    align-items: center;
    display: flex;
    border: solid 0.2rem #edeff2;
    box-sizing: border-box;
    border-radius: 2rem;
    flex-shrink: 0;
    width: 67rem;

    .head-hhR {
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 2rem;
      width: 100%;
      height: 8rem;
      border: solid 0.1rem #edeff2;

      .tab-Fiw {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .tab-okT {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          height: 100%;
          font-size: 1.2rem;
          color: #3360ff;
          display: flex;
          align-items: center;
          text-align: center;
          font-weight: 900;
          box-sizing: border-box;
          flex-shrink: 0;
          width: 6.1rem;
          justify-content: center;
          border: solid 0.2rem #3360ff;
          line-height: 1.6666666667;
        }
        .auto-group-sbzh-5hy {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 2rem;
          height: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-ywk9-cC7 {
            width: 7.9rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.1rem;

            .tab-8RM {
              margin-bottom: 1rem;
              width: 100%;
              text-align: center;
              line-height: 1.6666666667;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 900;
              color: #7d8fb3;
              white-space: nowrap;
            }
            .tab-rEs {
              font-size: 1.2rem;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              width: 100%;
              text-align: center;
              font-weight: 900;
              line-height: 1.6666666667;
              color: #7d8fb3;
            }
          }
          .auto-group-2111-Z9H {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 5rem;
            width: 10.9rem;
            align-items: flex-end;
            display: flex;

            .auto-group-2jso-HLB {
              margin-left: 1.9rem;
              width: calc(100% - 1.9rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .tab-22s {
                flex-shrink: 0;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                margin-right: 5rem;
                line-height: 1.6666666667;
                white-space: nowrap;
              }
              .tab-9NP {
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
              }
            }
            .button-UvT {
              height: 4rem;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              justify-content: center;
              box-sizing: border-box;
              flex-shrink: 0;
              margin-right: 1rem;
              text-align: center;
              box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
              font-size: 1.2rem;
              line-height: 1.6666666667;
              white-space: nowrap;
              border: solid 0.2rem #3360ff;
              background-color: #3360ff;
              width: 9.9rem;
              font-weight: 900;
              display: flex;
              align-items: center;
              border-radius: 2rem;
            }
          }
          .tab-h2X {
            white-space: nowrap;
            margin-right: 5rem;
            text-align: center;
            font-size: 1.2rem;
            font-family: Roboto, 'Source Sans Pro';
            font-weight: 900;
            line-height: 1.6666666667;
            color: #7d8fb3;
            flex-shrink: 0;
          }
          .tab-QSj {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5rem;
            line-height: 1.6666666667;
            color: #7d8fb3;
          }
          .tab-jV1 {
            margin-right: 5rem;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #7d8fb3;
          }
          .tab-fNf {
            text-align: center;
            font-weight: 900;
            color: #7d8fb3;
            white-space: nowrap;
            margin-right: 5rem;
            font-size: 1.2rem;
            line-height: 1.6666666667;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .tab-CNb {
            flex-shrink: 0;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
    }
    .auto-group-qmix-JwR {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 2rem;

      .head-EaB {
        margin-bottom: 2rem;
        box-sizing: border-box;
        height: 6rem;
        column-gap: 2.7rem;
        border: solid 0.1rem #edeff2;
        flex-shrink: 0;
        padding: 1.5rem 2rem;
        display: flex;
        align-items: center;

        .clients-46-companies-MPu {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2.1428571429;
          color: #6b7a99;
          font-family: Roboto, 'Source Sans Pro';
        }
        .center-tPq {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-button-Ref {
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: 6.8rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
          }
          .button-kgw {
            flex-shrink: 0;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
          }
        }
        .button-gqV {
          display: flex;
          align-items: center;
          border-radius: 2rem;
          padding: 0.5rem 1.786rem 0.5rem 1.5rem;
          height: 100%;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

          .button-pRu {
            font-size: 1rem;
            font-weight: 900;
            line-height: 2;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.22rem;
          }
          .icon-Z8b {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0468rem;
            width: 0.894rem;
            height: 0.5268rem;
            object-fit: contain;
          }
        }
      }
      .content-Quu {
        flex-direction: column;
        flex-shrink: 0;
        margin-left: 2rem;
        width: 29rem;
        row-gap: 2rem;
        align-items: center;
        display: flex;

        .company-jSP {
          box-sizing: border-box;
          padding: 2.5rem 2.5rem 2rem 2.5rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .head-rmu {
            width: calc(100% - 0.8rem);
            height: 4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0rem 2rem 0.8rem;

            .left-P19 {
              margin-right: 3rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .logo-Xt3 {
                flex-shrink: 0;
                margin-right: 2.3rem;
                width: 2.4rem;
                height: 2.9rem;
                object-fit: contain;
                vertical-align: top;
              }
              .text-gF9 {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .apple-company-dw5 {
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .electronic-Ndm {
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #adb8cc;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .right-JXR {
              margin: 0.5rem 0;
              height: calc(100% - 1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .button-StX {
                width: 3rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 10rem;
                flex-shrink: 0;
                margin-right: 1rem;
              }
              .button-PHy {
                width: 3rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 10rem;
                flex-shrink: 0;
              }
            }
          }
          .row-ib9 {
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            row-gap: 0.5rem;

            .item-Fqy {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2rem;

              .projects-ocb {
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .auto-group-3i5d-wTu {
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .line-scT {
                  width: 16.8rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                }
                .item-8-C8w {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .item-KjM {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;

              .members-rDV {
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .auto-group-kcwb-ncw {
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .line-vj9 {
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 16.1rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                }
                .item-4-44f {
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .item-b4b {
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2rem;
              display: flex;

              .tasks-jgb {
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .auto-group-w5ps-gbq {
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;

                .line-2vb {
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 17.4rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                }
                .item-12-NDm {
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
            }
            .item-hmq {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2rem;

              .budget-fCs {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
              .auto-group-yy9z-CyV {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;
                align-items: center;

                .line-MbV {
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 12.3rem;
                  height: calc(100% - 1.8rem);
                }
                .item-556600-GyM {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
        .company-wpb {
          flex-direction: column;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          padding: 2.5rem 2.5rem 2rem 2.5rem;

          .head-UZd {
            flex-shrink: 0;
            margin: 0rem 0rem 2rem 0.25rem;
            width: calc(100% - 0.2499rem);
            height: 4rem;
            display: flex;
            align-items: center;

            .left-obu {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 4.1rem;
              height: 100%;

              .logo-MdR {
                flex-shrink: 0;
                margin: 0rem 1.75rem 0rem 0rem;
                width: 3.5001rem;
                height: 3.5rem;
                object-fit: contain;
                vertical-align: top;
              }
              .text-5pK {
                flex-shrink: 0;
                height: 100%;
                display: flex;
                flex-direction: column;

                .bmw-motors--qYb {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
                .electronic-BMZ {
                  line-height: 2;
                  color: #adb8cc;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                }
              }
            }
            .right-Wud {
              margin: 0.5rem 0;
              height: calc(100% - 1rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .button-ryV {
                width: 3rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 10rem;
                flex-shrink: 0;
                margin-right: 1rem;
              }
              .button-bRH {
                flex-shrink: 0;
                width: 3rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 10rem;
              }
            }
          }
          .row-iko {
            width: 100%;
            row-gap: 0.5rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .item-rs1 {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;

              .projects-DBm {
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
              .auto-group-q4ak-ZFd {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;
                align-items: center;

                .line-Vf5 {
                  width: 16.8rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                }
                .item-8-pST {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
            .item-xHm {
              flex-shrink: 0;
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;

              .members-K8K {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
              .auto-group-bkxw-re3 {
                padding-left: 1rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;

                .line-opB {
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 16.1rem;
                  height: calc(100% - 1.8rem);
                }
                .item-4-jSw {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                }
              }
            }
            .item-sZ9 {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .tasks-RqZ {
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
              .auto-group-a3h9-aCf {
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;

                .line-vXR {
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 17.4rem;
                }
                .item-12-FJo {
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .item-nJj {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .budget-jUs {
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
              .auto-group-h8yv-Gjh {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 1rem;

                .line-RMh {
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 12.3rem;
                  height: calc(100% - 1.8rem);
                }
                .item-556600-wqq {
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
            }
          }
        }
        .company-cwy {
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          flex-shrink: 0;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          box-sizing: border-box;
          padding: 2.5rem 2.5rem 2rem 2.5rem;
          width: 100%;

          .head-xF9 {
            margin: 0rem 0rem 2rem 0.113rem;
            width: calc(100% - 0.1128rem);
            height: 4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .left-54s {
              flex-shrink: 0;
              margin-right: 2.6rem;
              height: 100%;
              display: flex;
              align-items: center;

              .logo-pYF {
                margin: 0rem 1.613rem 0rem 0rem;
                width: 3.7745rem;
                height: 1.3701rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .text-wMy {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .tinder-company-tY7 {
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
                .auto-buelding-cyu {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #adb8cc;
                }
              }
            }
            .right-jYj {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0.5rem 0;
              height: calc(100% - 1rem);

              .button-GYf {
                object-fit: contain;
                vertical-align: top;
                border-radius: 10rem;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 3rem;
                height: 3rem;
              }
              .button-BvX {
                flex-shrink: 0;
                width: 3rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 10rem;
              }
            }
          }
          .row-7ZH {
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            row-gap: 0.5rem;
            align-items: center;
            display: flex;

            .item-4Dd {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;

              .projects-QoH {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .auto-group-gtep-MTd {
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;

                .line-hXV {
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 16.8rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                }
                .item-8-ps1 {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                }
              }
            }
            .item-AR5 {
              flex-shrink: 0;
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;

              .members-75R {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
              .auto-group-gkdv-er3 {
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .line-oU3 {
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 16.1rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                }
                .item-4-w4T {
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
            }
            .item-fm9 {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .tasks-pe3 {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .auto-group-kfkm-a7R {
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;
                align-items: center;

                .line-uvP {
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 17.4rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                }
                .item-12-e7H {
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
            }
            .item-yQT {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .budget-v4o {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .auto-group-flrb-f2P {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;

                .line-16F {
                  width: 12.3rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                }
                .item-556600-8gf {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                }
              }
            }
          }
        }
        .company-CwR {
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          flex-direction: column;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 2.5rem 2.5rem 2rem 2.5rem;
          display: flex;

          .head-95y {
            margin: 0rem 0rem 2rem 0.3rem;
            width: calc(100% - 0.3rem);
            height: 4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .left-s1y {
              margin-right: 5.1rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .logo-1P5 {
                height: 2.3798rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.8rem 0rem 0rem;
                width: 3.4rem;
              }
              .text-XcK {
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-shrink: 0;

                .salesforce-5tj {
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
                .auto-buelding-2Z5 {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #adb8cc;
                }
              }
            }
            .right-MrF {
              align-items: center;
              flex-shrink: 0;
              margin: 0.5rem 0;
              height: calc(100% - 1rem);
              display: flex;

              .button-iB1 {
                border-radius: 10rem;
                flex-shrink: 0;
                margin-right: 1rem;
                width: 3rem;
                height: 3rem;
                object-fit: contain;
                vertical-align: top;
              }
              .button-3DH {
                object-fit: contain;
                vertical-align: top;
                border-radius: 10rem;
                flex-shrink: 0;
                width: 3rem;
                height: 3rem;
              }
            }
          }
          .row-y6w {
            flex-shrink: 0;
            width: 100%;
            row-gap: 0.5rem;
            align-items: center;
            display: flex;
            flex-direction: column;

            .item-iKR {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .projects-U3h {
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
              }
              .auto-group-vqry-DX5 {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;

                .line-N95 {
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 16.8rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                }
                .item-8-tt7 {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                }
              }
            }
            .item-2Dd {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;

              .members-mh1 {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .auto-group-qvyd-Jgw {
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .line-FMH {
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 16.1rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                }
                .item-4-Ngo {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
            .item-uwd {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .tasks-GXH {
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
              }
              .auto-group-gqtp-1Us {
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .line-9qy {
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 17.4rem;
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                }
                .item-12-tHm {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
            .item-phD {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2rem;

              .budget-Am5 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
              .auto-group-ehcb-iGo {
                box-sizing: border-box;
                padding-left: 1rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .line-4Lf {
                  height: calc(100% - 1.8rem);
                  background-color: #f5f6f7;
                  flex-shrink: 0;
                  margin: 0.9rem 1rem 0.9rem 0rem;
                  width: 12.3rem;
                }
                .item-556600-Bw5 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
          }
        }
      }
    }
  }
}
