
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.clients-360-DJF {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  width: 100%;

  .navigate-iVu {
    height: 10rem;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 100%;

    .content-rMD {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-onF {
        margin-right: 7.9rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button-khV {
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
          margin-right: 3.5rem;
          width: 5rem;
        }
        .constructor-UtP {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .right-neB {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .content-iGw {
    padding-bottom: 1.5rem;
    width: 72.2rem;
    border: solid 0.2rem #edeff2;
    border-radius: 1rem;
    flex-shrink: 0;
    margin-left: 1.5rem;
    box-sizing: border-box;

    .head-SCw {
      display: flex;
      align-items: center;
      border: solid 0.1rem #edeff2;
      margin: 0rem 39.2rem 1.5rem 0rem;
      box-sizing: border-box;
      padding: 2rem;
      width: calc(100% - 39.2rem);
      height: 8rem;

      .sallie-chandler-YWs {
        line-height: 1.6666666667;
        color: #4d5e80;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 10.8rem;
        font-size: 1.2rem;
        font-weight: 900;
      }
      .button-Fw5 {
        font-size: 1.2rem;
        line-height: 1.6666666667;
        justify-content: center;
        border-radius: 2rem;
        flex-shrink: 0;
        box-sizing: border-box;
        height: 100%;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
        border: solid 0.2rem #3360ff;
        width: 9.9rem;
        font-weight: 900;
        box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
        background-color: #3360ff;
      }
    }
    .content-sxT {
      margin-left: 1.5rem;
      width: 70.7rem;

      .profile-Rj5 {
        box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
        margin-bottom: 2rem;
        box-sizing: border-box;
        padding-bottom: 2.5rem;
        width: 30rem;
        align-items: center;
        flex-direction: column;
        display: flex;
        background-color: #ffffff;
        border-radius: 1rem;

        .head-Z4b {
          width: 100%;
          height: 8rem;
          align-items: center;
          border: solid 0.2rem #f5f6f7;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 2rem 2rem 2.538rem;
          margin-bottom: 2.5rem;
          display: flex;

          .left-5Yj {
            align-items: center;
            flex-shrink: 0;
            margin-right: 4.9rem;
            height: 100%;
            display: flex;

            .logo-dq9 {
              flex-shrink: 0;
              margin: 0rem 2.538rem 0rem 0rem;
              width: 2.9243rem;
              height: 3.587rem;
              object-fit: contain;
              vertical-align: top;
            }
            .text-Mm9 {
              width: 8.1rem;
              height: 100%;
              flex-shrink: 0;

              .sallie-chandler-unf {
                white-space: nowrap;
                width: 100%;
                text-align: center;
                font-size: 1rem;
                font-weight: 900;
                line-height: 2;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
              .account-manager-3dy {
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                width: 100%;
                text-align: center;
                font-size: 1rem;
                font-weight: 900;
                line-height: 2;
              }
            }
          }
          .control-mK5 {
            margin: 0.5rem 0;
            height: calc(100% - 1rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .button-7Nw {
              margin-right: 1rem;
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
            }
            .button-r5d {
              width: 3rem;
              height: 3rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 10rem;
              flex-shrink: 0;
            }
          }
        }
        .content-xeT {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 3.141rem 0rem 2.3rem;
          width: calc(100% - 5.4415rem);
          align-items: center;

          .auto-group-gycf-gKZ {
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 0rem 0rem 1.8rem 0.2rem;
            width: 100%;
            row-gap: 2rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;

            .company-PUs {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-wmH {
                align-items: center;
                flex-shrink: 0;
                margin-right: 10.7rem;
                height: 100%;
                display: flex;

                .social-domain-HaF {
                  margin-right: 2.5rem;
                  width: 2rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .fed-ex-company-2Gw {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #6b7a99;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-chevronright-9sM {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
              }
            }
            .mail-t4F {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2rem;

              .left-2gF {
                margin-right: 7.1rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .content-mail-BJF {
                  width: 2rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.5rem;
                }
                .schandlergmailcom-W5d {
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .navigation-chevronright-q7u {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
              }
            }
            .address-Mrw {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 0.3rem;
              width: calc(100% - 0.3rem);
              height: 2rem;

              .left-JXH {
                align-items: center;
                flex-shrink: 0;
                margin-right: 7.4rem;
                height: 100%;
                display: flex;

                .content-flag-FxK {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.1rem 2.7rem 0rem 0rem;
                  width: 1.5rem;
                  height: 1.7rem;
                  object-fit: contain;
                }
                .henderson-park-Bb5 {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
              .navigation-chevronright-KBV {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
              }
            }
            .phone-eDm {
              margin-left: 0.1rem;
              width: calc(100% - 0.1rem);
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-ymq {
                margin-right: 9rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .maps-localphone-k1u {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.604rem 0.004rem 0rem;
                  width: 1.7964rem;
                  height: 1.7964rem;
                  object-fit: contain;
                }
                .item-1-345-556-2248-fPm {
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .navigation-chevronright-mxb {
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .site-JSj {
              width: calc(100% - 0.1rem);
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 0.1rem;

              .left-F75 {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 8rem;

                .social-icshare2-bRq {
                  margin: 0rem 2.6rem 0.1rem 0rem;
                  width: 1.8rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .http-schandlercom-iFZ {
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                }
              }
              .navigation-chevronright-2n3 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
              }
            }
            .facebook-ki3 {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 0.6rem;
              width: calc(100% - 0.6rem);

              .left-6X1 {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 11rem;

                .social-icons-icfacebook-rm5 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 3rem;
                  width: 0.9rem;
                  height: 1.8rem;
                  object-fit: contain;
                }
                .sallie-chandler-BHZ {
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-chevronright-Jsy {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
              }
            }
            .telegram-2oy {
              flex-shrink: 0;
              margin-left: 0.1116rem;
              width: calc(100% - 0.1116rem);
              height: 2rem;
              display: flex;
              align-items: center;

              .left-xxX {
                margin-right: 9rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-icons-ictelegram-Wj9 {
                  margin: 0.172rem 2.757rem 0rem 0rem;
                  width: 1.6315rem;
                  height: 1.3676rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-1-345-556-2248-dHy {
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                }
              }
              .navigation-chevronright-kNb {
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
          .viber-Grj {
            width: 100%;
            height: 2.4rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .left-RUj {
              align-items: center;
              flex-shrink: 0;
              margin-right: 9rem;
              height: 100%;
              display: flex;

              .social-icons-icviber-BTu {
                margin-right: 2.3rem;
                width: 2.4rem;
                height: 2.4rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .item-1-345-556-2248-KKD {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .navigation-chevronright-Ewy {
              margin-bottom: 0.0834rem;
              width: 0.6585rem;
              height: 1.1166rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
          .auto-group-pf91-Aqd {
            padding: 1.8rem 0rem 0rem 0.2rem;
            width: 100%;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .messenger-6UP {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 1.9876rem;
              width: 100%;
              height: 2.0124rem;

              .left-qwm {
                flex-shrink: 0;
                margin-right: 9rem;
                height: 100%;
                display: flex;
                align-items: center;

                .social-icons-icmessenger--CXR {
                  margin-right: 2.5rem;
                  width: 2rem;
                  height: 2.0124rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-1-345-556-2248-Xpb {
                  flex-shrink: 0;
                  margin-bottom: 0.0124rem;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .navigation-chevronright-eeK {
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0958rem;
                width: 0.6585rem;
              }
            }
            .skype-nVd {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 2rem 0.025rem;
              width: calc(100% - 0.0246rem);

              .left-i8P {
                margin-right: 7.4rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-icons-icslype-f3d {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.001rem 2.53rem 0rem 0rem;
                  width: 1.9457rem;
                  height: 1.974rem;
                  object-fit: contain;
                }
                .sallie-chandler-skyp-Mx3 {
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                }
              }
              .navigation-chevronright-J6b {
                flex-shrink: 0;
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .whatsapp-Rh1 {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;

              .left-BAP {
                align-items: center;
                flex-shrink: 0;
                margin-right: 9rem;
                height: 100%;
                display: flex;

                .social-icons-icwhatsapp-L3H {
                  flex-shrink: 0;
                  margin: 0rem 2.5rem 0.001rem 0rem;
                  width: 2rem;
                  height: 1.9994rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .item-1-345-556-2248-3iP {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.2rem;
                  font-weight: 700;
                  line-height: 1.6666666667;
                  color: #7d8fb3;
                }
              }
              .navigation-chevronright-mPV {
                margin-bottom: 0.0834rem;
                width: 0.6585rem;
                height: 1.1166rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .content-SVd {
        box-sizing: border-box;
        padding-bottom: 2rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        border: solid 0.2rem #edeff2;
        border-radius: 1rem;

        .head-arj {
          border: solid 0.2rem #edeff2;
          flex-shrink: 0;
          margin-bottom: 2rem;
          box-sizing: border-box;
          padding-left: 5.7rem;
          width: 100%;
          height: 6rem;

          .tab-X1H {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100%;

            .tab-5Yb {
              display: flex;
              width: 3.7rem;
              text-align: center;
              font-size: 1.2rem;
              font-family: Roboto, 'Source Sans Pro';
              font-weight: 900;
              box-sizing: border-box;
              flex-shrink: 0;
              height: 100%;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              line-height: 1.6666666667;
              color: #3360ff;
              border: solid 0.2rem #3360ff;
            }
            .auto-group-dpvb-kud {
              align-items: flex-start;
              flex-shrink: 0;
              box-sizing: border-box;
              padding-left: 2rem;
              height: 100%;
              display: flex;

              .tab-V6X {
                font-family: Roboto, 'Source Sans Pro';
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                margin: 2rem 2rem 0rem 0rem;
                color: #7d8fb3;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .tab-bfM {
                margin: 2rem 2.4rem 0rem 0rem;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .tab-ijy {
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.6666666667;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 5rem;
                font-weight: 900;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
              }
              .tab-Svs {
                flex-shrink: 0;
                margin-right: 5rem;
                text-align: center;
                color: #7d8fb3;
                white-space: nowrap;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                font-family: Roboto, 'Source Sans Pro';
              }
              .tab-NpX {
                font-size: 1.2rem;
                font-weight: 900;
                white-space: nowrap;
                text-align: center;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                margin-right: 5rem;
              }
              .tab-Jy5 {
                margin-right: 5rem;
                font-family: Roboto, 'Source Sans Pro';
                color: #7d8fb3;
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
              }
              .tab-qy1 {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 5rem;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                text-align: center;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
              }
              .tab-B1H {
                line-height: 1.6666666667;
                font-family: Roboto, 'Source Sans Pro';
                font-weight: 900;
                color: #7d8fb3;
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 5rem;
                text-align: center;
                font-size: 1.2rem;
              }
              .tab-79q {
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
              }
            }
          }
        }
        .content-2Go {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-left: 2rem;
          width: 26rem;
          row-gap: 2.5rem;

          .input-8aj {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-gs9 {
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
            }
            .input-yzf {
              box-sizing: border-box;
              width: 100%;
              border-radius: 0.5rem;
              padding: 1.5rem 12.7rem 1.5rem 2rem;
              display: flex;
              align-items: center;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              background-color: #ffffff;
              flex-shrink: 0;

              .icon-7LB {
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.5rem;
                width: 2rem;
                height: 1.8rem;
                object-fit: contain;
              }
              .text-2xw {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
          .input-Kh9 {
            flex-direction: column;
            flex-shrink: 0;
            width: 100%;
            display: flex;

            .label-Upw {
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
            }
            .input-ocK {
              box-sizing: border-box;
              padding: 1.5rem 15.1rem 1.5rem 2rem;
              display: flex;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              flex-shrink: 0;
              width: 100%;
              align-items: center;
              background-color: #ffffff;
              border-radius: 0.5rem;

              .icon-9AP {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.441rem 0.041rem 0rem;
                width: 2.0593rem;
                height: 1.3592rem;
                object-fit: contain;
              }
              .text-e79 {
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .input-8o1 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-5iF {
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
            .input-zqD {
              box-sizing: border-box;
              padding: 1.5rem 9.3rem 1.5rem 2.1rem;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              flex-shrink: 0;
              width: 100%;
              display: flex;
              align-items: center;
              background-color: #ffffff;
              border-radius: 0.5rem;

              .icon-KsV {
                margin: 0rem 1.604rem 0.004rem 0rem;
                width: 1.7964rem;
                height: 1.7964rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .text-SSK {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .input-8a3 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-615 {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
            }
            .input-183 {
              align-items: center;
              padding: 1.5rem 9.3rem 1.5rem 2.1rem;
              width: 100%;
              display: flex;
              border-radius: 0.5rem;
              flex-shrink: 0;
              box-sizing: border-box;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              background-color: #ffffff;

              .icon-Xs5 {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 1.6rem 0.1rem 0rem;
                width: 1.8rem;
                height: 1.5rem;
                object-fit: contain;
              }
              .text-Fo5 {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .input-MbD {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-v8X {
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .input-Scf {
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              border-radius: 0.5rem;
              padding: 1.5rem 10.7rem 1.5rem 2rem;
              width: 100%;
              display: flex;
              flex-shrink: 0;
              box-sizing: border-box;
              align-items: center;
              background-color: #ffffff;

              .icon-nAj {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.5rem;
                width: 2rem;
                height: 1.6rem;
              }
              .text-vGw {
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
              }
            }
          }
          .input-255 {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-acP {
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .input-hwu {
              box-sizing: border-box;
              padding: 1.5rem 12.1rem 1.5rem 2rem;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              background-color: #ffffff;
              border-radius: 0.5rem;
              flex-shrink: 0;
              width: 100%;
              display: flex;
              align-items: center;

              .icon-ES3 {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 1.5rem;
                width: 2rem;
                height: 2rem;
              }
              .text-mwm {
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
              }
            }
          }
          .input-H9R {
            width: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .label-SHD {
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
            }
            .input-Zcj {
              box-sizing: border-box;
              padding: 1.5rem 3.9rem 1.5rem 2.3rem;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              flex-shrink: 0;
              width: 100%;
              display: flex;
              align-items: center;
              background-color: #ffffff;
              border-radius: 0.5rem;

              .icon-VWP {
                margin: 0.1rem 1.7rem 0rem 0rem;
                width: 1.5rem;
                height: 1.7rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .text-2FR {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .input-XT5 {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            flex-direction: column;

            .label-HSF {
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 2rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
            .input-cUX {
              padding: 1.5rem 18.1rem 1.5rem 2.6rem;
              align-items: center;
              box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
              flex-shrink: 0;
              box-sizing: border-box;
              width: 100%;
              display: flex;
              background-color: #ffffff;
              border-radius: 0.5rem;

              .icon-9UT {
                margin-right: 2rem;
                width: 0.9rem;
                height: 1.8rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .text-gjH {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
            }
          }
        }
      }
    }
  }
}
