
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.clients-360-c23 {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  box-sizing: border-box;
  padding-bottom: 1.5rem;

  .navigate-6T1 {
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 100%;
    height: 10rem;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;

    .content-EJK {
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;

      .logo-ad5 {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-right: 7.9rem;
        height: 100%;

        .button-L6T {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
          margin-right: 3.5rem;
        }
        .constructor-FUK {
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
        }
      }
      .right-xtX {
        flex-shrink: 0;
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .content-gpX {
    border-radius: 2rem;
    margin-left: 1.5rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 67rem;
    border: solid 0.2rem #edeff2;
    box-sizing: border-box;
    flex-shrink: 0;

    .head-cy5 {
      box-sizing: border-box;
      padding-left: 2rem;
      width: 100%;
      height: 8rem;
      border: solid 0.1rem #edeff2;
      flex-shrink: 0;

      .tab-mqy {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .tab-LPH {
          font-family: Roboto, 'Source Sans Pro';
          align-items: center;
          border: solid 0.2rem #3360ff;
          width: 6.1rem;
          color: #3360ff;
          white-space: nowrap;
          display: flex;
          font-size: 1.2rem;
          font-weight: 900;
          justify-content: center;
          height: 100%;
          text-align: center;
          flex-shrink: 0;
          line-height: 1.6666666667;
          box-sizing: border-box;
        }
        .auto-group-63jf-1VR {
          padding-left: 2rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-bdao-wdy {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.1rem;
            width: 7.9rem;
            align-items: flex-end;
            display: flex;

            .tab-fZy {
              font-size: 1.2rem;
              flex-shrink: 0;
              margin-bottom: 1rem;
              width: 100%;
              text-align: center;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-weight: 900;
              line-height: 1.6666666667;
              color: #7d8fb3;
            }
            .tab-nPh {
              line-height: 1.6666666667;
              width: 100%;
              font-size: 1.2rem;
              font-weight: 900;
              white-space: nowrap;
              flex-shrink: 0;
              text-align: center;
              color: #7d8fb3;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .auto-group-m4hd-uz7 {
            margin-right: 5rem;
            width: 10.9rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-lchd-FYB {
              align-items: center;
              flex-shrink: 0;
              margin-left: 1.9rem;
              width: calc(100% - 1.9rem);
              display: flex;

              .tab-aKZ {
                font-size: 1.2rem;
                line-height: 1.6666666667;
                font-family: Roboto, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: center;
                font-weight: 900;
                color: #7d8fb3;
                white-space: nowrap;
                margin-right: 5rem;
              }
              .tab-6oh {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .button-2xF {
              text-align: center;
              font-weight: 900;
              font-family: Roboto, 'Source Sans Pro';
              border: solid 0.2rem #3360ff;
              height: 4rem;
              color: #ffffff;
              background-color: #3360ff;
              flex-shrink: 0;
              margin-right: 1rem;
              display: flex;
              justify-content: center;
              box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
              line-height: 1.6666666667;
              font-size: 1.2rem;
              white-space: nowrap;
              align-items: center;
              box-sizing: border-box;
              border-radius: 2rem;
              width: 9.9rem;
            }
          }
          .tab-fVR {
            text-align: center;
            font-weight: 900;
            line-height: 1.6666666667;
            white-space: nowrap;
            margin-right: 5rem;
            font-size: 1.2rem;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .tab-ByZ {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5rem;
            line-height: 1.6666666667;
            color: #7d8fb3;
          }
          .tab-uuZ {
            font-weight: 900;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            margin-right: 5rem;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.6666666667;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .tab-eMM {
            font-weight: 900;
            flex-shrink: 0;
            margin-right: 5rem;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .tab-N2T {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #7d8fb3;
          }
        }
      }
    }
    .auto-group-5yyy-ULP {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 2rem;

      .head-bvo {
        border: solid 0.1rem #edeff2;
        box-sizing: border-box;
        height: 6rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 2rem;
        padding: 1.5rem 2rem;
        column-gap: 2.7rem;

        .clients-46-companies-7eF {
          color: #6b7a99;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2.1428571429;
        }
        .center-dcb {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-button-nEb {
            margin-right: 0.6rem;
            width: 6.8rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .button-WgP {
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
          }
        }
        .button-S4F {
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.5rem 1.786rem 0.5rem 1.5rem;
          height: 100%;
          display: flex;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 2rem;

          .button-Akw {
            line-height: 2;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.2199rem;
            font-size: 1rem;
            font-weight: 900;
          }
          .icon-i1m {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0468rem;
            width: 0.894rem;
            height: 0.5268rem;
            object-fit: contain;
          }
        }
      }
      .content-mkj {
        margin-left: 2rem;
        width: 29rem;
        row-gap: 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .card-Vwd {
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.25rem;
          display: flex;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          width: 100%;
          align-items: center;
          flex-direction: column;

          .head-T7m {
            display: flex;
            align-items: center;
            border: solid 0.2rem #f5f6f7;
            margin-bottom: 2.25rem;
            box-sizing: border-box;
            height: 9rem;
            padding-right: 8.3rem;
            width: 100%;
            flex-shrink: 0;

            .logo-zNb {
              height: 100%;
              border: solid 0.2rem #f5f6f7;
              flex-shrink: 0;
              margin-right: 2rem;
              box-sizing: border-box;
              padding: 2rem;
              width: 9rem;

              .avatar-image-LST {
                height: 100%;
                background-color: rgba(51, 97, 255, 0.3000000119);
                border-radius: 300rem;
                width: 100%;

                .auto-group-j89d-6Rd {
                  vertical-align: top;
                  width: 5rem;
                  height: 5rem;
                  position: relative;
                  object-fit: contain;
                }
              }
            }
            .center-zG7 {
              flex-shrink: 0;
              margin: 2rem 0;
              height: calc(100% - 4rem);
              display: flex;
              flex-direction: column;

              .linnie-richardson-Xmq {
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
              .account-manager-TfV {
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
                color: #adb8cc;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .content-NGf {
            margin: 0rem 2.951rem 0rem 2.417rem;
            width: calc(100% - 5.3679rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .project-go9 {
              margin-bottom: 1rem;
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-S1d {
                margin-right: 13.1rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .places-businesscenter-nbH {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.4167rem;
                  width: 1.6667rem;
                  height: 1.5rem;
                  object-fit: contain;
                }
                .bmw-motors-ijq {
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-chevronright-Svj {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0695rem;
                width: 0.5488rem;
                height: 0.9305rem;
                object-fit: contain;
              }
            }
            .employees-y9y {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-WQo {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 9.8rem;
                height: 100%;

                .content-mail-Tqq {
                  height: 1.3333rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.417rem 0rem 0rem;
                  width: 1.6667rem;
                }
                .zomaomazaibgov-yJP {
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .navigation-chevronright-VnX {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0695rem;
                width: 0.5488rem;
                height: 0.9305rem;
                object-fit: contain;
              }
            }
            .auto-group-g1zh-cs9 {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1rem 0rem 0rem 0.083rem;
              width: 100%;
              align-items: center;
              display: flex;

              .open-tasks-kCf {
                margin-bottom: 1rem;
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .left-HyH {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 11.9rem;
                  height: 100%;
                  display: flex;

                  .maps-localphone-qju {
                    margin: 0rem 2.503rem 0.003rem 0rem;
                    width: 1.497rem;
                    height: 1.497rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .item-840-574-8039-ZR1 {
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                  }
                }
                .navigation-chevronright-gVd {
                  margin-bottom: 0.0695rem;
                  width: 0.5488rem;
                  height: 0.9305rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .budget-1H1 {
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .left-A9u {
                  margin-right: 10.9rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .content-sort-759 {
                    height: 1rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 2.5rem;
                    width: 1.5rem;
                  }
                  .open-projects-10-3Dh {
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .navigation-chevronright-mQb {
                  margin-bottom: 0.0695rem;
                  width: 0.5488rem;
                  height: 0.9305rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
        .card-eUP {
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          width: 100%;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.25rem;

          .head-PRy {
            box-sizing: border-box;
            padding-right: 9.2rem;
            width: 100%;
            height: 9rem;
            border: solid 0.2rem #f5f6f7;
            margin-bottom: 2.25rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .logo-jEw {
              margin-right: 2rem;
              box-sizing: border-box;
              padding: 2rem;
              width: 9rem;
              height: 100%;
              border: solid 0.2rem #f5f6f7;
              flex-shrink: 0;

              .avatar-image-srw {
                width: 100%;
                height: 100%;
                background-color: rgba(255, 102, 51, 0.3000000119);
                border-radius: 300rem;

                .auto-group-hhgb-ESb {
                  object-fit: contain;
                  vertical-align: top;
                  width: 5rem;
                  height: 5rem;
                  position: relative;
                }
              }
            }
            .center-LEj {
              flex-direction: column;
              flex-shrink: 0;
              margin: 2rem 0;
              height: calc(100% - 4rem);
              display: flex;

              .caroline-medina-Ubq {
                margin-bottom: 1rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .account-manager-Cnj {
                font-weight: 700;
                line-height: 2;
                color: #adb8cc;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
              }
            }
          }
          .content-uh9 {
            margin: 0rem 2.951rem 0rem 2.417rem;
            width: calc(100% - 5.3679rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .project-32f {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-bottom: 1rem;

              .left-aoH {
                margin-right: 11.5rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .places-businesscenter-XyR {
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.4167rem;
                  width: 1.6667rem;
                }
                .fed-ex-company-U7y {
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                }
              }
              .navigation-chevronright-zs1 {
                margin-bottom: 0.0695rem;
                width: 0.5488rem;
                height: 0.9305rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .employees-8TR {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2rem;

              .left-HLK {
                align-items: center;
                flex-shrink: 0;
                margin-right: 9.8rem;
                height: 100%;
                display: flex;

                .content-mail-F2F {
                  flex-shrink: 0;
                  margin: 0rem 2.417rem 0rem 0rem;
                  width: 1.6667rem;
                  height: 1.3333rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .zomaomazaibgov-Zod {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                }
              }
              .navigation-chevronright-HzX {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0695rem;
                width: 0.5488rem;
                height: 0.9305rem;
                object-fit: contain;
              }
            }
            .auto-group-nj4x-QZM {
              padding: 1rem 0rem 0rem 0.083rem;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;

              .open-tasks-wJP {
                flex-shrink: 0;
                margin-bottom: 1rem;
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;

                .left-5Qb {
                  margin-right: 11.9rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .maps-localphone-RzF {
                    margin: 0rem 2.503rem 0.003rem 0rem;
                    width: 1.497rem;
                    height: 1.497rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .item-840-574-8039-jk3 {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                  }
                }
                .navigation-chevronright-FiP {
                  margin-bottom: 0.0695rem;
                  width: 0.5488rem;
                  height: 0.9305rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .budget-akf {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 100%;
                height: 2rem;

                .left-YBh {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 10.9rem;
                  height: 100%;
                  display: flex;

                  .content-sort-6DD {
                    flex-shrink: 0;
                    margin-right: 2.5rem;
                    width: 1.5rem;
                    height: 1rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .open-projects-10-dU3 {
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                  }
                }
                .navigation-chevronright-NAj {
                  flex-shrink: 0;
                  margin-bottom: 0.0695rem;
                  width: 0.5488rem;
                  height: 0.9305rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
          }
        }
        .card-dMZ {
          background-color: #ffffff;
          border-radius: 0.5rem;
          box-sizing: border-box;
          align-items: center;
          display: flex;
          flex-direction: column;
          padding-bottom: 2.25rem;
          width: 100%;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          flex-shrink: 0;

          .head-Npw {
            padding-right: 10rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 2.25rem;
            box-sizing: border-box;
            width: 100%;
            height: 9rem;
            border: solid 0.2rem #f5f6f7;

            .logo-ups {
              box-sizing: border-box;
              padding: 2rem;
              width: 9rem;
              height: 100%;
              border: solid 0.2rem #f5f6f7;
              flex-shrink: 0;
              margin-right: 2rem;

              .avatar-image-f3M {
                background-color: rgba(40, 204, 56, 0.200000003);
                border-radius: 300rem;
                width: 100%;
                height: 100%;

                .auto-group-ukdr-cjH {
                  width: 5rem;
                  height: 5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
            .center-iXR {
              margin: 2rem 0;
              height: calc(100% - 4rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .elnora-mack-fSf {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
              }
              .account-manager-zUw {
                color: #adb8cc;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
              }
            }
          }
          .content-ubu {
            width: calc(100% - 5.3679rem);
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 2.951rem 0rem 2.417rem;

            .project-1uq {
              margin-bottom: 1rem;
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-kcX {
                flex-shrink: 0;
                margin-right: 9.5rem;
                height: 100%;
                display: flex;
                align-items: center;

                .places-businesscenter-Je3 {
                  margin-right: 2.4167rem;
                  width: 1.6667rem;
                  height: 1.5rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .samsung-electronics-qP5 {
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                }
              }
              .navigation-chevronright-xib {
                height: 0.9305rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0695rem;
                width: 0.5488rem;
              }
            }
            .employees-t6T {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-2iT {
                margin-right: 9.8rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .content-mail-mvw {
                  margin: 0rem 2.417rem 0rem 0rem;
                  width: 1.6667rem;
                  height: 1.3333rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .zomaomazaibgov-V6F {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                }
              }
              .navigation-chevronright-REo {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0695rem;
                width: 0.5488rem;
                height: 0.9305rem;
              }
            }
            .auto-group-xchd-YKR {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1rem 0rem 0rem 0.083rem;
              width: 100%;

              .open-tasks-5KM {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 1rem;
                width: 100%;
                height: 2rem;

                .left-caB {
                  flex-shrink: 0;
                  margin-right: 11.9rem;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .maps-localphone-mhy {
                    height: 1.497rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 2.503rem 0.003rem 0rem;
                    width: 1.497rem;
                  }
                  .item-840-574-8039-VP5 {
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                  }
                }
                .navigation-chevronright-R1q {
                  width: 0.5488rem;
                  height: 0.9305rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0695rem;
                }
              }
              .budget-kK1 {
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .left-WJB {
                  margin-right: 10.9rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .content-sort-TjD {
                    height: 1rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 2.5rem;
                    width: 1.5rem;
                  }
                  .open-projects-10-o2P {
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                  }
                }
                .navigation-chevronright-KWX {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0695rem;
                  width: 0.5488rem;
                  height: 0.9305rem;
                }
              }
            }
          }
        }
        .card-zsZ {
          padding-bottom: 2.25rem;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          display: flex;
          flex-direction: column;
          background-color: #ffffff;

          .head-wno {
            width: 100%;
            height: 9rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 2.25rem;
            box-sizing: border-box;
            padding-right: 10rem;
            border: solid 0.2rem #f5f6f7;

            .logo-tCF {
              height: 100%;
              border: solid 0.2rem #f5f6f7;
              flex-shrink: 0;
              margin-right: 2rem;
              box-sizing: border-box;
              padding: 2rem;
              width: 9rem;

              .avatar-image-d9q {
                background-color: rgba(51, 190, 255, 0.3000000119);
                border-radius: 300rem;
                width: 100%;
                height: 100%;

                .auto-group-ge2s-nYX {
                  width: 5rem;
                  height: 5rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
            }
            .center-sps {
              margin: 2rem 0;
              height: calc(100% - 4rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .essie-atkins-RLb {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 1rem;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .account-manager-x5d {
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
                color: #adb8cc;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .content-U3y {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 2.951rem 0rem 2.417rem;
            width: calc(100% - 5.3679rem);
            align-items: center;

            .project-nqM {
              margin-bottom: 1rem;
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-vwZ {
                margin-right: 10.3rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .places-businesscenter-5pT {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.4167rem;
                  width: 1.6667rem;
                  height: 1.5rem;
                  object-fit: contain;
                }
                .apple-inc-company-D9y {
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                }
              }
              .navigation-chevronright-M1H {
                margin-bottom: 0.0695rem;
                width: 0.5488rem;
                height: 0.9305rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .employees-5CB {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;

              .left-RG3 {
                margin-right: 9.8rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .content-mail-Nwy {
                  height: 1.3333rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.417rem 0rem 0rem;
                  width: 1.6667rem;
                }
                .zomaomazaibgov-78s {
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .navigation-chevronright-EUP {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0695rem;
                width: 0.5488rem;
                height: 0.9305rem;
              }
            }
            .auto-group-4v9m-N4o {
              box-sizing: border-box;
              padding: 1rem 0rem 0rem 0.083rem;
              width: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .open-tasks-hMy {
                margin-bottom: 1rem;
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .left-qUB {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 11.9rem;
                  height: 100%;
                  display: flex;

                  .maps-localphone-C3q {
                    margin: 0rem 2.503rem 0.003rem 0rem;
                    width: 1.497rem;
                    height: 1.497rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .item-840-574-8039-7Ao {
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                  }
                }
                .navigation-chevronright-2oZ {
                  margin-bottom: 0.0695rem;
                  width: 0.5488rem;
                  height: 0.9305rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
              .budget-Maw {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 100%;
                height: 2rem;

                .left-JFH {
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 10.9rem;
                  height: 100%;

                  .content-sort-FgK {
                    margin-right: 2.5rem;
                    width: 1.5rem;
                    height: 1rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .open-projects-10-bVH {
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                  }
                }
                .navigation-chevronright-w3M {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0695rem;
                  width: 0.5488rem;
                  height: 0.9305rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
