
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 76.8rem;
}.clients-768-1i7 {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f7f8fa;
  box-sizing: border-box;
  padding-bottom: 3rem;
  width: 100%;

  .navigate-WPy {
    margin-bottom: 3rem;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 100%;
    height: 10rem;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;

    .content-EKy {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-nMV {
        flex-shrink: 0;
        margin-right: 14.9rem;
        height: 100%;
        display: flex;
        align-items: center;

        .button-wEP {
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
          margin-right: 3.5rem;
          width: 5rem;
        }
        .constructor-G1m {
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .right-aYF {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .user-jg3 {
          margin: 1.25rem 3rem 1.25rem 0rem;
          height: calc(100% - 2.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-FuH {
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 2rem;
          }
          .clayton-santos-zby {
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
          }
        }
        .control-XM1 {
          height: 100%;
          display: flex;
          column-gap: 1rem;
          align-items: center;
          flex-shrink: 0;

          .button-fTD {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
          }
          .notification-11H {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            position: relative;
          }
          .button-jT5 {
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .button-519 {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .content-BZy {
    align-items: center;
    display: flex;
    flex-direction: column;
    border: solid 0.2rem #edeff2;
    box-sizing: border-box;
    margin-left: 4rem;
    width: 113rem;
    border-radius: 3rem;
    flex-shrink: 0;

    .head-XNw {
      box-sizing: border-box;
      padding-left: 4rem;
      width: 100%;
      height: 8rem;
      border: solid 0.1rem #edeff2;
      flex-shrink: 0;

      .icon-tab-59Z {
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;

        .tab-psq {
          height: 100%;
          display: flex;
          align-items: center;
          border: solid 0.2rem #3360ff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3rem 1rem 3rem 0.5rem;

          .icon-xUF {
            flex-shrink: 0;
            margin-right: 1rem;
            width: 2rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .tab-6qM {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #3360ff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .auto-group-rotj-Rcj {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.5rem 46rem 0.5rem 2.6rem;
          width: 98.4rem;

          .tab-Xfm {
            align-items: center;
            flex-shrink: 0;
            margin: 2.5rem 25rem 2.5rem 0rem;
            height: calc(100% - 5rem);
            display: flex;

            .icon-sDq {
              flex-shrink: 0;
              margin-right: 1.1rem;
              width: 1.8rem;
              height: 1.8rem;
              object-fit: contain;
              vertical-align: top;
            }
            .tab-D2o {
              flex-shrink: 0;
              text-align: center;
              font-size: 1.2rem;
              font-weight: 900;
              line-height: 1.6666666667;
              color: #7d8fb3;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .auto-group-4d9q-Y55 {
            width: 15.9rem;
            height: 5.5rem;
            flex-shrink: 0;
            margin-bottom: 1.5rem;
            box-sizing: border-box;
            padding: 1.5rem 0rem 0rem 3.5rem;

            .button-r5m {
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              border: solid 0.2rem #3360ff;
              width: 100%;
              line-height: 1.6666666667;
              border-radius: 2rem;
              height: 100%;
              box-sizing: border-box;
              display: flex;
              box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
              background-color: #3360ff;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              font-weight: 900;
              text-align: center;
              font-size: 1.2rem;
            }
          }
        }
      }
    }
    .auto-group-1qty-sFm {
      box-sizing: border-box;
      padding-bottom: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .head-ov7 {
        box-sizing: border-box;
        column-gap: 3.6rem;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        border: solid 0.1rem #edeff2;
        margin-bottom: 4.5rem;
        padding: 2rem 4rem;
        height: 8rem;

        .clients-46-companies-vzj {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2.1428571429;
          color: #6b7a99;
          font-family: Roboto, 'Source Sans Pro';
        }
        .center-fhR {
          align-items: center;
          flex-shrink: 0;
          height: 100%;
          display: flex;

          .group-button-d8T {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 8.6rem;
          }
          .input-Mq9 {
            flex-shrink: 0;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            align-items: center;
            border-radius: 3rem;
            padding: 1rem 11.1rem 1rem 1.98rem;
            box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
            background-color: #ffffff;

            .icon-t4P {
              flex-shrink: 0;
              margin: 0rem 1.556rem 0.075rem 0rem;
              width: 1.3639rem;
              height: 1.3647rem;
              object-fit: contain;
              vertical-align: top;
            }
            .text-QHd {
              font-size: 1rem;
              font-weight: 900;
              line-height: 2;
              color: #7d8fb3;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
        }
        .button-gW3 {
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1rem 2.417rem 1rem 2rem;
          display: flex;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 2rem;
          height: 100%;
          align-items: center;
          background-color: #ffffff;

          .button-DVy {
            margin-right: 1.34rem;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .icon-MMH {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0546rem;
            width: 1.043rem;
            height: 0.6146rem;
            object-fit: contain;
          }
        }
      }
      .table-cY7 {
        flex-shrink: 0;
        margin-left: 2rem;
        width: 65rem;

        .row-x6B {
          display: flex;
          align-items: center;
          margin: 0rem 0rem 4rem 2rem;

          .logo-siw {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
          }
          .name-company-cAj {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.45rem;
            font-size: 1.2rem;
          }
          .open-projects-vx7 {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.65rem;
            font-size: 1.2rem;
          }
          .members-4YX {
            flex-shrink: 0;
            margin-right: 3.5rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .open-tasks-zh5 {
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.9rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .budget-8YP {
            flex-shrink: 0;
            margin-right: 5.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .controls-4wq {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .row-16P {
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          height: 9rem;
          display: flex;
          align-items: center;
          padding: 2rem 3.5rem 2rem 3.3rem;
          width: 100%;

          .cell-uxT {
            margin-right: 3.3rem;
            width: 2.4rem;
            height: 2.9rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .left-FFd {
            margin-right: 5.65rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .apple-company-o2F {
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
            }
            .electronic-vcf {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .item-8-EdM {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .item-4-mdH {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.95rem;
          }
          .item-12-6vT {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.8rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .item-556600-Rxj {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .cell-kVD {
            vertical-align: top;
            flex-shrink: 0;
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
          }
        }
        .row-FB5 {
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          padding: 2rem 3.5rem 2rem 2.75rem;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          width: 100%;
          height: 9rem;
          display: flex;
          background-color: #ffffff;

          .cell-vHD {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.75rem 0rem 0rem;
            width: 3.5001rem;
            height: 3.5rem;
          }
          .left-pdV {
            margin-right: 6.55rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .bmw-motors-Z5H {
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
            }
            .auto-buelding-H1H {
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
            }
          }
          .item-8-cZM {
            margin-right: 6.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-4-kQf {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.95rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-12-tWs {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.8rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .item-556600-pvK {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .cell-Z7D {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-qqR {
          display: flex;
          align-items: center;
          box-sizing: border-box;
          padding: 2rem 3.5rem 2rem 2.113rem;
          width: 100%;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          height: 9rem;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

          .cell-x9M {
            width: 4.7745rem;
            height: 1.7331rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.113rem 0rem 0rem;
          }
          .left-Gfq {
            margin-right: 5.25rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .tinder-company-QGF {
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
            .web-site-WKH {
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .item-8-2YX {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .item-4-ZHZ {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.95rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-12-Vwu {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.8rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-556600-qks {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .cell-Zwm {
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 9.5rem;
          }
        }
        .row-sBm {
          align-items: center;
          background-color: #ffffff;
          width: 100%;
          height: 9rem;
          display: flex;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          padding: 2rem 3.5rem 2rem 1.952rem;

          .cell-a6B {
            margin: 0rem 1.952rem 0rem 0rem;
            width: 5.0964rem;
            height: 0.7462rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .left-6aK {
            flex-shrink: 0;
            margin-right: 3.35rem;
            height: 100%;
            display: flex;
            flex-direction: column;

            .samsung-Su5 {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
            }
            .electronic-company-Brf {
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .item-8-v3Z {
            flex-shrink: 0;
            margin-right: 6.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-4-rT1 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.95rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-12-ato {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.8rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-556600-vSs {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.2rem;
            font-size: 1.2rem;
          }
          .cell-rrK {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-a1d {
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          border-radius: 0.5rem;
          height: 9rem;
          box-sizing: border-box;
          padding: 2rem 3.5rem 2rem 2.05rem;
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 1.5rem;

          .cell-5UB {
            height: 3.4297rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 2.05rem 0rem 0rem;
            width: 4.9rem;
          }
          .left-Pzf {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 2.85rem;

            .salesforce-9iw {
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
            }
            .application-software-V27 {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
            }
          }
          .item-8-p4P {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .item-4-LoR {
            margin-right: 5.95rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-12-GBH {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.8rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-556600-nvK {
            flex-shrink: 0;
            margin-right: 3.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .cell-8DV {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-qNo {
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          box-sizing: border-box;
          height: 9rem;
          align-items: center;
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          padding: 2rem 3.5rem 2rem 2.814rem;
          width: 100%;

          .cell-98b {
            margin: 0rem 2.814rem 0rem 0rem;
            width: 3.3712rem;
            height: 3.8513rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .left-fMq {
            margin-right: 7.25rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .shell-QKR {
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .oil-company-8mD {
              line-height: 1.6666666667;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
            }
          }
          .item-8-GMd {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-4-o6f {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.95rem;
            font-size: 1.2rem;
          }
          .item-12-K51 {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.8rem;
          }
          .item-556600-e7H {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.2rem;
          }
          .cell-ZV9 {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 9.5rem;
            height: 4rem;
          }
        }
        .row-G8f {
          height: 9rem;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          box-sizing: border-box;
          padding: 2rem 3.5rem 2rem 2.239rem;
          background-color: #ffffff;
          border-radius: 0.5rem;
          width: 100%;
          display: flex;

          .cell-kpX {
            margin: 0rem 2.239rem 0rem 0rem;
            width: 4.5222rem;
            height: 1.3854rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .left-H3m {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 4.35rem;

            .fedex-Di7 {
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .delivery-company-A7Z {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .item-8-h7V {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-4-dG3 {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.95rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-12-9VH {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 4.8rem;
            font-size: 1.2rem;
          }
          .item-556600-V3M {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .cell-Qw1 {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
