
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 36rem;
}.clients-360-VDy {
  flex-direction: column;
  background-color: #f7f8fa;
  box-sizing: border-box;
  padding-bottom: 1.5rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;

  .navigate-mBV {
    margin-bottom: 1.5rem;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 100%;
    height: 10rem;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;

    .content-VdH {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-em5 {
        flex-shrink: 0;
        margin-right: 7.9rem;
        height: 100%;
        display: flex;
        align-items: center;

        .button-bwD {
          flex-shrink: 0;
          margin-right: 3.5rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
        }
        .constructor-ikw {
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .right-SB9 {
        width: 5rem;
        height: 5rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
  }
  .content-9bM {
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    flex-shrink: 0;
    margin-left: 1.5rem;
    width: 67rem;
    border: solid 0.2rem #edeff2;
    box-sizing: border-box;

    .head-HSf {
      box-sizing: border-box;
      padding-left: 2rem;
      width: 100%;
      height: 8rem;
      border: solid 0.1rem #edeff2;
      flex-shrink: 0;

      .tab-3Aw {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .tab-CZd {
          text-align: center;
          white-space: nowrap;
          border: solid 0.2rem #3360ff;
          flex-shrink: 0;
          align-items: center;
          width: 6.1rem;
          font-size: 1.2rem;
          line-height: 1.6666666667;
          color: #3360ff;
          font-family: Roboto, 'Source Sans Pro';
          box-sizing: border-box;
          height: 100%;
          font-weight: 900;
          display: flex;
          justify-content: center;
        }
        .auto-group-sdkt-gDu {
          box-sizing: border-box;
          padding-left: 2rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-zdpu-Qfh {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 3.1rem;
            width: 7.9rem;
            align-items: flex-end;

            .tab-8rb {
              text-align: center;
              font-size: 1.2rem;
              font-family: Roboto, 'Source Sans Pro';
              flex-shrink: 0;
              color: #7d8fb3;
              white-space: nowrap;
              margin-bottom: 1rem;
              width: 100%;
              font-weight: 900;
              line-height: 1.6666666667;
            }
            .tab-Tdy {
              font-size: 1.2rem;
              font-weight: 900;
              line-height: 1.6666666667;
              color: #7d8fb3;
              width: 100%;
              text-align: center;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .auto-group-qpuv-aTh {
            width: 10.9rem;
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 5rem;

            .auto-group-chcb-vGf {
              width: calc(100% - 1.9rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 1.9rem;

              .tab-4dm {
                margin-right: 5rem;
                font-weight: 900;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                text-align: center;
                font-size: 1.2rem;
                line-height: 1.6666666667;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .tab-BTV {
                text-align: center;
                font-size: 1.2rem;
                font-weight: 900;
                line-height: 1.6666666667;
                color: #7d8fb3;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .button-X1Z {
              height: 4rem;
              font-weight: 900;
              display: flex;
              background-color: #3360ff;
              flex-shrink: 0;
              font-size: 1.2rem;
              line-height: 1.6666666667;
              font-family: Roboto, 'Source Sans Pro';
              border: solid 0.2rem #3360ff;
              box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
              border-radius: 2rem;
              margin-right: 1rem;
              width: 9.9rem;
              text-align: center;
              color: #ffffff;
              white-space: nowrap;
              align-items: center;
              justify-content: center;
              box-sizing: border-box;
            }
          }
          .tab-Lzb {
            margin-right: 5rem;
            text-align: center;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            white-space: nowrap;
          }
          .tab-gHm {
            font-weight: 900;
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5rem;
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
          }
          .tab-nbh {
            text-align: center;
            line-height: 1.6666666667;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 5rem;
            font-size: 1.2rem;
            font-weight: 900;
            color: #7d8fb3;
            white-space: nowrap;
          }
          .tab-X3V {
            font-size: 1.2rem;
            line-height: 1.6666666667;
            color: #7d8fb3;
            margin-right: 5rem;
            font-weight: 900;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
          .tab-eto {
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
          }
        }
      }
    }
    .auto-group-51wv-ygB {
      box-sizing: border-box;
      padding-bottom: 2rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .head-tYF {
        display: flex;
        margin-bottom: 2rem;
        box-sizing: border-box;
        padding: 1.5rem 2rem;
        height: 6rem;
        column-gap: 2.7rem;
        align-items: center;
        border: solid 0.1rem #edeff2;
        flex-shrink: 0;

        .clients-46-companies-cUF {
          font-size: 1.4rem;
          font-weight: 700;
          line-height: 2.1428571429;
          color: #6b7a99;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .center-VwM {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-button-Ffd {
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.6rem;
            width: 6.8rem;
          }
          .button-aT1 {
            border-radius: 10rem;
            flex-shrink: 0;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
        .button-ukB {
          padding: 0.5rem 1.786rem 0.5rem 1.5rem;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          border-radius: 2rem;
          height: 100%;

          .button-Sk7 {
            line-height: 2;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 1.22rem;
            font-size: 1rem;
            font-weight: 900;
          }
          .icon-yV9 {
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0468rem;
            width: 0.894rem;
            height: 0.5268rem;
            object-fit: contain;
          }
        }
      }
      .content-DuH {
        width: 29rem;
        row-gap: 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin-left: 2rem;

        .card-MEo {
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          border-radius: 0.5rem;
          padding-bottom: 2.25rem;
          display: flex;
          flex-direction: column;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          flex-shrink: 0;

          .head-6TH {
            width: 100%;
            display: flex;
            padding-right: 11.5rem;
            box-sizing: border-box;
            height: 7rem;
            align-items: center;
            border: solid 0.2rem #f5f6f7;
            flex-shrink: 0;
            margin-bottom: 2.25rem;

            .logo-dTD {
              margin-right: 2rem;
              width: 7rem;
              height: 7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .center-mZR {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 1.5rem 0;
              height: calc(100% - 3rem);

              .apple-company-hxs {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
              .electronic-qpB {
                line-height: 2;
                color: #adb8cc;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
              }
            }
          }
          .content-wcK {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 2rem 0rem 2.333rem;
            width: calc(100% - 4.3333rem);
            align-items: flex-end;

            .project-rzB {
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 0.167rem;
              width: calc(100% - 0.1667rem);
              height: 2rem;
              display: flex;
              align-items: center;

              .left-avB {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 13.2rem;

                .content-sort-wEw {
                  margin-right: 2.5rem;
                  width: 1.5rem;
                  height: 1rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .open-projects--fwd {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .item-8-oY3 {
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .employees-jgb {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-5VZ {
                align-items: center;
                flex-shrink: 0;
                margin-right: 14.7rem;
                height: 100%;
                display: flex;

                .social-group-2vb {
                  margin: 0rem 2.333rem 0rem 0rem;
                  width: 1.8333rem;
                  height: 1.1667rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .employees--MCB {
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .item-4-V3V {
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .auto-group-genb-oZy {
              box-sizing: border-box;
              padding: 1rem 0rem 0rem 0.083rem;
              width: 100%;
              align-items: flex-end;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .open-tasks-vuV {
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 1rem;
                width: 100%;
                height: 2rem;
                display: flex;

                .left-51h {
                  margin-right: 13.7rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .av-playlistaddcheck-RLT {
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 2.367rem 0.034rem 0rem;
                    width: 1.716rem;
                    height: 1.1327rem;
                    object-fit: contain;
                  }
                  .open-tasks--iqM {
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .item-12-fVh {
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                }
              }
              .budget-bu9 {
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 0.1rem 0rem 0.417rem;
                width: calc(100% - 0.5167rem);
                height: 2rem;
                display: flex;

                .left-XXu {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 12.1rem;
                  height: 100%;
                  display: flex;

                  .editor-attachmoney-t7Z {
                    margin-right: 2.8333rem;
                    width: 0.8333rem;
                    height: 1.5rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                  }
                  .budget--cJT {
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                  }
                }
                .item-556600-jts {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
            }
          }
        }
        .card-oNw {
          align-items: center;
          flex-direction: column;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-bottom: 2.25rem;
          width: 100%;
          display: flex;
          background-color: #ffffff;

          .head-wk3 {
            margin-bottom: 2.25rem;
            box-sizing: border-box;
            border: solid 0.2rem #f5f6f7;
            flex-shrink: 0;
            padding-right: 13.9rem;
            width: 100%;
            height: 7rem;
            display: flex;
            align-items: center;

            .logo-5rF {
              width: 7rem;
              height: 7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2rem;
            }
            .center-q4j {
              height: calc(100% - 3rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 1.5rem 0;

              .bmw-corp-myy {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
              }
              .electronic-v6B {
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
                color: #adb8cc;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .content-qD9 {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 2rem 0rem 2.333rem;
            width: calc(100% - 4.3333rem);
            align-items: flex-end;
            display: flex;

            .project-MxB {
              margin: 0rem 0rem 1rem 0.167rem;
              width: calc(100% - 0.1667rem);
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-gDm {
                margin-right: 13.2rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .content-sort-2oR {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.5rem;
                  width: 1.5rem;
                  height: 1rem;
                  object-fit: contain;
                }
                .open-projects--yCs {
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .item-8-ucK {
                line-height: 2;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
              }
            }
            .employees-ScF {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-PXV {
                margin-right: 14.7rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-group-YQP {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 2.333rem 0rem 0rem;
                  width: 1.8333rem;
                  height: 1.1667rem;
                  object-fit: contain;
                }
                .employees--sBm {
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                }
              }
              .item-4-QBh {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .auto-group-gz1h-99H {
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1rem 0rem 0rem 0.083rem;
              width: 100%;
              align-items: flex-end;
              display: flex;
              flex-direction: column;

              .open-tasks-Gjh {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 1rem;
                width: 100%;
                height: 2rem;

                .left-RMh {
                  margin-right: 13.7rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .av-playlistaddcheck-aEb {
                    width: 1.716rem;
                    height: 1.1327rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 2.367rem 0.034rem 0rem;
                  }
                  .open-tasks--6Cw {
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                  }
                }
                .item-12-cwy {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .budget-xkw {
                margin: 0rem 0.1rem 0rem 0.417rem;
                width: calc(100% - 0.5167rem);
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .left-HHR {
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 12.1rem;
                  height: 100%;
                  display: flex;

                  .editor-attachmoney-SAK {
                    flex-shrink: 0;
                    margin-right: 2.8333rem;
                    width: 0.8333rem;
                    height: 1.5rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .budget--mTV {
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .item-556600-uZh {
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
        .card-avj {
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          padding-bottom: 2.25rem;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;

          .head-LQ7 {
            box-sizing: border-box;
            padding-right: 13.4rem;
            width: 100%;
            border: solid 0.2rem #f5f6f7;
            margin-bottom: 2.25rem;
            height: 7rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .logo-fxB {
              margin-right: 2rem;
              width: 7rem;
              height: 7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .center-ChD {
              margin: 1.5rem 0;
              height: calc(100% - 3rem);
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .tinder-apps-YWB {
                font-size: 1.2rem;
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .electronic-HTm {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
                color: #adb8cc;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
          }
          .content-bzF {
            width: calc(100% - 4.3333rem);
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 2rem 0rem 2.333rem;

            .project-KfM {
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 1rem 0.167rem;
              width: calc(100% - 0.1667rem);

              .left-Sjy {
                margin-right: 13.2rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .content-sort-QB1 {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.5rem;
                  width: 1.5rem;
                  height: 1rem;
                }
                .open-projects--jDH {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .item-8-4mM {
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .employees-CsZ {
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2rem;
              display: flex;

              .left-KSP {
                margin-right: 14.7rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-group-ToV {
                  flex-shrink: 0;
                  margin: 0rem 2.333rem 0rem 0rem;
                  width: 1.8333rem;
                  height: 1.1667rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .employees--PBM {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .item-4-XHZ {
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
              }
            }
            .auto-group-pjuu-TS7 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1rem 0rem 0rem 0.083rem;
              width: 100%;
              align-items: flex-end;

              .open-tasks-yfM {
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 1rem;

                .left-WQP {
                  margin-right: 13.7rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .av-playlistaddcheck-4B1 {
                    width: 1.716rem;
                    height: 1.1327rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin: 0rem 2.367rem 0.034rem 0rem;
                  }
                  .open-tasks--AUw {
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .item-12-hUs {
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                }
              }
              .budget-32w {
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 0.1rem 0rem 0.417rem;
                width: calc(100% - 0.5167rem);

                .left-mDq {
                  margin-right: 12.1rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .editor-attachmoney-KWF {
                    width: 0.8333rem;
                    height: 1.5rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 2.8333rem;
                  }
                  .budget--rm5 {
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                  }
                }
                .item-556600-Cpw {
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
            }
          }
        }
        .card-HrP {
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;
          padding-bottom: 2.25rem;
          width: 100%;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          box-sizing: border-box;

          .head-dQT {
            display: flex;
            flex-shrink: 0;
            width: 100%;
            height: 7rem;
            padding-right: 14.4rem;
            align-items: center;
            border: solid 0.2rem #f5f6f7;
            margin-bottom: 2.25rem;
            box-sizing: border-box;

            .logo-ZZ1 {
              height: 7rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 2rem;
              width: 7rem;
            }
            .center-74j {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 1.5rem 0;
              height: calc(100% - 3rem);

              .ford-auto-Fgj {
                font-weight: 700;
                line-height: 1.6666666667;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.2rem;
              }
              .electronic-zeK {
                font-weight: 700;
                line-height: 2;
                color: #adb8cc;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
              }
            }
          }
          .content-iaK {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 2rem 0rem 2.333rem;
            width: calc(100% - 4.3333rem);
            align-items: flex-end;
            display: flex;

            .project-SmD {
              margin: 0rem 0rem 1rem 0.167rem;
              width: calc(100% - 0.1667rem);
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-moV {
                margin-right: 13.2rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .content-sort-iyd {
                  flex-shrink: 0;
                  margin-right: 2.5rem;
                  width: 1.5rem;
                  height: 1rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .open-projects--TgK {
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                }
              }
              .item-8-Q5m {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
                color: #4d5e80;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .employees-wrP {
              width: 100%;
              height: 2rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-tWj {
                align-items: center;
                flex-shrink: 0;
                margin-right: 14.7rem;
                height: 100%;
                display: flex;

                .social-group-2N3 {
                  margin: 0rem 2.333rem 0rem 0rem;
                  width: 1.8333rem;
                  height: 1.1667rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .employees--jXM {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .item-4-ffu {
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1rem;
                font-weight: 700;
                line-height: 2;
                color: #4d5e80;
              }
            }
            .auto-group-8dl3-cLF {
              flex-direction: column;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1rem 0rem 0rem 0.083rem;
              width: 100%;
              align-items: flex-end;
              display: flex;

              .open-tasks-wdR {
                width: 100%;
                height: 2rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-bottom: 1rem;

                .left-tHm {
                  flex-shrink: 0;
                  margin-right: 13.7rem;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .av-playlistaddcheck-dm9 {
                    flex-shrink: 0;
                    margin: 0rem 2.367rem 0.034rem 0rem;
                    width: 1.716rem;
                    height: 1.1327rem;
                    object-fit: contain;
                    vertical-align: top;
                  }
                  .open-tasks--9jV {
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .item-12-twy {
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                  font-weight: 700;
                }
              }
              .budget-qMR {
                align-items: center;
                flex-shrink: 0;
                margin: 0rem 0.1rem 0rem 0.417rem;
                width: calc(100% - 0.5167rem);
                height: 2rem;
                display: flex;

                .left-APh {
                  margin-right: 12.1rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .editor-attachmoney-WyM {
                    height: 1.5rem;
                    object-fit: contain;
                    vertical-align: top;
                    flex-shrink: 0;
                    margin-right: 2.8333rem;
                    width: 0.8333rem;
                  }
                  .budget--8tF {
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1rem;
                    font-weight: 700;
                    line-height: 2;
                    color: #4d5e80;
                  }
                }
                .item-556600-sqq {
                  font-weight: 700;
                  line-height: 2;
                  color: #4d5e80;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }
  }
}
