
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120rem;
}.clients-1200-6jq {
  position: relative;
  align-items: center;
  display: flex;
  padding-bottom: 3rem;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #f7f8fa;

  .navigate-Pyq {
    box-sizing: border-box;
    padding: 2.5rem;
    width: 100%;
    height: 10rem;
    border: solid 0.2rem #edeff2;
    flex-shrink: 0;
    margin-bottom: 3rem;

    .content-imD {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-GXq {
        flex-shrink: 0;
        margin-right: 10.55rem;
        height: 100%;
        display: flex;
        align-items: center;

        .button-DCB {
          margin-right: 3.5rem;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
        }
        .constructor-8pw {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.6666666667;
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .menu-e2b {
        margin: 1.25rem 11.75rem 1.25rem 0rem;
        height: calc(100% - 2.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .dashboard-9V9 {
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .about-us-sR9 {
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
        }
        .news-Qfy {
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .user-policy-YXH {
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
        }
        .contacts-Uvj {
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .icon-DtK {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.6rem;
          height: 0.4rem;
        }
      }
      .right-ZBV {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .user-7D1 {
          align-items: center;
          flex-shrink: 0;
          margin: 1.25rem 3rem 1.25rem 0rem;
          height: calc(100% - 2.5rem);
          display: flex;

          .icon-Sm5 {
            margin-right: 2rem;
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .clayton-santos-zGo {
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .control-iTh {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          column-gap: 1rem;
          align-items: center;

          .button-sLb {
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .notification-cZ5 {
            width: 5rem;
            height: 5rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .button-xN3 {
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
          }
        }
      }
    }
  }
  .content-U5V {
    align-items: center;
    border: solid 0.2rem #edeff2;
    border-radius: 3rem;
    flex-shrink: 0;
    margin: 0rem 2.5rem 0rem 4.5rem;
    width: calc(100% - 7rem);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .head-bfu {
      height: 8rem;
      border: solid 0.1rem #edeff2;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-left: 4.5rem;
      width: 100%;

      .icon-tab-9hR {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .tab-uRh {
          align-items: center;
          flex-shrink: 0;
          margin: 3rem 3rem 3rem 0rem;
          height: calc(100% - 6rem);
          display: flex;

          .icon-qKM {
            width: 2rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 1rem;
          }
          .tab-AMd {
            text-align: center;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .tab-6WB {
          align-items: center;
          border: solid 0.2rem #3360ff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 3rem 1rem 3rem 0.6rem;
          height: 100%;
          display: flex;

          .icon-RoM {
            margin-right: 1.1rem;
            width: 1.8rem;
            height: 1.8rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .tab-Z8s {
            font-weight: 900;
            line-height: 1.6666666667;
            color: #3360ff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.2rem;
          }
        }
        .auto-group-vvym-57D {
          width: 85.9rem;
          height: 100%;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 0.5rem 0rem 0.5rem 69.5rem;

          .auto-group-c8go-nGX {
            height: 5.5rem;
            margin-bottom: 1.5rem;
            box-sizing: border-box;
            padding-top: 1.5rem;
            width: 100%;

            .button-Jkf {
              width: 12.4rem;
              height: 100%;
              line-height: 1.6666666667;
              white-space: nowrap;
              display: flex;
              box-sizing: border-box;
              text-align: center;
              color: #ffffff;
              align-items: center;
              margin-right: 4rem;
              font-size: 1.2rem;
              box-shadow: 0 1rem 3rem rgba(51, 97, 255, 0.150000006);
              background-color: #3360ff;
              font-weight: 900;
              font-family: Roboto, 'Source Sans Pro';
              justify-content: center;
              border: solid 0.2rem #3360ff;
              border-radius: 2rem;
            }
          }
        }
      }
    }
    .auto-group-zt2w-ukT {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-bottom: 3.5rem;
      width: 100%;
      align-items: center;

      .head-rfh {
        border: solid 0.1rem #edeff2;
        margin: 0rem 2rem 6rem 0rem;
        padding: 2rem 4rem;
        height: 8rem;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        column-gap: 15.35rem;

        .clients-46-companies-a5u {
          line-height: 2.1428571429;
          color: #6b7a99;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 700;
        }
        .center-J1u {
          height: 100%;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-button-Fhq {
            margin-right: 2rem;
            width: 8.6rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .input-nxf {
            align-items: center;
            box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
            flex-shrink: 0;
            padding: 1rem 11.2rem 1rem 1.98rem;
            height: 100%;
            background-color: #ffffff;
            border-radius: 3rem;
            box-sizing: border-box;
            display: flex;

            .icon-LDV {
              margin: 0rem 1.556rem 0.075rem 0rem;
              width: 1.3639rem;
              height: 1.3647rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .text-rhd {
              line-height: 2;
              color: #7d8fb3;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 900;
            }
          }
        }
        .sort-9Rq {
          display: flex;
          column-gap: 2.3rem;
          align-items: center;
          flex-shrink: 0;
          margin: 1rem 0;
          height: calc(100% - 2rem);

          .sort-by--UU7 {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #6b7a99;
          }
          .name-1U3 {
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #3360ff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .budget-YTy {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
          }
          .projects-HgT {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .tasks-S3Z {
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
        }
      }
      .table-wW7 {
        flex-shrink: 0;
        margin: 0rem 5.5rem 0rem 3.5rem;
        width: calc(100% - 9rem);
        display: flex;
        flex-direction: column;

        .row-G2b {
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 0rem 4rem 2rem;

          .logo-zUP {
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.4rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .name-company-LHM {
            margin-right: 16.25rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .open-projects-rmV {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.95rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
          }
          .members-A1V {
            flex-shrink: 0;
            margin-right: 12.75rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .open-tasks-6A3 {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 10.4rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
          }
          .budget-QwR {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.15rem;
          }
          .controls-M5y {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .row-sq1 {
          height: 9rem;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2rem 3.5rem 2rem 2rem;
          width: 100%;
          display: flex;
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;

          .avatar-image-ajR {
            margin-right: 4rem;
            width: 5rem;
            height: 100%;
            background-color: rgba(255, 203, 51, 0.3000000119);
            border-radius: 300rem;
            flex-shrink: 0;

            .auto-group-cxrh-jMR {
              width: 5rem;
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .left-dr7 {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 8.75rem;
            height: 100%;
            display: flex;

            .carrie-alexander-P4b {
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
            }
            .account-manager-v4X {
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              line-height: 2;
            }
          }
          .bmw-company-rTy {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.35rem;
            font-size: 1.2rem;
          }
          .zomaomazaibgov-PTu {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.2rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-840-574-8039-KsM {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .item-10-Sh5 {
            margin-right: 9.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .cell-yh1 {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-Gw1 {
          box-sizing: border-box;
          width: 100%;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          padding: 2rem 3.5rem 2rem 2rem;
          height: 9rem;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          flex-shrink: 0;

          .avatar-image-nPZ {
            border-radius: 300rem;
            flex-shrink: 0;
            margin-right: 4rem;
            width: 5rem;
            height: 100%;
            background-color: rgba(136, 51, 255, 0.200000003);

            .auto-group-qpqz-KeP {
              width: 5rem;
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .left-SDD {
            margin-right: 9.5rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .gabriel-hart-yiw {
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .account-manager-74T {
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              line-height: 2;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .fed-ex-company-Ees {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .zomaomazaibgov-meo {
            margin-right: 6.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-840-574-8039-Vqh {
            margin-right: 11.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-10-Dmh {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.3rem;
            font-size: 1.2rem;
          }
          .cell-9fM {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-3kj {
          padding: 2rem 3.5rem 2rem 2rem;
          width: 100%;
          height: 9rem;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .avatar-image-A4f {
            margin-right: 4rem;
            width: 5rem;
            height: 100%;
            background-color: rgba(40, 204, 56, 0.200000003);
            border-radius: 300rem;
            flex-shrink: 0;

            .auto-group-gyn3-Jgf {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 5rem;
              height: 5rem;
            }
          }
          .left-DHq {
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 7.85rem;

            .virginia-roberson-m4T {
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .account-manager-66j {
              font-weight: 700;
              line-height: 2;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
            }
          }
          .tinder-company-Ruh {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.05rem;
            font-size: 1.2rem;
          }
          .zomaomazaibgov-xud {
            margin-right: 6.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-840-574-8039-VuZ {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.1rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-10-E6T {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .cell-ZPd {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-Tju {
          height: 9rem;
          display: flex;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          width: 100%;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          border-radius: 0.5rem;
          margin-bottom: 1.5rem;
          padding: 2rem 3.5rem 2rem 2rem;

          .avatar-image-yTM {
            flex-shrink: 0;
            margin-right: 4rem;
            width: 5rem;
            height: 100%;
            background-color: rgba(204, 116, 40, 0.3000000119);
            border-radius: 300rem;

            .auto-group-azdm-KGK {
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 5rem;
            }
          }
          .left-EeB {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 8.55rem;
            height: 100%;
            display: flex;

            .sallie-chandler-PX5 {
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .account-manager-XNP {
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              line-height: 2;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .samsung-company-GKy {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.25rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .zomaomazaibgov-zmm {
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.2rem;
            font-size: 1.2rem;
            font-weight: 700;
          }
          .item-840-574-8039-LKq {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.1rem;
          }
          .item-10-rZ5 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .cell-BrF {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-hJo {
          width: 100%;
          height: 9rem;
          display: flex;
          background-color: #ffffff;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          box-sizing: border-box;
          padding: 2rem 3.5rem 2rem 2rem;
          align-items: center;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);

          .avatar-image-14b {
            margin-right: 4rem;
            width: 5rem;
            height: 100%;
            background-color: rgba(51, 97, 255, 0.3000000119);
            border-radius: 300rem;
            flex-shrink: 0;

            .auto-group-ulzt-9Rh {
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 5rem;
            }
          }
          .left-ThH {
            margin-right: 10.4rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .esther-bates-nDm {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
            }
            .account-manager-KDh {
              line-height: 2;
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
            }
          }
          .kik-company-SZD {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.9rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .zomaomazaibgov-Ak7 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .item-840-574-8039-gyM {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.1rem;
          }
          .item-10-pJs {
            margin-right: 9.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .cell-kiK {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            width: 9.5rem;
            height: 4rem;
          }
        }
        .row-Ff5 {
          box-sizing: border-box;
          padding: 2rem 3.5rem 2rem 2rem;
          display: flex;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          flex-shrink: 0;
          margin-bottom: 1.5rem;
          width: 100%;
          height: 9rem;
          align-items: center;
          background-color: #ffffff;
          border-radius: 0.5rem;

          .avatar-image-m7d {
            height: 100%;
            background-color: rgba(230, 46, 46, 0.5);
            border-radius: 300rem;
            flex-shrink: 0;
            margin-right: 4rem;
            width: 5rem;

            .auto-group-bnqm-VpK {
              width: 5rem;
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .left-DEX {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 9.65rem;
            height: 100%;
            display: flex;

            .mabel-obrien-mG3 {
              font-weight: 700;
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
            }
            .account-manager-J15 {
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              line-height: 2;
              color: #adb8cc;
            }
          }
          .fedex-company-S7H {
            flex-shrink: 0;
            margin-right: 6.15rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .zomaomazaibgov-Zhh {
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.2rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
          }
          .item-840-574-8039-VrF {
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 11.1rem;
          }
          .item-10-RV1 {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 9.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
          }
          .cell-Z5R {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row-s67 {
          box-sizing: border-box;
          padding: 2rem 3.5rem 2rem 2rem;
          flex-shrink: 0;
          box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
          background-color: #ffffff;
          border-radius: 0.5rem;
          width: 100%;
          height: 9rem;
          display: flex;
          align-items: center;

          .avatar-image-NYf {
            background-color: rgba(51, 190, 255, 0.3000000119);
            border-radius: 300rem;
            flex-shrink: 0;
            margin-right: 4rem;
            width: 5rem;
            height: 100%;

            .auto-group-dgr3-7m9 {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 5rem;
              height: 5rem;
            }
          }
          .left-2NK {
            margin-right: 8.75rem;
            height: 100%;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .brent-cruz-mqh {
              line-height: 1.6666666667;
              color: #4d5e80;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-bottom: 1rem;
              font-size: 1.2rem;
              font-weight: 700;
            }
            .account-manager-Jqd {
              color: #adb8cc;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 700;
              line-height: 2;
            }
          }
          .samsung-company-eeb {
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.25rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
          }
          .zomaomazaibgov-B8j {
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 6.2rem;
            font-size: 1.2rem;
          }
          .item-840-574-8039-Wgo {
            margin-right: 11.1rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-10-qDH {
            flex-shrink: 0;
            margin-right: 9.3rem;
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
          .cell-9zf {
            width: 9.5rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
