
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 117rem;
}.color-dropdown-SP1 {
  width: 100%;
  display: flex;
  column-gap: 5rem;
  align-items: center;
  border: dashed 0.1rem #3360ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 5rem;

  .typecolor-cornerrounded-stylelight-j7D {
    box-sizing: border-box;
    width: 23rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.5rem;
    padding: 1rem;
    height: 15rem;
    border: solid 0.2rem #f5f6f7;
    flex-shrink: 0;

    .group-2-qg3 {
      height: 11rem;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) -2.56%, rgba(0, 11, 255, 0.5) 100%);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 0.7rem;
      box-sizing: border-box;
      padding: 3.2rem 2.9rem 3.2rem 16.8rem;
      width: 100%;

      .oval-9wd {
        border-radius: 0.65rem;
        width: 100%;
        height: 1.3rem;
        border: solid 0.2rem #ffffff;
        box-sizing: border-box;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.0700000003);
        background-color: #7478ce;
      }
    }
    .group-BtK {
      vertical-align: top;
      flex-shrink: 0;
      width: 20rem;
      height: 1.3rem;
      position: relative;
      object-fit: contain;
    }
  }
  .typecolor-cornerractangle-stylelight-HwM {
    padding: 1rem;
    width: 23rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 0.5rem;
    flex-shrink: 0;
    box-sizing: border-box;
    height: 15rem;
    border: solid 0.2rem #f5f6f7;

    .group-2-cTq {
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 0.7rem;
      box-sizing: border-box;
      padding: 3.2rem 2.9rem 3.2rem 16.8rem;
      width: 100%;
      height: 11rem;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) -2.56%, rgba(0, 11, 255, 0.5) 100%);

      .oval-K7M {
        box-sizing: border-box;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.0700000003);
        background-color: #7478ce;
        border-radius: 0.65rem;
        width: 100%;
        height: 1.3rem;
        border: solid 0.2rem #ffffff;
      }
    }
    .group-N5d {
      width: 20rem;
      height: 1.3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
  .typecolor-cornerrounded-styledark-5Vq {
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    background-color: #202b40;
    border-radius: 1.5rem;
    padding: 1rem;
    width: 23rem;
    height: 15rem;
    display: flex;
    border: solid 0.2rem #2d3c59;
    flex-shrink: 0;

    .group-2-18b {
      height: 11rem;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) -2.56%, rgba(0, 11, 255, 0.5) 100%);
      border-radius: 1rem;
      flex-shrink: 0;
      margin-bottom: 0.7rem;
      box-sizing: border-box;
      padding: 3.2rem 2.9rem 3.2rem 16.8rem;
      width: 100%;

      .oval-8U7 {
        border: solid 0.2rem #ffffff;
        box-sizing: border-box;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.0700000003);
        background-color: #7478ce;
        border-radius: 0.65rem;
        width: 100%;
        height: 1.3rem;
      }
    }
    .group-CTy {
      height: 1.3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      width: 20rem;
    }
  }
  .typecolor-cornerractangle-styledark-6JT {
    width: 23rem;
    height: 15rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #202b40;
    border-radius: 0.5rem;
    padding: 1rem;
    border: solid 0.2rem #2d3c59;
    flex-shrink: 0;
    box-sizing: border-box;

    .group-2-R5q {
      box-sizing: border-box;
      padding: 3.2rem 2.9rem 3.2rem 16.8rem;
      width: 100%;
      height: 11rem;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.5) -2.56%, rgba(0, 11, 255, 0.5) 100%);
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 0.7rem;

      .oval-9Gj {
        width: 100%;
        height: 1.3rem;
        border: solid 0.2rem #ffffff;
        box-sizing: border-box;
        box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.0700000003);
        background-color: #7478ce;
        border-radius: 0.65rem;
      }
    }
    .group-QyM {
      flex-shrink: 0;
      width: 20rem;
      height: 1.3rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
    }
  }
}
