
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 120rem;
}.layout-1200-wQB {
  width: 100%;
  height: 117.5rem;
  position: relative;
  overflow: hidden;
  background-color: #f7f8fa;

  .navigate-T7d {
    top: 0;
    border: solid 0.2rem #edeff2;
    box-sizing: border-box;
    padding: 2.5rem;
    width: 120rem;
    height: 10rem;
    position: absolute;
    left: 0;

    .content-NkP {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .logo-8Uf {
        margin-right: 10.55rem;
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .button-HMZ {
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
          margin-right: 3.5rem;
          width: 5rem;
          height: 5rem;
        }
        .constructor-QSB {
          line-height: 1.6666666667;
          color: #4d5e80;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.8rem;
          font-weight: 700;
        }
      }
      .menu-87H {
        margin: 1.25rem 11.75rem 1.25rem 0rem;
        height: calc(100% - 2.5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .dashboard-2yM {
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .about-us-ZTV {
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .news-H8b {
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
        }
        .user-policy-cRm {
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.5rem;
        }
        .contacts-wyq {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.9230769231;
          color: #7d8fb3;
          font-family: Roboto, 'Source Sans Pro';
        }
        .icon-ggX {
          height: 0.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          width: 1.6rem;
        }
      }
      .right-cq5 {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .user-aX1 {
          margin: 1.25rem 3rem 1.25rem 0rem;
          height: calc(100% - 2.5rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .icon-WvT {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 2rem;
            height: 2rem;
          }
          .clayton-santos-rzK {
            color: #6b7a99;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
            line-height: 1.9230769231;
          }
        }
        .control-o8s {
          height: 100%;
          display: flex;
          column-gap: 1rem;
          align-items: center;
          flex-shrink: 0;

          .button-9Td {
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
          }
          .notification-5cB {
            vertical-align: top;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            position: relative;
            object-fit: contain;
          }
          .button-EEB {
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
          }
        }
      }
    }
  }
  .content-jAw {
    position: absolute;
    left: 4.5rem;
    top: 13rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(230, 46, 46, 0.0500000007);
    box-sizing: border-box;
    padding: 9rem 50.8rem 47.75rem 50.8rem;
    width: 111rem;
    height: 101.5rem;

    .navigate-top-QXy {
      max-width: 9.4rem;
      text-align: center;
      font-size: 2.2rem;
      font-weight: 900;
      line-height: 1.3636363636;
      color: #e62e2e;
      margin-bottom: 29.75rem;
      font-family: Roboto, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .content-block-uzX {
      margin-right: 0.1rem;
      max-width: 7.9rem;
      font-size: 2.2rem;
      line-height: 1.3636363636;
      color: #e62e2e;
      font-family: Roboto, 'Source Sans Pro';
      text-align: center;
      font-weight: 900;
      flex-shrink: 0;
    }
  }
  .sidebar-ce3 {
    left: 0;
    top: 0;
    display: flex;
    width: 43rem;
    height: 117rem;
    flex-direction: column;
    box-shadow: 0 6rem 12rem rgba(38, 51, 77, 0.1000000015);
    background-color: #ffffff;
    position: absolute;
    align-items: center;

    .navigate-iKh {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.5rem;
      width: 100%;
      height: 10rem;
      border: solid 0.2rem #f5f6f7;

      .content-QyD {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        .logo-9fu {
          flex-shrink: 0;
          margin-right: 14.9rem;
          height: 100%;
          display: flex;
          align-items: center;

          .button-Fiw {
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            margin-right: 3.5rem;
            width: 5rem;
          }
          .constructor-aFR {
            font-size: 1.8rem;
            font-weight: 700;
            line-height: 1.6666666667;
            color: #4d5e80;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .button-VNP {
          border-radius: 10rem;
          flex-shrink: 0;
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .content-NBH {
      height: 107rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      width: 100%;

      .left-menu-67H {
        display: flex;
        border: solid 0.2rem #f5f6f7;
        height: 100%;
        padding: 3rem 2.5rem;
        width: 10rem;
        row-gap: 11.5rem;
        align-items: center;
        flex-direction: column;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;

        .top-zTZ {
          row-gap: 2rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;

          .button-hsm {
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
          }
          .button-eY7 {
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
          }
          .button-awZ {
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
          }
          .button-w1R {
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
          }
          .button-GpP {
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
          }
          .button-pL7 {
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 10rem;
            flex-shrink: 0;
          }
        }
        .button-APy {
          width: 5rem;
          height: 5rem;
          object-fit: contain;
          vertical-align: top;
          border-radius: 10rem;
          flex-shrink: 0;
        }
        .bottom-Vh9 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          row-gap: 2rem;
          align-items: center;

          .avatar-image-bkB {
            background-color: rgba(230, 46, 46, 0.400000006);
            border-radius: 300rem;
            background-position: center;
            width: 100%;
            height: 5rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:B84tXVLdZqtkJ58HSgMjTV');
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 4rem;

            .status-Xdq {
              width: 100%;
              height: 1rem;
              box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
              background-color: #3360ff;
              border-radius: 10rem;
            }
          }
          .avatar-image-o5Z {
            background-color: rgba(136, 51, 255, 0.200000003);
            border-radius: 300rem;
            flex-shrink: 0;
            width: 100%;

            .auto-group-6fvh-9QK {
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 5rem;
            }
          }
          .avatar-image-GE3 {
            width: 100%;
            background-color: rgba(255, 102, 51, 0.3000000119);
            border-radius: 300rem;
            flex-shrink: 0;

            .auto-group-rkoy-Duy {
              width: 5rem;
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .avatar-image-7VZ {
            width: 100%;
            background-color: rgba(255, 203, 51, 0.8999999762);
            border-radius: 300rem;
            flex-shrink: 0;

            .auto-group-zl3q-4vb {
              width: 5rem;
              height: 5rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .button-NwH {
            border-radius: 10rem;
            flex-shrink: 0;
            width: 5rem;
            height: 5rem;
            object-fit: contain;
            vertical-align: top;
          }
        }
      }
      .sidebar-FVH {
        height: 100%;
        row-gap: 4.25rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        padding: 3rem 2rem 6.25rem 3rem;
        width: 33rem;
        flex-shrink: 0;
        background-color: #ffffff;

        .main-menu-V8j {
          flex-shrink: 0;
          width: 100%;
          display: flex;
          flex-direction: column;

          .main-menu-PV1 {
            margin-bottom: 2rem;
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .dashboard-sQB {
            box-sizing: border-box;
            width: 100%;
            height: 6rem;
            box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
            flex-shrink: 0;
            margin-bottom: 2.25rem;
            padding: 1.75rem 2.482rem 1.75rem 2.1rem;
            background-color: #3360ff;
            border-radius: 1rem;

            .content-wQ3 {
              display: flex;
              align-items: center;
              width: 100%;
              height: 100%;

              .left-rG7 {
                flex-shrink: 0;
                margin-right: 11.6rem;
                height: 100%;
                display: flex;
                align-items: center;

                .action-dashboard-Mif {
                  margin-right: 2.6rem;
                  width: 1.8rem;
                  height: 1.8rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .dashboard-EnT {
                  flex-shrink: 0;
                  font-size: 1.3rem;
                  font-weight: 900;
                  line-height: 1.9230769231;
                  color: #ffffff;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .navigation-expandmore-XFm {
                flex-shrink: 0;
                margin-top: 0.0585rem;
                width: 1.1175rem;
                height: 0.6585rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
          .content-WNb {
            margin: 0rem 2.482rem 0rem 1.9rem;
            width: calc(100% - 4.3825rem);
            align-items: flex-end;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .applocations-BDq {
              width: calc(100% - 0.3rem);
              height: 2.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 0rem 2rem 0.3rem;

              .left-TBM {
                flex-shrink: 0;
                margin-right: 10.1rem;
                height: 100%;
                display: flex;
                align-items: center;

                .navigation-apps-kRM {
                  margin-right: 2.7rem;
                  width: 1.6rem;
                  height: 1.6rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .applocations-CHM {
                  font-size: 1.3rem;
                  font-weight: 900;
                  line-height: 1.9230769231;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-expandmore-5M9 {
                width: 1.1175rem;
                height: 0.6585rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.0585rem;
              }
            }
            .clients-ANb {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2.5rem;

              .left-sH1 {
                margin-right: 9.8rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .social-group-pT9 {
                  margin-right: 2.4rem;
                  width: 2.2rem;
                  height: 1.4rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .clients-uzP {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.3rem;
                  font-weight: 900;
                  line-height: 1.9230769231;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .right-1nX {
                margin: 0.25rem 0;
                height: calc(100% - 0.5rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .badge-v8o {
                  border-radius: 1.5rem;
                  flex-shrink: 0;
                  font-family: Roboto, 'Source Sans Pro';
                  border: solid 0.2rem #3360ff;
                  text-align: center;
                  font-size: 0.8rem;
                  line-height: 2.5;
                  color: #ffffff;
                  align-items: center;
                  justify-content: center;
                  box-sizing: border-box;
                  margin-right: 1.9rem;
                  height: 100%;
                  font-weight: 900;
                  display: flex;
                  width: 2rem;
                  white-space: nowrap;
                  background-color: #3360ff;
                }
                .navigation-expandmore-quy {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-top: 0.0585rem;
                  width: 1.1175rem;
                  height: 0.6585rem;
                  object-fit: contain;
                }
              }
            }
          }
        }
        .projects-vRd {
          row-gap: 2.25rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          border: solid 0.2rem #edeff2;
          background-color: #f7f8fa;
          box-sizing: border-box;
          padding: 1.75rem 1.5rem 3.25rem 1.5rem;
          border-radius: 1.5rem;
          width: 100%;
          flex-shrink: 0;

          .projects-pX1 {
            margin: 0rem 0.882rem 0rem 0.5rem;
            width: calc(100% - 1.3825rem);
            height: 2.5rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .left-WPq {
              margin-right: 13.1rem;
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .places-businesscenter-3Pm {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-right: 2.5rem;
                width: 2rem;
                height: 1.8rem;
              }
              .projects-Y5d {
                line-height: 1.9230769231;
                color: #3360ff;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 1.3rem;
                font-weight: 900;
              }
            }
            .hardware-keyboardarrowup-Swh {
              height: 0.6585rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.0585rem;
              width: 1.1175rem;
            }
          }
          .content-83q {
            box-sizing: border-box;
            display: flex;
            border-radius: 1rem;
            flex-shrink: 0;
            padding-bottom: 1.75rem;
            width: 100%;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 0.2rem 0.5rem rgba(38, 51, 77, 0.0299999993);
            background-color: #ffffff;

            .head-TM1 {
              width: 100%;
              display: flex;
              border: solid 0.2rem #f5f6f7;
              flex-shrink: 0;
              box-sizing: border-box;
              padding: 1.75rem 2.482rem 1.75rem 2.6rem;
              align-items: center;
              margin-bottom: 1.75rem;
              height: 6rem;

              .left-wGB {
                align-items: center;
                flex-shrink: 0;
                margin-right: 5.4rem;
                height: 100%;
                display: flex;

                .icon-GJT {
                  margin: 0.1rem 2.2rem 0rem 0rem;
                  width: 0.7rem;
                  height: 0.7rem;
                  background-color: #3360ff;
                  border-radius: 0.7rem;
                  flex-shrink: 0;
                }
                .coca-cola-project-vdu {
                  font-weight: 900;
                  line-height: 1.9230769231;
                  color: #3360ff;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.3rem;
                }
              }
              .hardware-keyboardarrowup-2B9 {
                height: 0.6585rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.0585rem;
                width: 1.1175rem;
              }
            }
            .content-UJ3 {
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0rem 2.642rem 0rem 2.6rem;
              width: calc(100% - 5.2415rem);
              row-gap: 1.5rem;

              .projects-jUs {
                width: 100%;
                height: 2.5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .left-4GF {
                  margin-right: 9.5rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .icon-C7Z {
                    margin: 0.1rem 2.2rem 0rem 0rem;
                    width: 0.7rem;
                    height: 0.7rem;
                    background-color: #c3cad9;
                    border-radius: 0.7rem;
                    flex-shrink: 0;
                  }
                  .link-colors-qwD {
                    font-size: 1.3rem;
                    font-weight: 700;
                    line-height: 1.9230769231;
                    color: #7d8fb3;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .hardware-keyboardarrowright-xW3 {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0825rem;
                  width: 0.6585rem;
                  height: 1.1175rem;
                }
              }
              .projects-nEB {
                align-items: center;
                flex-shrink: 0;
                width: 100%;
                height: 2.5rem;
                display: flex;

                .left-JCX {
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;
                  margin-right: 5.2rem;

                  .icon-pwZ {
                    background-color: #3360ff;
                    border-radius: 0.7rem;
                    flex-shrink: 0;
                    margin: 0.1rem 2.2rem 0rem 0rem;
                    width: 0.7rem;
                    height: 0.7rem;
                  }
                  .additional-content-5cb {
                    font-weight: 900;
                    line-height: 1.9230769231;
                    color: #3360ff;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.3rem;
                  }
                }
                .hardware-keyboardarrowright-yT5 {
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-bottom: 0.0825rem;
                  width: 0.6585rem;
                  height: 1.1175rem;
                  object-fit: contain;
                }
              }
              .projects-3Sw {
                width: 100%;
                height: 2.5rem;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .left-ybV {
                  flex-shrink: 0;
                  margin-right: 9.3rem;
                  height: 100%;
                  display: flex;
                  align-items: center;

                  .icon-tCf {
                    background-color: #c3cad9;
                    border-radius: 0.7rem;
                    flex-shrink: 0;
                    margin: 0.1rem 2.2rem 0rem 0rem;
                    width: 0.7rem;
                    height: 0.7rem;
                  }
                  .disimissing-NNj {
                    color: #7d8fb3;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                    font-size: 1.3rem;
                    font-weight: 700;
                    line-height: 1.9230769231;
                  }
                }
                .hardware-keyboardarrowright-Gj1 {
                  flex-shrink: 0;
                  margin-bottom: 0.0825rem;
                  width: 0.6585rem;
                  height: 1.1175rem;
                  object-fit: contain;
                  vertical-align: top;
                }
              }
              .projects-waF {
                flex-shrink: 0;
                width: 100%;
                height: 2.5rem;
                display: flex;
                align-items: center;

                .left-rhD {
                  margin-right: 4.1rem;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  flex-shrink: 0;

                  .icon-zHd {
                    flex-shrink: 0;
                    margin: 0.1rem 2.2rem 0rem 0rem;
                    width: 0.7rem;
                    height: 0.7rem;
                    background-color: #c3cad9;
                    border-radius: 0.7rem;
                  }
                  .java-script-behavior-2k7 {
                    font-size: 1.3rem;
                    font-weight: 700;
                    line-height: 1.9230769231;
                    color: #7d8fb3;
                    font-family: Roboto, 'Source Sans Pro';
                    white-space: nowrap;
                    flex-shrink: 0;
                  }
                }
                .hardware-keyboardarrowright-i79 {
                  margin-bottom: 0.0825rem;
                  width: 0.6585rem;
                  height: 1.1175rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
          }
          .footer-VXD {
            flex-direction: column;
            flex-shrink: 0;
            margin: 0rem 2.642rem 0rem 2.6rem;
            width: calc(100% - 5.2415rem);
            row-gap: 2rem;
            align-items: center;
            display: flex;

            .projects-A7Z {
              flex-shrink: 0;
              width: 100%;
              height: 2.5rem;
              display: flex;
              align-items: center;

              .left-rm5 {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 7.6rem;
                height: 100%;

                .icon-nej {
                  flex-shrink: 0;
                  margin: 0.1rem 2.2rem 0rem 0rem;
                  width: 0.7rem;
                  height: 0.7rem;
                  background-color: #c3cad9;
                  border-radius: 0.7rem;
                }
                .link-colors-qd1 {
                  font-size: 1.3rem;
                  font-weight: 700;
                  line-height: 1.9230769231;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .hardware-keyboardarrowright-LJs {
                height: 1.1175rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.0825rem;
                width: 0.6585rem;
              }
            }
            .projects-Cby {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2.5rem;

              .left-Xu9 {
                margin-right: 9.6rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .icon-UZV {
                  width: 0.7rem;
                  height: 0.7rem;
                  background-color: #c3cad9;
                  border-radius: 0.7rem;
                  flex-shrink: 0;
                  margin: 0.1rem 2.2rem 0rem 0rem;
                }
                .task-board-znj {
                  line-height: 1.9230769231;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.3rem;
                  font-weight: 700;
                }
              }
              .hardware-keyboardarrowright-LLo {
                margin-bottom: 0.0825rem;
                width: 0.6585rem;
                height: 1.1175rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .projects-rpw {
              width: 100%;
              height: 2.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-p15 {
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;
                margin-right: 4.9rem;

                .icon-mBD {
                  border-radius: 0.7rem;
                  flex-shrink: 0;
                  margin: 0.1rem 2.2rem 0rem 0rem;
                  width: 0.7rem;
                  height: 0.7rem;
                  background-color: #c3cad9;
                }
                .project-diagramma-5xb {
                  font-size: 1.3rem;
                  font-weight: 700;
                  line-height: 1.9230769231;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .hardware-keyboardarrowright-Dou {
                flex-shrink: 0;
                margin-bottom: 0.0825rem;
                width: 0.6585rem;
                height: 1.1175rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
        .applocations-VWX {
          height: 2.5rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 2.482rem 0rem 2.2rem;
          width: calc(100% - 4.6825rem);

          .left-bpT {
            margin-right: 10.1rem;
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .navigation-apps-9b5 {
              flex-shrink: 0;
              margin-right: 2.7rem;
              width: 1.6rem;
              height: 1.6rem;
              object-fit: contain;
              vertical-align: top;
            }
            .applocations-smy {
              flex-shrink: 0;
              font-size: 1.3rem;
              font-weight: 900;
              line-height: 1.9230769231;
              color: #7d8fb3;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .navigation-expandmore-1dH {
            width: 1.1175rem;
            height: 0.6585rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0585rem;
          }
        }
        .second-menu-w19 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 2.4825rem;

          .main-menu-Umm {
            font-size: 1.2rem;
            font-weight: 900;
            line-height: 1.6666666667;
            color: #7d8fb3;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.25rem;
          }
          .content-DDZ {
            margin-left: 2rem;
            width: 23.5175rem;
            row-gap: 2rem;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .applocations-jhh {
              height: 2.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              width: 100%;

              .left-HDR {
                margin-right: 10.3rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .action-comparearrows-RqR {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.058rem 2.5rem 0rem 0rem;
                  width: 2rem;
                  height: 1.2583rem;
                }
                .applocations-9Fd {
                  font-size: 1.3rem;
                  font-weight: 700;
                  line-height: 1.9230769231;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .navigation-expandmore-V4b {
                flex-shrink: 0;
                margin-top: 0.0585rem;
                width: 1.1175rem;
                height: 0.6585rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .applocations-Czb {
              align-items: center;
              flex-shrink: 0;
              width: 100%;
              height: 2.5rem;
              display: flex;

              .left-kmD {
                flex-shrink: 0;
                margin-right: 14.5rem;
                height: 100%;
                display: flex;
                align-items: center;

                .action-accountcircle-JXq {
                  margin-right: 2.5rem;
                  width: 2rem;
                  height: 2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .applocations-EgP {
                  flex-shrink: 0;
                  font-size: 1.3rem;
                  font-weight: 700;
                  line-height: 1.9230769231;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
              .navigation-expandmore-nC7 {
                margin-top: 0.0585rem;
                width: 1.1175rem;
                height: 0.6585rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .applocations-i5m {
              width: 100%;
              height: 2.5rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .left-fFu {
                margin-right: 13rem;
                height: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .action-settings-1qZ {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 2.5546rem;
                  width: 1.9454rem;
                  height: 2rem;
                }
                .applocations-wz7 {
                  white-space: nowrap;
                  flex-shrink: 0;
                  font-size: 1.3rem;
                  font-weight: 700;
                  line-height: 1.9230769231;
                  color: #7d8fb3;
                  font-family: Roboto, 'Source Sans Pro';
                }
              }
              .navigation-expandmore-gwh {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-top: 0.0585rem;
                width: 1.1175rem;
                height: 0.6585rem;
              }
            }
          }
        }
      }
    }
  }
}
