
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 64rem;
}.status-qoV {
  display: flex;
  column-gap: 4rem;
  align-items: center;
  border: dashed 0.1rem #3360ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 4rem;
  width: 100%;

  .typecolor-border-border2-stylelight-AKy {
    width: 1rem;
    height: 1rem;
    border: solid 0.2rem #3360ff;
    box-sizing: border-box;
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #ffffff;
    border-radius: 10rem;
    flex-shrink: 0;
  }
  .typecolor-border-border3-stylelight-4AT {
    width: 1rem;
    height: 1rem;
    border: solid 0.3rem #3360ff;
    box-sizing: border-box;
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #ffffff;
    border-radius: 10rem;
    flex-shrink: 0;
  }
  .typecenter-color-border4-stylelight-kZ5 {
    height: 1rem;
    border: solid 0.4rem #3360ff;
    box-sizing: border-box;
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #ffffff;
    border-radius: 10rem;
    flex-shrink: 0;
    width: 1rem;
  }
  .typecolor-center-border2-stylelight-TTV {
    width: 1rem;
    height: 1rem;
    border: solid 0.2rem #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #3360ff;
    border-radius: 10rem;
    flex-shrink: 0;
  }
  .typecolor-center-border3-stylelight-9bD {
    box-sizing: border-box;
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #3360ff;
    border-radius: 10rem;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    border: solid 0.3rem #ffffff;
  }
  .typecolor-center-border4-stylelight-3wV {
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #3360ff;
    border-radius: 10rem;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    border: solid 0.3rem #ffffff;
    box-sizing: border-box;
  }
  .typecolor-border-border2-styledark-MhH {
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #202b40;
    border-radius: 10rem;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    border: solid 0.2rem #3360ff;
    box-sizing: border-box;
  }
  .typecolor-center-border2-styledark-r8F {
    height: 1rem;
    border: solid 0.2rem #202b40;
    box-sizing: border-box;
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #3360ff;
    border-radius: 10rem;
    flex-shrink: 0;
    width: 1rem;
  }
  .typecolor-center-border3-styledark-M51 {
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #3360ff;
    border-radius: 10rem;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    border: solid 0.3rem #202b40;
    box-sizing: border-box;
  }
  .typecolor-center-border4-styledark-Ss9 {
    background-color: #3360ff;
    border-radius: 10rem;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    border: solid 0.3rem #202b40;
    box-sizing: border-box;
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
  }
  .typecolor-border-border3-styledark-x4o {
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    border: solid 0.3rem #3360ff;
    box-sizing: border-box;
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #202b40;
    border-radius: 10rem;
  }
  .typecenter-color-border4-styledark-3rw {
    border-radius: 10rem;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    border: solid 0.4rem #3360ff;
    box-sizing: border-box;
    box-shadow: 0 0.2rem 1rem rgba(38, 51, 77, 0.0299999993);
    background-color: #202b40;
  }
}
