<!DOCTYPE html>
<html th:replace="~{layoutExtend/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<section>
	<script>
		function errorMsg(error){
			if(error.status == 500 && error.code == "noSuch"){
				document.getElementById("idEmailNoSuch").style.display="block";
				document.getElementById("idEmailNoSuch").textContent = error.message;
			}
			
			if(error.status == 400){
				document.getElementById("certificationNumberError").style.display="block";
				document.getElementById("certificationNumberError").textContent = error.message;
			}
			
			if(error.status == 401){
				alert(error.message);
				document.getElementById("certificationNumber").value="";
				document.getElementById("certificationNumber").setAttribute("disabled",true);
				document.getElementById("check").setAttribute("disabled",true);
			}
			
			validationErrorMsg(error);
		}
		
		
		function certify(){
			let loginId = document.getElementById("loginId").value;
			let email = document.getElementById("email").value;
			
			fetch('/rest/member/password/modify?loginId='+loginId+"&email="+email, {
			  method: 'GET',
			})
			.then(response => {
				removeErrorMsg();
				
				if (!response.ok) {
					return response.json().then(errorData => {
				      	// 에러 응답 데이터에서 메시지를 확인
				      	throw errorData;
				    });
				}
				
				return response.json(); // JSON 형식으로 응답 처리
			})
			.then(data => {
				console.log(data);
				document.getElementById("certificationNumber").removeAttribute("disabled");
				document.getElementById("check").removeAttribute("disabled");
			})
			.catch(error => {
				console.log(error);
				errorMsg(error);
			});
		}
		
		function certifyCheck(){
			let findPasswordForm = new FormData(document.getElementById('findPasswordForm'));
			
			fetch('/rest/certify', {
			  method: 'POST',
			  body : findPasswordForm,
			})
			.then(response => {
				removeErrorMsg();
				
				if (!response.ok) {
					return response.json().then(errorData => {
				      	// 에러 응답 데이터에서 메시지를 확인
				      	throw errorData;
				    });
				}
				return response.json(); // JSON 형식으로 응답 처리
			})
			.then(data => {
				if(data){
					location.href="/member/password/modify";
				}
			})
			.catch(error => {
				console.log(error);
				errorMsg(error);
			});
		}
	</script>
	
	<div class="auto-group-nemd-yBD">
		<div class="center-wnF">
			<p class="form-label">비밀번호 찾기</p>
			<div class="input-pJb">
				<form id="findPasswordForm" th:object="${findPasswordForm}" th:action="@{/member/password/modify}">
					<input type="text" th:field="*{loginId}" class="input-basic" placeholder="아이디"/>
					<p class="error-none" id="loginIdError" th:text="#{member.login-id.notblank}">에러 메시지</p>
				    
					<input type="text" th:field="*{email}" class="input-basic" placeholder="이메일"/>
					<p class="error-none" id="emailError" th:text="#{member.email.notblank}">에러 메시지</p>
			    	<p class="error-none" id="idEmailNoSuch" th:text="#{member.id.email.bad-credentials}">에러 메시지</p>
			    	
					<input type="button" class="button-nqM" onclick="certify()" value="인증번호 발송">
					
					<input type="text" th:field="*{certificationNumber}" class="input-basic" placeholder="인증번호" style="margin-top:10px;" disabled/>
			    	<p class="error-none" id="certificationNumberError" th:text="#{member.certify-number.notblank}">에러 메시지</p>
					
					<input type="button" id="check" class="button-nqM" onclick="certifyCheck()" value="비밀번호 변경" disabled>
				</form>
				<a href="login" class="button-nqM">로그인 이동</a>
			</div>
		</div>
	</div>
</section>
</html>