<!DOCTYPE html>
<html th:replace="~{layoutExtend/layoutFile :: layout(~{::section})}" xmlns:th="http://www.thymeleaf.org">

<section>
	<div class="auto-group-nemd-yBD">
		<div class="center-wnF">
			<p class="form-label">비밀번호 변경</p>
			<div class="input-pJb">
				<form id="passwordModifyForm" th:object="${passwordModifyForm}" th:action="@{/member/password/modify}" method="post">
					<p class="error-text" th:errors="*{password}">비밀번호 오류 메시지</p>
					<input type="password" th:field="*{password}" class="input-basic" placeholder="비밀번호"/>
					<p class="error-text" th:errors="*{confirmPassword}">비밀번호 오류 메시지</p>
					<input type="password" th:field="*{confirmPassword}" class="input-basic" placeholder="비밀번호 확인"/>
					<input type="submit" class="button-nqM" value="비밀번호 변경">
				</form>
			</div>
		</div>
	</div>
</section>

</html>