<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="common_header">
	<meta charset="utf-8" />
	<link rel="icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="theme-color" content="#000000" />
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto%3A700%2C900"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro%3A700%2C900"/>
	<link rel="stylesheet" href="/styles/clients-1600.css"/>
	<link rel="stylesheet" href="/styles/input.css"/>
	<link rel="stylesheet" href="/styles/buttons.css"/>
	<link rel="stylesheet" href="/styles/game.css"/>
	<link rel="stylesheet" href="/styles/base.css"/>
	<link rel="stylesheet" href="/styles/tables.css"/>
	<link rel="stylesheet" href="/styles/notes-1600.css"/>
	<link rel="stylesheet" href="/styles/ranking-1600.css"/>
	<link rel="stylesheet" href="/styles/radio.css"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
	<script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
	<script src="/js/common.js"></script>
	<script src="/js/game.js"></script>
	<title>Aim Game</title>
	<!--<a href="https://www.flaticon.com/kr/free-icons/" title="번호 아이콘">번호 아이콘 제작자: riajulislam - Flaticon</a>-->
</header>
</html>